[2021-07-02 22:33] calvinalkan opened #509 "[BUG|Question] wp_set_auth_cookie pluggable is meaningless for test assertions."
Hi @lucatume ,

WP-browser overrides some pluggable functions like for example:
`wp_set_auth_cookie()`.

Inside `vendor/lucatume/wp-browser/src/includes/functions.php` this function is overwritten to the following:

[code]

I completly understand why this is done to avoid the `setcookie`call in the original function, but why are even filter parameters set to `null` ?

I pulled my hair out the last

[2021-07-02 23:51] jerclarke opened #510 "Can't install codeception/module-asserts because of ext-zip errors[SETUP ISSUE]"
**Environment**
OS: macOS Catalina 10.15.7
PHP version: 7.0.33 (through MAMP) (and ohters)
Installed Codeception version: 4.1.21
Installed wp-browser version: 3.0.7
WordPress version: 5.7
Local development environment: MAMP Pro
WordPress structure and management: default

**Did you use the `codecept init wpbrowser` command?**

Yes, I was following the ["Initializing WP Browser guide"](https://wpbr

[2021-07-03 22:17] jerclarke commented on #510
Ok, taking a second swing at this, I started a fresh directory and tried only installing the `facebook/webdriver` package, to isolate the problem:

<img width="1116" alt="Screen Shot 2021-07-03 at 5 07 00 PM" src="https://user-images.githubusercontent.com/139995/124367937-8fd40380-dc21-11eb-8ce8-022c0257396d.png">

Some more [digging around ](https://github.com/composer/composer/issues/9377#issuec

[2021-07-03 22:38] jerclarke commented on #510
Ok! Fixed it! The problem was that composer was using the "built in" macOS PHP version (`7.3.11`, which didn't have the zip extension installed) even though running `php -v` was returning `7.3.9` (the MAMP version, which **did** have the zip extension installed).

So I guess the thing I need to keep in mind is that the two things can be separate, and that the MAMP versions, despite seeming to work

[2021-07-04 07:40] simonhammes commented on #510
By running `composer require facebook/webdriver --dev`, you explicitly told Composer to install this package.
If you remove it and run `composer update` afterwards, it should install the latest version of https://packagist.org/packages/php-webdriver/webdriver (the vendor namespace changed from `facebook` to `php-webdriver`).

[2021-07-05 07:37] lucatume commented on #510
@jerclarke thanks for the updates, including the resolution. Others might have the same issue, so your feedback is appreciated and not out-of-place at all.

wp-browser, building on top of Codeception and, thus, on top of PHPUnit and a number of Symfony components, does come with baggage in terms of dependencies; there is little I can do to fix it.

wp-browser will clean after itself on a failed in

[2021-07-05 07:37] #510 closed

[2021-07-05 07:43] lucatume commented on #509
@calvinalkan thanks for taking the time to open the issue and document it.

Your observation has merit: while there's a reason to avoid the `setcookie` call, there is not much reason into **not** passing the parameters to the action and filter that I can think of, or remember.
Neither WordPress Core, nor wp-browser will make use of those during their work, so it seems more of a heavy-handed approa

[2021-07-05 07:53] lucatume commented on #509
I've opened a branch that should address this and will see where it goes from there.

Thanks @calvinalkan for the report.

[2021-07-05 08:24] #509 closed

[2021-07-05 21:44] jerclarke opened #512 "Configuration.md various mismatches with current init experience [DOC BUG]"
**wp-browser version**
3.0.8 + website documentation

**Link**
https://github.com/lucatume/wp-browser/blob/master/docs/configuration.md

**Issue**

A few things were off. I was able to work around them, but in case you didn't know, figured I'd make a list.

I do so because the docs are amazing otherwise, and I can tell a lot of love was put into them, so I figure small improvements are still desir

[2021-07-06 06:35] lucatume commented on #512
@jerclarke thanks for opening an issue and providing such a wealth of information, attention, and accuracy. Much appreciated.

I made some changes to the initial setup over time, and have forgotten to update the documentation where required.

I will push an update to the documentation whenever I'm able to. Since you provided a screenshot of all the questions, I could use that to update the configu

[2021-07-08 21:25] jerclarke opened #513 "Fix "Undefined method" in IDE for WPTestCase [FEATURE REQUEST]"
## Is your feature request related to a problem? Please describe.

In both VS Code and PHPStorm, when I look at a test file for the `wpunit` suite, the actual tests work fine, but the IDEs are full of `Undefined Method`/`Method X not found` errors. I can work around them/ignore them, but they kind of drive me crazy as normally I'd resolve errors like that immediately.

**The full file in VS Code+I

[2021-07-08 23:51] JohnDeeBDD commented on #513
I can report that out of the box, using composer install on a project, PHP
storm picks up the the asserts specific to the WP modules, but NOT the
basic asserts from Codeception.
$this->assert...
contains assertEqualsFields [wherever that comes from] a bunch of other
stuff...
contains assertWPError and other WordPress specific asserts
but does NOT contain basis asserts like assertTrue, assertEquals

[2021-07-09 06:13] calvinalkan opened #514 "[QUESTION] wpdb error reporting"
Hi @lucatume ,

This is not a Bug but rather a question about how wp-browser connects to the database.

Basically:
Does wp-browser modify the mysqli error reporting in any way. I dug around but couldnt really find anything.

Use case:

Im testing that its not possible to insert a negative integer to a DB table with an unsigned integer column generated by a library of me.

In my bootstrap file I se

[2021-07-09 06:46] lucatume commented on #513
Thanks @jerclarke for reporting the issue.
I've got mixed success finding a solution for this that seems to be related to the inheritance tree.
I use PHPStorm as my daily driver and have projects where it works, and projects where it does not.

Having it work reliably would be a quality-of-life improvement and I will look into it. The first mitigation that comes to mind would be to use `@method` n

[2021-07-09 07:14] lucatume commented on #513
I've just rolled out a fresh project using the latest version of wp-browser and PHPStorm; auto-completion works correctly on test cases extending the `WPTestCase` class: [see here](https://cln.sh/4MBM2Z).
The same is not true, though, for VSCode: [see here](https://cln.sh/sjhh0f).
The reason for this might be the indexing engine of PHPStorm will correctly parse and ingest the `alias` used in the i

[2021-07-09 12:45] #503 closed

[2021-07-09 17:08] calvinalkan commented on #514
Yes its extending `WpTestCase`. I dont think thats related but I found out that by extending `WpTestCase`  ```php $wpdb->db_connect``` will be called twice during a test run. Once inside the bootstrap file and once inside the TestCase set up

[code]

My test code is the following. ( These are separate files/classes but merged for brevity)

[code]

[code]

Expected:
A `mysqli_exception` should be t

[2021-07-09 17:18] jerclarke commented on #513
Thanks for looking into it! Your expertise is invaluable, and thank you so much for trying to make it work in VSC as well 🙏🏻

[2021-07-09 17:20] calvinalkan commented on #514
Confirming that the following also will throw a mysqli_exception as expected:
This is how WordPress does it in wpdb
[code]

[2021-07-09 17:25] calvinalkan commented on #514
This will also fail ( NOTE: all of this code I posted was run inside WPTestCase )

[code]

[2021-07-09 17:36] calvinalkan commented on #514
I found the issue by myself. No matter what you doing this will always by constructing `$wpdb`

[code]

This will result in the sql mode being fetched and all modes in the array will be unset. Gotta love it.

[code]

[2021-07-21 22:59] charlesdeb commented on #507
So, after quite a bit of mucking around, I have figured out a way that seems to work for me, and seems to fit with both the codeception and wpbrowser way of doing things. It requires a few moving parts:

Because the login procedure is different for wpwebdriver and wpbrowser, (and I want some tests with javascript and some without - for speed) I have created `acceptance_wpbrowser.suite.yml` and `ac

[2021-07-22 07:50] lucatume commented on #507
@charlesdeb thanks for sharing your findings and your solution. I will re-read this and look into what could become part of the project when I can allocate some more time to this.

 While I tip my hat to your solution, it seems like too much job for the simple addition of the `wle` query arg to the login URL.

 Both the `WPBrowser` and the `WPWebDriver` modules come with an `adminPath` configurati

[2021-07-22 07:52] lucatume commented on #514
Hi @calvinalkan,

thanks for the updates. I'm currently not able to look into this, but want to give reading this the time your research deserves.

[2021-07-22 09:06] charlesdeb commented on #507
Ha - you might just be right! I will try your suggestion and see if that works. Many thanks. It would certainly be a lot simpler than what I cooked up - although I think my original request for some more examples still stands.

BTW, I have also spent quite a bit of time trying to figure out creating extra helper methods for populating the database with fixtures with WPBrowser e.g. `$I->haveCustomP

[2021-07-22 09:06] #507 closed

[2021-07-23 11:09] calvinalkan opened #515 "[DOC REQUEST] Describe difference between plugins and activatePlugins for WP_Loader module"
**Did you search the documentation first?**
Yes

**What do you think is missing from the documentation?**
I dont know what the difference is between the two config options "plugins" and "activatePlugins". Are both required? What do they do?

[2021-07-24 15:25] joppuyo opened #516 "[BUG] WP CLI throws error when there's a space in PHP path"
**Environment**
OS: Mac
PHP 7.4.1
Installed Codeception version: 4.1.21
Installed wp-browser version: 3.0.8
WordPress version: 5.8
Local development environment: Local by Flywheel
WordPress structure and management: default

**Codeception configuration file**

[code]

**Suite configuration file**

[code]

**Describe the bug**
When using `$I->cli()` helper, it throws an error if there's a space in

[2021-07-25 07:12] lucatume commented on #516
Thanks @joppuyo for taking the time to open an issue and provide the required information.

I will work on this when I will be able to.

In the meanwhile a possible mitigation of the issue might be to either change the Local by Flywheel sites path to something the does not contain spaces (e.g., `~/Sites`) or to symlink the paths that contain spaces to paths that does not.

Of course, this is not a

[2021-07-25 09:16] joppuyo commented on #516
Great, thanks if you'll able to look into the issue.

Unfortunately, I can't solve the issue by moving my sites since the problem is not the path of the site, it's the path of the `php` binary, `/Users/johannessiipola/Library/Application Support/Local/lightning-services/php-7.4.1+14/bin/darwin/bin/php`. I don't think it's possible to change where Local installs its PHP 🙁

[2021-07-29 21:44] jerclarke opened #517 "Use remove_filer() to disable core/plugin/theme updates [FEATURE REQUEST]"
**Is your feature request related to a problem? Please describe.**

When acceptance testing wp-admin there are a lot of HTTP API requests that run on every single test, which makes sense because they are on transient timers and the database is reset on every test.

Here's a screenshot of my HTTP API logger showing the cascade of stuff that gets fetched for a single test hitting the New Post screen

[2021-08-02 08:53] phil-davis commented on #484
Note: https://github.com/sebastianbergmann/phpunit/commit/68582043e149039cfa3596b42ed35753dcf54fb2

`getAnnotations()` was removed from phpunit9.

It was tagged:
`@internal This method is not covered by the backward compatibility promise for PHPUnit`

So, sadly, it "just broke". You need to change to code like:
[code]

But still, that `TestUtil` class is tagged:
`@internal This class is not covere

[2021-08-02 09:37] calvinalkan commented on #514
@lucatume To save you a bit of time.

WordPress is incompatible with strict mode [(Track Ticket).](https://core.trac.wordpress.org/ticket/8857?fbclid=IwAR0pduQwn6y8cc73-e4ijiMIcIIWtWjZIbfUK6kU3i5OyIY-qDQ6pFLDj0I)

But during test we can use strict mode just fine. Its actually really messed up that any sql errors will be silently ignored by wpdb.

I have a working proposal that I use in production

[2021-08-02 10:16] lucatume commented on #514
@calvinalkan Thanks for sharing the solution.

I think this would be a nice addition to the `WPTestCase` class, maybe off by default (to avoid killing existing tests) and controlled by a configuration parameter of the `WPLoader` suite.

[2021-08-02 10:23] calvinalkan commented on #514
I agree that this should somehow be merged. Dont you think it would be better tho on a Test by test basis instead of the suite level?

Do simplest way would just to set a protected property on the test case. However I think the most flexible and future proof way would be to use something like laravel does. You pull in traits which automatically get booted in `WpTestCase`.

What do you think?

[2021-08-02 19:39] jerclarke commented on #517
Oh yeah I forgot to share this. The following function will ensure that "Browse Happy" (which does an HTTP API request every time you visit the Dashboard) is completely disabled and stops doing the API request every time you use `$I->loginAsAdmin();` in WP-Browser:

[code]

[2021-08-02 20:17] jerclarke opened #518 "WPWebDriver can't see "Classic Editor" Visual/Text buttons[BUG]"
**Environment**
OS: macOS 10.15
PHP version: v3.3.25
Installed Codeception version:  4.1.21
Installed wp-browser version: 3.0.8
WordPress version: 5.4 (also tested 5.4)
Local development environment: MAMP
WordPress structure and management: default

Also:
ChromeDriver version: 92.0.4515.43

**Can you perform the test manually?**

Yes. I have the "Classic Editor" plugin on both 5.4 and 5.8 and in C

[2021-08-03 02:21] #508 closed

[2021-08-03 07:12] lucatume commented on #518
This is not a bug with wp-browser, but a usage issue with Codeception.

I would try, first, to use the [waitForElement method](https://codeception.com/docs/modules/WebDriver#waitForElement) or something similar, rather than a fixed wait time. Chromedriver is really fast when exercising Chrome and there is no guarantee the commands will be performed at document ready. The approach I usually take is

[2021-08-03 14:53] jerclarke commented on #518
Thanks for the reply, and sorry if logging this as a bug was annoying. I was actually going to just DM you on twitter to ask you about it, but then it was getting too long, and I figured it could be useful to someone here.

**Really what I'm hoping for most of all is just confirmation that it's not just me. Do you get the same result?**

I had already tried `waitForElement()` and yeah it's the sen

[2021-08-03 17:29] jcvignoli opened #519 "Setting up wpRootFolder for WPFilesystem"
Before filling up a proper bug report, I would like to know if that's an expected feature that wp browser adds a local development path to my defined wpRootFolder for WPFilesystem.

I defined in my suite.yml file the config value

wpRootFolder: '%TEST_REMOTE_ROOT_FOLDER%'

to which wp browser adds a local path that I haven't defined anywhere in my .env.test setup. I'm not getting it; could you ple

[2021-08-03 17:59] lucatume commented on #519
I'm missing the information required to answer, I fear.

What is the value corresponding to the `%TEST_REMOTE_ROOT_FOLDER%` on your machine or the CI machine?
What "local path" is added to it? What does the resulting path look like?
If you could provide the main and the suite configuration files, that would help me understand.

[2021-08-03 18:07] jcvignoli commented on #519
Thanks for your quick reply. Due to your questions, I guess this behaviour is not expected.

Test_remote_root_folder is the root path of my remote testing machine. Let's say /var/wp

My local dev env is located at /var/local

The resulting path throwing a wp browser error ("path doesn't exist", I don't have the exact msg right now) is
/var/local/var/wp

Let me know if you need further info. I don'

[2021-08-03 18:45] jcvignoli commented on #519
I can provide you with further info, given the fact that I edited the real paths.

The error thrown by wp browser:

[code]

Relevant codeception section:

[code]

relevant .env.testing

[code]

[2021-08-04 07:50] lucatume commented on #519
@jcvignoli thanks for sharing the information.

Some questions:
1. What is the path you're running the `codecept` binary from? Is it `/var/local` by chance? The module would try to resolve the path as is `/var/wp`, and try to append it to the current working directory if it cannot.
2. In the file you pasted in your answer the value is:
[code]
with a trailing back-tick; that might be a copy-and-pas

[2021-08-04 14:37] jcvignoli commented on #519
@lucatume thanks for your reply.

1. Yes it is
2. My mistake. Bad copy paste, there is no trailing back-tick, sorry
3. Yes it is. But I guess this is where I'm lacking of the necessary understing of how the plugin works.

To give you more context : I'm running wp browser from a local machine. I'm running codeception test from the local machine to the remote machine. Modules using http work flawles

[2021-08-04 15:51] lucatume commented on #519
Yes, you are correct and that was what, I guessed, was causing the issue.

Did you try [Codeception own FTP module](https://codeception.com/docs/modules/FTP)?
It would be possible to augment that module, yes, with some work. Practical, I would not know.

[2021-08-04 19:05] jcvignoli commented on #519
Thanks @lucatume . However, using codeception's ftp module prevents me from using the excellent wpwebdriver 😃

I need to find another solution, but thanks for taking the time for responding me.

[2021-08-04 22:31] #519 closed

[2021-08-06 00:59] jcvignoli opened #520 "[BUG] activatePlugin() doesn't work"
**Environment**
OS: Linux
PHP version:7.4.20
Installed Codeception version: v4.1.21
Installed wp-browser version: v3.0
WordPress version: v5.8

**Can you perform the test manually?**
Yes

**Codeception configuration file**
[code]

**Suite configuration file**
[code]

**Describe the bug**
activatePlugin() fails to activate a plugin. It fails without a warning, the plugin remains just unactivated in

[2021-08-06 08:46] lucatume commented on #520
Hi @jcvignoli,

thanks for taking the time to report the issue and fill in the details.

As a first step, I would try to get an idea of what the browser is seeing when it gets there: use `$I->makeScreenshot($name)` for that. In debugging phase, use that on each step where you might have a doubt about what might be happening.

If the plugin slug was not correct, then both the `deactivatePlugin` and

[2021-08-06 14:04] jcvignoli commented on #520
@lucatume thanks for your quick reply!

I followed your advice and took screenshots of every step (well, two actually). For the sake of debugging, I've simplified my process and now using the following commands:

[code]
The first screenshot shows a wordpress plugin page with the admin notice "selected plugins deactivated". The second screenshot (activation step) shows an error message "the link yo

[2021-08-08 14:02] calvinalkan commented on #515
@lucatume Do you have any input on this?

[2021-08-09 06:10] lucatume commented on #515
Hi @calvinalkan, I lost the notification completely.

The difference is:
* `activatePlugins` is a list of plugins the WPLoafer module will load and activate during the installation bootstrap that is done once before the tests, in the installation process that happens in isolation.
* `plugins` is a list of plugins the WPLoader module will load right before the tests, in the same PHP process that wi

[2021-08-09 06:18] lucatume commented on #520
@jcvignoli thanks for getting back on this.

Well: we now know the `activatePlugin` function is, at least, finding the link and clicking it.

I would investigate further by grabbing the URL from the activation link and looking at it. You can use Codeception own grabbing methods to do that.

The use `codecept_debug` to debug it.

Does it look normal?

[2021-08-09 20:27] jcvignoli commented on #520
@lucatume So I tried to grab the URL and it seems OK (it's /wp-admin/plugins.php).

I've just successfuly run the test using the built-in codeception function executeJS()

[2021-08-13 12:18] calvinalkan commented on #514
@lucatume What are your thoughts on this?

[2021-08-13 12:20] calvinalkan commented on #515
Makes sense. I checked the `isolated-install.php` where most of this happens.

Thank you.

[2021-08-13 14:57] calvinalkan commented on #515
Actual, I have some more questions now then before. I run a global search of the entire codebase and it seems that
the only place where `activePlugins` is every used is here: called inside `WPLoader::installAndBootstrapInstallation`

[code]

If `isolatedInstall` is set to true (default) then `activatePlugins` does nothing for me.

In `isolated-install.php` on line 32 the action plugins are defined

[2021-08-16 07:58] lucatume commented on #514
I, personally, favor the use of Traits over inheritance in this context, so I agree with the Trait path here.

The trait should implement setup and teardown methods, i.e. the `@before` and `@after` annotations, to make sure to reset the `$wpdb` object to its previous state before and after each test (as the users might compose the trait into something that will need the default `$wpdb` setup in a

[2021-08-16 08:14] lucatume commented on #515
[In the isolated-install.php script](https://github.com/lucatume/wp-browser/blob/master/src/includes/isolated-install.php#L192) the value is used to activate the plugins, i.e. run their `activation_hook` after WordPress has been installed and bootstrap. It _might_ be that is amounting to nothing if the plugins you're activating are not doing anything relevant on activation. Many plugins will run l

[2021-08-19 20:14] JAW-Dev opened #521 "[SETUP ISSUE]"
**Environment**
OS: Mac
PHP version: 7.4
Installed Codeception version: 4.1.22
Installed wp-browser version: 3.0
WordPress version: 5.8
Local development environment: Valet

**Did you use the `codecept init wpbrowser` command?**
yes

**Did you take a look at Codeception and wp-browser documentation?**
yes

**Codeception configuration file**

[code]

**Describe the issue you're encountering**
Some

[2021-08-19 22:26] #521 closed

[2021-08-21 04:46] #512 closed

[2021-08-22 19:55] tkvw commented on #513
A workaround is posted by swashata @ https://github.com/bmewburn/vscode-intelephense/issues/600#issuecomment-639525222 . Class aliasing is at the root of the problem. So at this moment I have a helper class:
[code]

[2021-08-24 11:22] calvinalkan commented on #515
Ok since the same-procces install is a legacy option I wont focus on that any further.

But I still stand to my opinion that when using isolatedInstall = true the option activate_plugins has no effect at all.

Inside isolated-install.php:

[code]

[2021-08-25 06:49] lucatume commented on #515
@calvinalkan I will check it, then. Thanks for bringing attention on this. If a simplification is possible, then I'm all for it.

[2021-08-29 14:21] ajayver opened #522 "[SETUP ISSUE]"
**Environment**
OS: Windows 10/Docker
PHP version: 7.4
Installed Codeception version: 4.1.22
Installed wp-browser version: 3.0.8
WordPress version: 5.8
Local development environment: Docker
WordPress structure and management: default

**Did you use the `codecept init wpbrowser` command?**
Yes

**Did you take a look at Codeception and wp-browser documentation?**
Yes

**Codeception configuration fil

[2021-08-30 07:19] lucatume commented on #522
Hi @ajayver I would ask you, before flagging this as an issue, to make sure the output does come, in fact, from `wp-browser` code and not from the plugin code:

1. Run the tests using the `--debug` flag to have a better idea of what is happening.
2. In the suite configuration file, empty the `plugins` and `activePlugins` sections and run the same command again; does the error still show up? If so,

[2021-09-02 15:15] joppuyo commented on #516
I'm going to bump this since I'm still having this issue.

If I have time, I could probably take a look at trying to find a way to fix this and put together a PR. It's probably not a very complicated issue since it's just that the path is incorrectly escaped somewhere in the code.

[2021-09-10 03:26] bordoni opened #523 "Dependency on `mikemclin/laravel-wp-password` -> `hautelook/phpass` creating problems"
This repo has a dependency on `mikemclin/laravel-wp-password`  which depends on `hautelook/phpass` which seems to have been deleted.
https://github.com/hautelook/phpass

Only exists on Packagist.
https://packagist.org/packages/hautelook/phpass

I've created an issue with the original dependency to solve the problem:
https://github.com/mikemclin/laravel-wp-password/issues/13

I've created a fork of

[2021-09-10 09:21] #523 closed

[2021-09-10 09:24] lucatume commented on #523
Thanks @bordoni,

I've used your mirror in my fix (#524) to immediately resolve it.

I will internalize the dependency next.

[2021-09-10 10:45] dgwatkins commented on #523
This change forces you to use composer 2.x
https://packagist.org/packages/bordoni/phpass

Just FYI

[2021-09-10 14:39] menno-ll commented on #523
Please also note that this change requires a project using wp-browser to define `"minimum-stability": "dev",` in their `composer.json` file.

[2021-09-11 02:36] bordoni commented on #523
@dgwatkins the reason it forced version 2 of Composer was due to how Packagist has a 24h delay on the inclusion for V1 composer things. (Go figure)

I've also setup with version 0.3.0, so you should be able to do `"minimum-stability": "stable"`. And avoid `dev-main`

[2021-09-17 19:29] joppuyo commented on #516
I've created a pull request #526 which fixes this issue in my local environment

[2021-09-20 17:00] #516 closed

[2021-09-21 17:15] JAW-Dev opened #527 "Indirect modification of overloaded element"
**Environment**
OS: Mac
PHP 7.4
Installed Codeception version: 1.0
Installed wp-browser version: 3.0
WordPress version: 5.8.1
Local development environment: Valet

**Did you use the `codecept init wpbrowser` command?**
yes

**Did you take a look at Codeception and wp-browser documentation?**
yes

**Codeception configuration file**
[code]

**Describe the issue you're encountering**
When I run the `

[2021-09-21 23:42] TimothyBJacobs opened #528 "[BUG] buildCommandLine drops empty array items"
**Environment**
OS: Mac
PHP version: 7.3
Installed Codeception version: 4.1.21
Installed wp-browser version: 3.0.11
WordPress version: 5.8
Local development environment: Docker
WordPress structure and management: Default

**Describe the bug**
When running a CLI command that contains a `0`, that value will be dropped by `buildCommandLine`.

**To Reproduce**

[code]

**Expected behavior**
For the co

[2021-09-21 23:49] TimothyBJacobs opened #529 "[BUG] WP CLI command output does not contain stdError if command exited with a successful status code"
**Environment**
OS: Mac
PHP version: 7.3
Installed Codeception version: 4.1.21
Installed wp-browser version: 3.0.11
WordPress version: 5.8
Local development environment: Docker
WordPress structure and management: Default

**Describe the bug**
_This may be an intentional 3.0 change._

We are testing a WP CLI command that uses `WP_CLI::warning()` to output a warning message, but that command still e

[2021-09-21 23:57] TimothyBJacobs opened #530 "[FEATURE REQUEST] Support passing arbitrary environment variables to WP CLI process"
**Is your feature request related to a problem? Please describe.**

We are running our tests in the docker-library/wordpress image. Recently, the container changed how it built it's `wp-config.php` file. Instead of taking the configured environment variables and writing them to the `wp-config.php` file, it updates the `wp-config.php` file to read those values dynamically from the environment.

Thi

[2021-09-22 00:07] TimothyBJacobs opened #531 "[BUG] WP CLI command line escaping doesn't understand pre-quoted positional arguments"
**Environment**
OS: Mac
PHP version: 7.3
Installed Codeception version: 4.1.21
Installed wp-browser version: 3.0.11
WordPress version: 5.8
Local development environment: Docker
WordPress structure and management: Default

**Describe the bug**

We have a Gherkin test that runs the following WP CLI command:

[code]

This string command is passed directly to the WP CLI's module `cliToString` method.

[2021-09-23 07:45] lucatume commented on #531
Hi @TimothyBJacobs, thanks for taking the time to report this bug and the other ones providing the required details, much appreciated.

I will get around to fix the issues as soon as I have time and update, probably, all of them.

[2021-09-27 18:32] nathanmal opened #532 "[SETUP ISSUE] config_file doesn't seem to work"
**Environment**
OS: OSX 13.4
PHP version: 7.4
Installed wp-browser version: 3.0
WordPress version: 5.0
Local development environment: homebrewed php/httpd/mariadb

Hi, i'm attempting to set up testing for a plugin that requires several custom constants to be loaded into the configuration file. I found this page describing what i'm doing and how to allow for this when bootstrapping https://theavera

[2021-10-02 01:56] #517 closed

[2021-10-02 01:56] #518 closed

[2021-10-02 01:56] #520 closed

[2021-10-03 21:02] joppuyo opened #533 "[BUG] Setting loadOnly to true causes error "Constant DB_NAME already defined" but only on PHP 8"
**Environment**
OS: Linux
PHP version: 8.0
Installed Codeception version: 4.1.22
Installed wp-browser version: 3.0.11
WordPress version: 5.0 - 5.8
Local development environment: Docker
WordPress structure and management: default

**Can you perform the test manually?**
Yes

**Codeception configuration file**
Paste, in a fenced YAML block, the content of your Codeception configuration file; remove a

[2021-10-04 08:27] joppuyo commented on #533
Now that I think of it, [it looks like](https://3v4l.org/uL8hT) "Constant FOO already defined" was promoted from notice to warning in PHP 8 which may mean this issue might have existed before but it only became apparent now.

[2021-10-04 09:08] lucatume commented on #533
Thanks @joppuyo for reporting the issue and for the repository, much appreciated.

I cannot immediately think of a solution for the issue, but I can, from just reading the code and not actually running it, point the finger [to this line](https://github.com/lucatume/wp-browser/blob/master/src/Codeception/Module/WPLoader.php#L459).

The bug is, probably, calling `defineConstants` when just loading W

[2021-10-04 10:48] joppuyo commented on #533
It would be great if you could look into this when you have time since I don't know the wp-browser/Codeception/PHPUnit codebase well enough to try to make any big changes.

In the meantime, I tried to change the Codeception error_level level to just 'E_ERROR' in the suite configuration to suppress the warning. This would have otherwise worked but it looks like once WordPress is loaded, [it forces]

[2021-10-04 17:54] Borlabs-Ben opened #534 "[DOC REQUEST] WPUnit test changes admin password to "password""
**Did you search the documentation first?**
Yes.

**What do you think is missing from the documentation?**
Description why *WPLoader* or the WPUnit test changes the password of the admin to **password**.

**Do you have any examples of what you'd like to see added to the documentation?**

**wpunit.suite.yml**
[code]

**codeception.dist.yml** (excerpt)
[code]

As soon as I run a simple WPUnit test,

[2021-10-05 09:17] lucatume commented on #534
Hi @Borlabs-Ben,
I guess the `wp_single_test` database you're using is the one you're using for manual testing too.
The `WPLoader` module will modify the database it runs tests on, the `wp_single_test` one in this case, to bootstrap and install WordPress and set it up for integration testing. As part of that bootstrap, it will set the WordPress admin password to a default value (`password` in this

[2021-10-05 09:33] Borlabs-Ben commented on #534
Thank you!

[2021-10-05 09:33] #534 closed

[2021-10-05 15:40] charlesdeb opened #535 "Configuring headers with wpwebdriver"
**Environment**
OS: Linux
PHP version: 7.2
Installed Codeception version: 4.1.22
Installed wp-browser version: 3.0.11
WordPress version: 5.8
Local development environment: PHP built-in server
WordPress structure and management: SpinupWP

**Did you use the `codecept init wpbrowser` command?**
Yep
**Did you take a look at Codeception and wp-browser documentation?**
Yep, been over it many times!

**C

[2021-10-21 06:54] stefanfisk opened #536 "[DOC] wpbrowser.wptestkit.dev performance issues when blocking Sentry"
**Environment**
n/a

**Can you perform the test manually?**
n/a

**Codeception configuration file**
n/a

**Suite configuration file**
n/a

**Describe the bug**
When blocking sentry.io, the page experiences severe performance issues.

**Output**
Here's a Chrome profile where I clicked each modules link from top to bottom. It took 20 sec to finally load the WPWebDriver page.

[Profile-20211021T08441

[2021-10-26 23:29] kyletozer opened #537 "[SETUP ISSUE] Headless Selenium in Docker Setup"
**Environment**
OS: Ubuntu 20.04.3 LTS
PHP version: 7.4
Installed Codeception version: 4.1.22
Installed wp-browser version: 3.0
WordPress version: 5.8.1
Local development environment: Docker
WordPress structure and management: Timber

**Did you use the `codecept init wpbrowser` command?**
Yes

**Did you take a look at Codeception and wp-browser documentation?**
Yes

**Codeception configuration fil

[2021-10-30 16:28] #533 closed

[2021-10-31 13:14] LucasDemea opened #540 "[BUG] WPDb url replacement leads to corrupt database when the original url is found in serialized data"
**Environment**
OS: Linux
PHP version: 7.4
Installed Codeception version: 4.1.22
Installed wp-browser version: 3.0.12
WordPress version: 5.8
Local development environment: Vagrant VM
WordPress structure and management: Bedrock

**Suite configuration file**
[code]

**Describe the bug**
When the original url is found in the imported dump in a serialized form, the url gets replaced, but the serialize

[2021-10-31 16:21] grazianodev opened #541 "Create a REST route on the fly before running a test"
Hello and thank you for your work.

I am mostly using wp-browser in combination with Codeception's REST module (WPLoader is on `loadOnly` mode) to test my custom Wordpress REST api. Everything's working well, I only wish I could create a "fake" route for the purposes of a test, is that possible?

I have tried registering the route in the `_before` method (Cest format) but that doesn't work (expect

[2021-11-02 21:44] kyletozer commented on #537
Thanks for the suggestions @lucatume. Here is an update.

Changing the `host` value in my `acceptance.suite.yml` file from `localhost` to `127.0.0.1` gives me the same output.

However, setting the `host` value to `webdriver` gives me different output:

[code]

I had also changed the webdriver service in my `docker-compose.yml` to the following:
[code]

I also tried using `netcat` inside of the `w

[2021-11-03 08:55] lucatume commented on #541
Hi @grazianodev,

How you're going to create the test REST route will depend upon how you need to test it.
If I get it correctly, you should have a suite set up to use the `WPLoader` module (`loadOnly: true`), the `WPDb` one to set up and hydrate the database, the `WPBrowser` one as a requirement for the `REST` one to, finally, run the REST tests. Correct me if I'm wrong, please.

If this is the s

[2021-11-03 09:01] lucatume commented on #540
Hi @LucasDemea,

thanks for reporting the issue.

The URL replacement function is not recommended for more complex cases and I would not use it if the db dump contains serialized URLs.

I would craft db dumps using something like `wp search-replace old_url new_url --recurse-objects` instead (either on the developer machine, or in CI) and let a more specialized and robust tool take point here.

My

[2021-11-03 09:19] LucasDemea commented on #540
I searched a bit and it seems that  replacing urls in serialized data is indeed a complex problem. I didn't found any viable long term solutions. I think your approach is the right way to do atm.

[2021-11-03 13:53] roborourke opened #542 "Use alternative to `iconv` if available"
**Is your feature request related to a problem? Please describe.**

We are using Alpine Linux as the basis for our PHP Docker containers however the preloadable `iconv` library was removed in Alpine 3.13 and no longer works.

**Describe the solution you'd like**

The `slug` function uses `iconv`, but if `mb_string` alternatives are available it would ideally use those instead.

**Describe alternat

[2021-11-03 14:03] n7studios commented on #535
If you configure WPWebDriver to use the headless ChromeDriver:
[code]

The above results in the value of `$_SERVER['HTTP_USER_AGENT']` containing `HeadlessChrome`:
[code]

This is different when you just view your WordPress site through your web browser:
[code]

You could then inspect the HTTP User Agent to determine the database you want to use in your `wp-config.php` file:
[code]

Not the most e

[2021-11-03 16:18] roborourke commented on #542
Obviously no worries if you want to require iconv, and I realise this is unnecessarily leading the solution so feel free to close.

[2021-11-03 17:13] #540 closed

[2021-11-04 11:46] roborourke commented on #542
Seems there are other options too if `iconv` is unavailable or broken e.g. with the `intl` PHP module:

[code]

[2021-11-05 11:59] grazianodev commented on #541
Hi Luca,

thank you for your answer. My suite is set up exactly as you described, and your sample code works perfectly.

Many thanks!

[2021-11-05 16:47] #541 closed

[2021-11-08 09:03] lucatume commented on #542
I've merged the PR for related to this and made a new release, thanks @roborourke for your contribution: much appreciated.

[2021-11-08 09:03] #542 closed

[2021-11-08 09:50] roborourke commented on #542
Amazing cheers @lucatume!

[2021-11-11 00:38] jerclarke commented on #513
Thank you for sharing!

For anyone trying to implement this (hi future Jer), here's exactly what I did that seems to work:

* Create a file at `/tests/vscode-class_alias-fixer.php`
* Insert the code above

That's it. VS Code will scan the file even though it's not included anywhere, and it fixes intellisense for core PHPUnit assertions etc.

Luca maybe you could add this somewhere harmless in the

[2021-11-12 16:06] sc0ttkclark opened #544 "[BUG] since TBD is hanging around"
The `@since TBD` is hanging around across the repo:

https://github.com/lucatume/wp-browser/search?q=tbd

Various areas, it would be good to do a sweep of them so it makes it easier for other projects using TBD placeholders to replace theirs without seeing these.

[2021-11-14 04:35] kyletozer commented on #537
@lucatume I was actually able to resolve this issue by making some changes to my `docker-compose.yml` file:
[code]

I blame Docker for this one, I'm no Docker networking expert. But the container seems to have a hard time connecting to the webdriver service through container name resolution. Changing all of my containers to network through the host seems to solve this.

[2021-11-22 17:00] calvinalkan opened #545 "[BUG] Let the MockPHP Mailer throw exceptions during testing."
Pretty self-explanatory. The used mock mailer does not throw exceptions because the boolean flag is not set to true at construction time.

I'm doing some very low-level stuff right now but this should benefit everybody I think.

Inside `bootstrap.php`

You just have to change the code to this:

[code]

[2021-11-24 15:25] charlesdeb commented on #535
Thanks @n7studios - only just saw your message. I think what you are saying should work - but no, not the most elegant solution! I was hoping that I was just misconfiguring something and @lucatume could put me right...

[2021-11-30 16:01] calvinalkan opened #547 "[FEATURE REQUEST] remove laravel-wp-password dependency"
It would be great if we could remove the dependency on laravel-wp-password. This package requires illuminate/support only to register a facade in laravel Apps. Illuminate/support is gigantic and then pulls in illuminate/contracts which pulls in....

I have looked at the package and it does not seem to do anything at all. Can we implement this ourselves? I can provide a PR.

Unless im missing somet

[2021-12-03 16:37] LucasDemea opened #548 "[BUG] [PDOException] Field 'post_mime_type' doesn't have a default value"
**Environment**
OS: Ubuntu 20.04.03
PHP version: 7.4
Installed Codeception version: [e.g. 2.5.0]
Installed wp-browser version: 3.0.14
WordPress version: 5.8.2
Local development environment:  Vagrant VM running ubuntu 20.04
WordPress structure and management: Bedrock

**Can you perform the test manually?**
Not applicable

**Codeception configuration file**
Paste, in a fenced YAML block, the content

[2021-12-09 18:07] ryanshoover opened #549 "[BUG] Incompatible with Codeception module-db 2.0"
**Environment**
OS: Linux
PHP version: 7.4
Installed Codeception version: 4.1.22
Installed wp-browser version: 3.0.14
Local development environment: CircleCI version
WordPress structure and management: Default

**Can you perform the test manually?**
Skipping, not relevant

**Codeception configuration file**
Skipping, not relevant

**Describe the bug**
Codeception Module DB released [version 2.0](h

[2021-12-10 09:27] #549 closed

[2021-12-10 09:29] lucatume commented on #549
Thanks @ryanshoover for reporting the issue.

I've fixed it by explicitly requiring version `^1.0` of the modules where suggested in [release 3.0.15](https://github.com/lucatume/wp-browser/releases/tag/3.0.15).
I would like wp-browser to track WordPress minimum requirements, and those include PHP 5.6.

[2021-12-11 12:13] LucasDemea commented on #548
If found where this was coming from and it is not related to wp-browser: for some reason my database tables had lost their `DEFAULT` value...

[2021-12-11 12:13] #548 closed

[2021-12-14 16:49] stefanfisk opened #550 "[BUG] WPDb::_initialize() is not compatible with Db::_initialize() in codeception/module-db:2.0"
**Environment**
OS: Linux
PHP version: 7.4.26
Installed Codeception version: 4.1.23
Installed wp-browser version: 3.0.15
WordPress version: 5.8.3
Local development environment: Docker
WordPress structure and management: other

**Can you perform the test manually?**
n/a

**Codeception configuration file**
n/a

**Suite configuration file**
n/a

**Describe the bug**
codeception/module-db:2.0 uses str

[2021-12-14 17:00] simonhammes commented on #550
@lucatume Maybe it would make sense to add a `conflict` section to composer.json and declare that wp-browser is incompatible with specific versions of modules.

[2021-12-15 09:13] #550 closed

[2021-12-15 09:20] lucatume commented on #550
Thanks @stefanfisk for the report, and @simonhammes for the suggestion: this is out with [version `3.0.17` of the package.](https://github.com/lucatume/wp-browser/releases/tag/3.0.17).

If you're wondering why I skipped version `3.0.16`, then I'm wondering it too. My release tool failed me, or I failed it, and it was lost.

[2022-01-04 00:52] johnbillion opened #551 "[BUG] Invalid database credentials for `WPLoader` still results in exit code `0`"
**Environment**
OS: Mac & Linux
PHP version: 7.4
Installed Codeception version: 4.1.27
Installed wp-browser version: 3.0.17
WordPress version: 5.8
Local development environment: Nginx
WordPress structure and management: default

**Can you perform the test manually?**
N/A

**Codeception configuration file**

[code]

**Suite configuration file**

[code]

**Describe the bug**

When the database crede

[2022-01-04 00:56] johnbillion commented on #532
The parameter name is `configFile`, not `config_file`.

[2022-01-04 09:12] lucatume commented on #551
Thanks @johnbillion for reporting the issue and providing the information.
I will look into this and push a fix, I will update the issue when done.

[2022-01-04 09:39] lucatume commented on #532
Thanks (again) @johnbillion for reporting the issue and providing the information.

A note: the most up-to-date version of the documentation can be found at [https://wpbrowser.wptestkit.dev](https://wpbrowser.wptestkit.dev); the `WPLoader` module one, specifically, [here](https://wpbrowser.wptestkit.dev/modules/wploader#configuration).

As per the salt issue, I will look into the code a bit and pr

[2022-01-04 10:43] lucatume commented on #551
I've pushed a possible fix I've not extensively tested on `dev-master`, I will come back to this and test it more, but any early feedback is welcome.

[2022-01-05 09:27] lucatume commented on #551
Should be fixed in release `3.0.18`, re-open if that is not the case.

[2022-01-05 09:27] #551 closed

[2022-01-05 09:29] lucatume commented on #547
Hi @calvinalkan, this is a good suggestion and one that goes in the direction of removing dependencies from the project.
If you could provide a PR, that would be great and welcome, otherwise, I will get to it when possible.

Sorry for the late reply.

[2022-01-07 01:34] johnbillion opened #554 "[BUG] Side effects in files loaded during autoloading of `WPTestCase` break PHPStan scanning"
This is a meta issue seemingly unrelated to any particular configuration.

**Describe the bug**

I have a project that is tested using WPBrowser and PHPStan. When scanning the project's integration test files with PHPStan, a PHP fatal error is triggered which prevents the scanning from working. This error is triggered inside the `src/includes/bootstrap.php` file from WPBrowser.

Why does this happ

[2022-01-10 22:14] andergmartins opened #557 "[BUG] Can't load a dump file using WPDb::importSqlDumpFile, driver is not loaded"
**Environment**
OS: Linux
PHP version: 7.4
Installed Codeception version: 4.1.27
Installed wp-browser version: 3.0.18
WordPress version: 5.8.3
Local development environment: Docker/DevKinsta
WordPress structure and management: default

**Codeception configuration file**

[code]

**Suite configuration file**

[code]

**Describe the bug**

I'm trying to force a DB reload for a specific test, but I c

[2022-01-11 10:30] lucatume commented on #557
@andergmartins thanks for the report and the detailed description.
I'm looking into your PR now and will provide you with feedback shortly.

[2022-01-11 10:34] lucatume commented on #557
Fixed by @andergmartins PR and out in [3.0.21](https://github.com/lucatume/wp-browser/releases/tag/3.0.21).

[2022-01-11 10:34] #557 closed

[2022-01-11 10:35] #532 closed

[2022-01-13 14:30] ahegyes commented on #554
I did encounter a similar bug today actually. I'm leaving the information here in case it's useful:

`PHP Fatal error:  Uncaught Error: Call to undefined function tests_add_filter() in /home/runner/work/wordpress-framework-bootstrapper/wordpress-framework-bootstrapper/vendor/lucatume/wp-browser/src/includes/bootstrap.php:61`

And I traced it back to release 3.0.18: https://github.com/lucatume/wp-b

[2022-01-14 08:31] lucatume commented on #554
Thanks @ahegyes for the information, I will look into this and see what is going on.

[2022-01-14 08:42] lucatume commented on #554
The issue caused by the `tests_add_filter` function being called before its definition should have been fixed in [3.0.22](https://github.com/lucatume/wp-browser/releases/tag/3.0.22).

[2022-01-14 11:58] ahegyes commented on #554
Thanks for looking into this @lucatume ! Indeed, version 3.0.22 is working again for me :)

[2022-01-14 15:28] jasonbahl opened #559 "[BUG]: Bootstrap plugin throws errors in v3.0.20"
**Environment**
OS: Linux
PHP version: 7.4, 7.3, 8.0
Installed Codeception version: 4.1.22
Installed wp-browser version: regression started in 3.0.20 (was working for 3.0.19 and prior)
WordPress version: [e.g. 5.4]
Local development environment: Docker (provided in the WPGraphQL repo)
WordPress structure and management: defualt

**Can you perform the test manually?**

In this case, the regression

[2022-01-15 22:51] overclokk commented on #217
Hi Luca, I had the same issue, in my case was because I used `\Codeception\Test\Unit::class` instead of `\Codeception\TestCase\WPTestCase::class` as a parent class inside the wpunit folder, so when I started to use functions like `xxx_options` I started to see this error.

(This way I learned that in the wpunit folder should only be used classes generated by those commands https://wpbrowser.wptest

[2022-01-17 08:38] lucatume commented on #559
@jasonbahl thanks for taking the time to report the issue and provide the information. I will look into this and come back to you on this issue.

[2022-01-28 16:26] #545 closed

[2022-01-28 19:48] #528 closed

[2022-02-01 09:24] #554 closed

[2022-02-08 22:02] abr4xas commented on #550
Just for the record:

This issue is still happening in 3.1.3

[2022-02-09 07:40] lucatume commented on #550
@abr4xas would you mind providing more information? Version `3.1.3` of wp-browser [states a conflict section to deal with that](https://github.com/lucatume/wp-browser/blob/master/composer.json#L84), so I am curious as to how that might still happen.

![CleanShot 2022-02-09 at 08 38 57](https://user-images.githubusercontent.com/2749650/153143866-c61523c9-cc90-4b91-a3bd-84ec16452091.png)

[2022-02-09 13:16] abr4xas commented on #550
Hi @lucatume this is my output:

[code]

This is my composer.json file:

[code]

https://wpbrowser.wptestkit.dev/codeception-4-suport

[2022-02-10 07:53] lucatume commented on #550
@abr4xas you've linked the documentation and this is the content of the `composer.json` file from the documentation:
[code]
Emphasis on the `"codeception/module-db": "^1.0"` line; yours is `"codeception/module-db": "^2.0"`. I'm wondering how you could make the installation happen. From my understanding of the `conflict` section in the Composer configuration file, installing `codeception/module-db:

[2022-02-18 11:53] calvinalkan opened #563 "[FEATURE REQUEST] Remove bootstrapp code at the top of WPTestCase"
I'm experiencing a lot of problems with static analysis tools that completely break when they encounter the [code](https://github.com/lucatume/wp-browser/blob/master/src/Codeception/TestCase/WPTestCase.php#L25) on top of the WPTestCase.php class.

Are there any reasons for not having this code somewhere else? Ie: Inside the setup method or an autoloaded file, or a composer bootstrap script, etc?

[2022-02-19 17:02] calvinalkan commented on #563
@lucatume The issue is in

define('PHPUNIT_COMPOSER_INSTALL', tad\WPBrowser\vendorDir('autoload.php'));

see https://github.com/symplify/symplify/issues/3938#issuecomment-1046045188

[2022-03-02 19:21] lucatume commented on #563
Fixed in `3.1.4`: [![asciicast](https://asciinema.org/a/labmUJY4OnFMctiiOVmUlRN2J.svg)](https://asciinema.org/a/labmUJY4OnFMctiiOVmUlRN2J)

[2022-03-02 19:21] #563 closed

[2022-03-02 19:22] #537 closed

[2022-03-02 19:22] #522 closed

[2022-03-11 11:33] charlesdeb opened #566 "[SETUP ISSUE] Can't access WP_Query class and other WordPress stuff in wpunit tests"
**Environment**
OS: Ubuntu
PHP version: 7.3
Installed Codeception version: 4.1.22
Installed wp-browser version: 3.0.13
WordPress version: 5.9
Local development environment: PHP built-in server
WordPress structure and management: Spinup

**Did you use the `codecept init wpbrowser` command?**
Yep

**Did you take a look at Codeception and wp-browser documentation?**
Oh yes!

**Codeception configurati

[2022-03-12 08:08] lucatume commented on #566
Hi @charlesdeb,

looking at your configuration file I see:
1. You're using the `WPLoader` module and the `WPDb` one on the same database.
2. The `WPLoader` module is **not** set to work in `loadOnly` mode ([see here](https://wpbrowser.wptestkit.dev/modules/wploader#wploader-to-only-bootstrap-wordpress)).
3. The `WPDb` module is set to `populate`, hence import a SQL dump before the tests.
4. The `W

[2022-03-15 05:42] EvanShaw opened #567 "[BUG] MySQL syntax error in tad\WPBrowser\dropWpTables near 'IF EXISTS'"
**Environment**
OS: Linux
PHP version: 7.4
Installed Codeception version: 4.1.31
Installed wp-browser version: 3.1.4
WordPress version: 5.9.2
Local development environment: Docker
WordPress structure and management: default

**Codeception configuration file**
[code]

**Suite configuration file**
[code]

**Describe the bug**
When the option `installationTableHandling` for the WPLoader module is set

[2022-03-15 08:30] lucatume commented on #567
Thanks @EvanShaw for reporting the issue and taking the time to fill in all the information.
I will look into this and post updates on the issue.

[2022-03-16 08:39] #567 closed

[2022-03-16 08:41] lucatume commented on #567
Fixed in [version `3.1.5`](https://github.com/lucatume/wp-browser/releases/tag/3.1.5).

[2022-03-18 12:34] charlesdeb commented on #566
Many thanks for responding to this.

1. I am really puzzled by your comment that the `WPLoader` and `WPDb` modules are configured to work on the same database. Yes, I did that on purpose - although I see now that your documentation example also has them configured to look at 2 different databases. Why would I want to test on 2 different databases... How do I know which database is being used for w

[2022-03-18 13:33] charlesdeb commented on #566
Update: I edited my `wpunit.yml` file so that two databases were referenced - and I checked that this was really happening by putting bogus connection strings in so that I could see what was failing.

I am still getting the `[Error] Undefined constant 'WP_Query'` problem. It also hasn't allowed me to use `loadOnly` or change the `cleanup` value. I am still getting all the same old errors - so it m

[2022-03-21 08:18] lucatume commented on #566
I cannot remotely debug the setup, I would:
1. Run the suite using the `--debug` flag and read all the output carefully. Is the database used by the `WPDb` and `WPLoader` modules the same?
2. Is the dump used by the `WPDb` module not empty? Correctly working when imported in a site?
3. Is the plugin/plugins code executing correctly in the context of the tests? The `--debug` flag should shine some

[2022-04-01 08:30] manh-trinhquoc opened #570 "[BUG] site stop working after install wp-browser"
**Environment**
OS: Windows
PHP version: 7.4
Installed Codeception version:   4.1
Installed wp-browser version: 3.1
WordPress version: 5.9
Local development environment: docker
WordPress structure and management:  Bedrock

**Describe the bug**
I use the Lumberjack [framework](https://lumberjack.rareloop.com/). After I install `wp-browser` by running `composer require --dev lucatume/wp-browser`. My

[2022-04-05 19:26] jasonbahl opened #571 "[FEATURE REQUEST] Codeception v5 support"
**Is your feature request related to a problem? Please describe.**
I'm interested in setting up "path coverage" for my tests, and it looks like this will be supported in Codeception v5 (see: https://github.com/Codeception/Codeception/releases/tag/5.0.0-alpha1) / (https://github.com/Codeception/Codeception/pull/6158)

**Describe the solution you'd like**
I would like to use Codeception v5+ with wp-

[2022-04-06 07:17] lucatume commented on #570
Hi @manh-trinhquoc,

I cannot offer support for a custom setup and installation if not provided more information.
If you could dig a bit further and find the cause of the bug, that would help me provide a solution.

[2022-04-10 05:29] grazianodev opened #572 "[QUESTION] Activating/deactivating plugin via environments"
Hi,

I have read [this post](https://theaveragedev.com/activating-plugins-in-wordpress-tests/) of yours on using environments to activate a plugin in a test, and I hope you can help with two questions that I have.

### QUESTION 1

After reading your post I have ended up with the following configuration, where I basically have a PLUGIN A activated by default, and a PLUGIN B only activated in the PL

[2022-04-11 07:19] lucatume commented on #571
HI @jasonbahl,

you've beaten me to the race: I was going to open a similar issue to track the progress.

I definitely want to support Codeception 5 and use the chance to break some back-compatibility and review/rethink a number of approaches.

Currently, I'm not able to provide a road-map as I still have to take the time to see how badly broken wp-browser would be using Codeception 5.

Since you'

[2022-04-16 11:46] charlesdeb commented on #535
I applied @n7studios solution. Not elegant (and I don't like putting code related to testing in code that will actually run in production) but it has worked at least. Many thanks.

[2022-04-16 11:46] #535 closed

[2022-04-16 11:58] #514 closed

[2022-04-16 11:58] #515 closed

[2022-04-27 17:07] #529 closed

[2022-04-27 17:07] #530 closed

[2022-04-27 17:07] #547 closed

[2022-04-27 17:07] #559 closed

[2022-04-27 17:07] #566 closed

[2022-04-28 10:09] kraftner commented on #518
@jerclarke I think I found the reason and thought it might still be interesting to you and anyone else stumbling across this issue.

The problem actually is the user agent `"--user-agent=GVCodeceptionAcceptanceWebDriver` you are setting in your Chrome options.
WordPress [checks the user agent](https://github.com/WordPress/WordPress/blob/4710282f3320b66a02c0e5cd5535048f498edd6f/wp-includes/general-

[2022-05-01 15:52] calvinalkan opened #575 "[DOC REQUEST] Alternative ways to test wp-cli commands."
**Did you search the documentation first?**
Yes

**What do you think is missing from the documentation?**
From my understanding, the WP-CLI module is pretty much the equivalent
of selenium tests for the browser. They completely end to end.
I can currently not think of any ways to test wp-cli commands besides having
them inside a must-use plugin or using the db-dumb function.

This is kind of limit

[2022-05-02 09:35] calvinalkan opened #576 "[FEATURE REQUEST] Support passing environment arguments to WPCLI module"
**Is your feature request related to a problem? Please describe.**
I can't test code that interacts with environment variables since its currently only possible to pass them in the suite config,
but not for individual calls.

**Describe the solution you'd like**

Id like to change the method signature of `WPCLI::cli()` to this:

[code]

So you would be able to run tests like this:

[code]

**Descr

[2022-05-02 09:35] calvinalkan commented on #576
This should not be too hard IMO, its also non-breaking.

[2022-05-03 12:06] calvinalkan commented on #571
@lucatume codeception v5 will require PHP8 btw. IMO we should hold out a little bit more and then make a clean cut requiring 8.0 aswell here.

[2022-05-04 07:26] lucatume commented on #571
@calvinalkan I know, I've started working on an exploratory branch `v4` on Codeception 5 as well.

[2022-05-04 17:43] calvinalkan commented on #571
@lucatume My suggestion is that we wait until 28 Nov 2022 and then release a new v4 that requires codeception 5 and PHP8.

7.4 loses security updates on that date.

[2022-05-05 07:59] lucatume commented on #571
I do not have a due date for wp-browser v4 yet, if it's ready before then, I would release it, if not, it will be out when it's done.
Before that, my idea would be to have the `v4` branch act as a beta for those daring to try it out.

[2022-05-05 08:01] lucatume commented on #575
The idea is an interesting one that would surely add value to wp-browser, thanks for bringing it up.

Could you make some examples of the kind of test you would like to be able to write? I'm better able to understand when I see the API I should code to, that's why I'm asking you this.

[2022-05-05 08:04] lucatume commented on #576
Again, thanks for the good idea and the example code supporting it.
I will try to get to this sooner, rather than later.
As always, PRs are welcome should you be so inclined and have time.

[2022-05-05 08:36] calvinalkan commented on #575
I don't have a concrete API in mind right now, the API from the cli module is fine. The problem is registering commands in the child process.

This is how I currently solve it.

https://github.com/snicco/better-wp-cli/tree/master/tests/wordpress

Codeception bootstrap: https://github.com/snicco/better-wp-cli/blob/master/tests/wordpress/bootstrap.php

Fake mu-plugin that is symlinked: https://githu

[2022-05-05 10:35] calvinalkan commented on #571
@lucatume fair enough, which PHP version are you aiming at tho?

[2022-05-05 10:40] calvinalkan commented on #575
Maybe an idea would be to use the symlink approach I employed there:

[code]

For now, I think the symlink approach is our best bet. Because there is no way for wp-browser to know what commands should be registered in the child process. Anything including serializing closures is just meant to fail. Wouldnt go that route.

So I think the best we can do is ensure that this file is included in the ch

[2022-06-01 18:45] w33zy opened #579 "[SETUP ISSUE] Getting step 1 of WP setup process when running basic acceptance test."
**Environment**
OS: Windows
PHP version: 7.4.28
Installed Codeception version: 4.1.31
Installed wp-browser version: ^3.1
WordPress version: 6.0
Local development environment: Laragon
WordPress structure and management: default WP install

**Did you use the `codecept init wpbrowser` command?**
Yes

**Did you take a look at Codeception and wp-browser documentation?**
Yes

**Codeception configuration

[2022-06-03 20:41] Spleeding1 opened #580 "[SETUP ISSUE]"
**Environment**
OS: macOS 12.4
PHP version: 7.4.1
Installed Codeception version: 4.1.31
Installed wp-browser version: 3.1.6
WordPress version: 6.0
Local development environment: Local by Flywheel
WordPress structure and management: default

**Did you use the `codecept init wpbrowser` command?** Yes

**Did you take a look at Codeception and wp-browser documentation?** Yes

**Codeception configurati

[2022-06-08 15:44] calvinalkan opened #581 "[DOC REQUEST] lucatume/codeception docker image"
Is this [docker image](https://hub.docker.com/r/lucatume/codeception) deprecated/unmainted/not-recommended?

If not, where is the source?

I would like to check out the dockerfile that comes with it.

[2022-06-09 17:37] w33zy opened #582 "[DOC REQUEST] Missing instructions on generating the Integration test suite"
**Did you search the documentation first?**
Yes.

**What do you think is missing from the documentation?**
Integration tests are referred to in the `Levels of testing` section of the docs, however there is no steps for how to generate the integrations test suite in the `Tutorials` section of the docs.

[2022-06-11 17:08] w33zy commented on #579
This issue can be closed as I think I made an important assumption in error, i.e., that database dump created by HeidiSQL is equal to the database dump created by the wp-cli.

[2022-06-11 17:08] #579 closed

[2022-06-15 03:18] szepeviktor commented on #581
@calvinalkan Maybe here? https://github.com/lucatume/dockerfiles/tree/master/containers/codeception

[2022-06-15 07:24] #581 closed

[2022-06-17 14:34] calvinalkan opened #583 "[BUG] WPTestCase classes break Codeceptions implied API"
**Environment**
OS: Mac
PHP version: 7.4
Installed Codeception version: 4.2
Installed wp-browser version: 3.1.6
WordPress version: [e.g. 5.4]
Local development environment: Docker
WordPress structure and management: default

**Describe the bug**
All Codeception test cases expose users to the possibility of using the _before() and _after() callbacks.
Analog to PHPUnits setup and tearDown().
See her

[2022-06-22 14:18] egamipeaks opened #584 "[BUG] WpDb module causes request timeout when letCron is not set to true"
**Environment**
MacOs 10.15.7
PHP version: 8.0.20
Installed Codeception version: 4.1.31
Installed wp-browser version: 3.1.6
WordPress version: 5.8.4
Local development environment: Vagrant (Trellis)
WordPress structure and management: Bedrock

**Can you perform the test manually?**
Yes

**Codeception configuration file**

[code]

**Suite configuration file**

[code]

**Describe the bug**
When `letC

[2022-06-23 21:38] jerclarke commented on #518
Magnificent! Thank you @kraftner!

Adding Chrome totally fixed it, and unblocks me from a bunch of other tests.

[2022-07-07 13:45] benjaminprojas opened #585 "[BUG] Docker image no longer works with Codeception"
This is related specifically to the docker image hosted here: https://hub.docker.com/r/lucatume/wp-browser

We have been using this to run our tests in docker, but lately it has stopped working with the following error:

[code]

It seems the PHP version in the docker image itself is 7.3.8 and needs to be updated. Is it possible to get a copy of the Dockerfile itself so we can generate our own imag

[2022-08-02 10:19] vyarmolenko commented on #571
@lucatume @calvinalkan waiting/deprioritizing work on this until the end of support of 7.4 doesn't sound like a very good option. Some hostings enforce user migration to PHP 8 before this date. Some users might need your library earlier than that date to verify their migration readiness.

[2022-08-02 10:20] calvinalkan commented on #571
@lucatume See also https://github.com/Codeception/Codeception/issues/6532

[2022-08-02 10:39] calvinalkan commented on #571
You can use wp-browser on PHP8.1 without any problem.

The reverse is not true. Now that codeception5 is out with a minimum of 8.0 you cant use it anymore to test PHP7.X code.

[2022-08-19 12:21] halmos opened #588 "Possible WPLoader dbHost setting Regression in 3.1 [BUG]"
**Environment**
OS: Mac
PHP version: 7.4
Installed Codeception version: 4.1
Installed wp-browser version: 3.1
WordPress version: 6.0.1
Local development environment:  Local by Flywheel
WordPress structure and management: default

**Codeception configuration file**

[code]

**Suite configuration file**

[code]

**Describe the bug**

With the `WPLoader` config setting `loadOnly: true`, the dbHost pa

[2022-08-19 17:00] halmos commented on #588
In reviewing the code history in more detail, I believe that this commit is the cause in change of the behavior:
https://github.com/lucatume/wp-browser/commit/eeec52112aa2732cb6d6345b6e9bd749d111ec46

[2022-09-14 09:25] Mte90 opened #589 "[DOC REQUEST] bootstrapActions for woocommerce"
As per PM:

Create a function in your `_bootstrap.php`:
[code]

In your `WPLoader`:
[code]

In this way woocommerce is activated without the wizard that can generate errors as is changing the output of the page with a redirect.

[2022-10-04 16:31] JosephGabito opened #590 "Ability to pass skipWordPressInstall as config"
Would be great if we can pass a config to set `skipWordPressInstall` to true.

https://github.com/lucatume/wp-browser/blob/master/src/Codeception/Module/WPLoader.php#L277

Thanks for this awesome tool btw!

[2022-10-22 11:56] covovker opened #591 "Update dotenv to a more recent version"
**Is your feature request related to a problem? Please describe.**
It became a problem to use WpBrowser along with other wordpress plugins in my environment due to the fact that is has an outdated DotEnv library. Newer versions of DotEnv initialize with "createImmutable", while older ones with "create". The problem takes place when the plugin with an older DotEnv is loaded before the newer one, it

[2022-11-17 15:27] meshakeeb opened #592 "[QUEESTION] Is the project dead"
There is no new commit in 8 months. Is the project dead?