[2019-06-17 15:11] lucatume commented on #258
Hi,

Thanks for reporting this.
In the context of integration tests, in a suite using the `WPLoader` module, if you load the plugins or themes defining the functions (e.g. woocommerce in your example) using the `plugins` and `activatePlugins` parameters, then the functions and classes will be available.

Does this not work?
Maybe the documentation is lacking in explaining this?

[2019-06-17 15:13] mickaelperrin commented on #258
Hi,
Thanks for the quick answer.
At the moment I tried in acceptance / functional tests, not in wpunit tests.
Should it work also in that kind of tests without any specific configuration ?

[2019-06-17 15:18] mickaelperrin commented on #258
Some more materials:
- File: `_support/Helper/Wpunit.php`
[code]

- File: `wpunit/newWooUserCest.php`
[code]
actor: WpunitTester
modules:
    enabled:
        - WPLoader
        - \Helper\Wpunit
    config:
        WPLoader:
            wpRootFolder: "%WP_ROOT_FOLDER%"
            dbName: "%TEST_DB_NAME%"
            dbHost: "%TEST_DB_HOST%"
            dbUser: "%TEST_DB_USER%"
            dbPassw

[2019-06-17 15:19] lucatume commented on #258
In integration tests it should work as I’ve described.

I t he context of acceptance tests you can:
1. Setup the suite to use the `WPDb` module…
2. To load a database dump in which the plugin, or theme, you’re testing is activated and, along with it, the plugins you need to test with (e.g. WooCommerce)
3. In the suite load and configure the `WPLoader` module to only load, see https://wpbrowser.wpt

[2019-06-17 15:22] lucatume commented on #258
In integration tests do not create a module, I’d create a trait and use its methods in a Test class extending the `WPTestCase` to setup the fixture you need in the `setUp` method.

[2019-06-17 15:24] mickaelperrin commented on #258
Yeah, that's what I planned to do, but I just wanted to do a quick and dirty test. Should it behave differently with a custom `WPTestCase` ?

[2019-06-17 16:07] mickaelperrin commented on #258
Are there known issues/incompatibilities with `autoload` and `WPLoader` ?

I have required `WP_CLI` has a composer dependency and the autoload is registered at the start of `wp-config.php`.

It used in the tests to determine the environment type (develop, staging, production...). So, before DB credentials are set.

 The test fails with:

[code]

[2019-06-17 21:25] mickaelperrin commented on #258
@lucatume Thanks, the instructions you gave me in https://github.com/lucatume/wp-browser/issues/258#issuecomment-502728153 are the way to do.

I struggle with the configuration but finally managed to bootstrap plugins before the tests start to run.

Thanks 👍

[2019-06-17 21:25] #258 closed

[2019-06-18 07:22] lucatume commented on #258
Thanks for getting back to this, I’m happy to help.

[2019-06-27 05:49] essekia opened #261 "How do I use helper methods in WpUnitTest? It works for Acceptance"
**Helper:**

[code]

**Config:**

[code]

**Test method:**

[code]

[2019-06-27 10:06] lucatume commented on #261
The `WPTestCase` is a Codeception-compatible wrapper of the Core suite base test case; as such it's better to think of it as PHPUnit test case.
Referring to the [Codeception Unit documentation](https://codeception.com/docs/05-UnitTests) `$this->tester` is what you're looking for: **it's currently not supported but I will add support for it in the next version**.
The `WPTestCase` class inherits fro

[2019-06-27 10:08] lucatume opened #262 "[BUG] WPTestCase should support the use of `$this->tester` from Codeception Unit"
See https://github.com/lucatume/wp-browser/issues/261

[2019-06-28 08:38] lucatume commented on #256
As I work on version `2.2.15` I just want to chime in on this: I've tried a setup similar to yours (PHP 7.3, Codeception 3 and PHPUnit 8.2.3) and did not run into issues w/ PHPUnit compatibility.
The code that throws an error in your report is this:
[code]

That same line of code, in the latest Codeception version, [seems to take care of this issue](https://github.com/Codeception/Codeception/blob/

[2019-06-28 11:44] #261 closed

[2019-06-28 11:44] #262 closed

[2019-06-28 12:13] #256 closed

[2019-07-01 04:48] essekia commented on #261
Great thanks.

[2019-07-02 09:50] lucatume opened #267 "[FEATURE REQUEST] SQLite support"
**Is your feature request related to a problem? Please describe.**
Faster integration tests.

**Describe the solution you'd like**
I'd like to be able to configure the `WPLoader` module like this to use a SQLite in-memory database:

[code]

On the same note I'd like to be able to use a file-based SQLite database like this and have the database created for me:

[code]

Finally I should be able to s

[2019-07-02 10:37] lucatume opened #268 "[FEATURE REQUEST] Sqlite Setup option during initialization"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/lucatume/wp-browser/issues/267

**Describe the solution you'd like**
I'd like to be asked, during a run of `codecept init wpbrowser` if I want to use SQLite database for integration testing.

[2019-07-08 16:41] mickaelperrin opened #269 "[BUG] Group support needs specific configuration ?"
**Environment**
OS: Mac
PHP version: 7.3.6
Installed Codeception version: 3.0.2
Installed wp-browser version: 2.2.15
WordPress version: 5.2.2
Local development environment:  docker
WordPress structure and management: custom inspired by themosis

**Can you perform the test manually?**

**Codeception configuration file**

Base
[code]
Plugin
[code]

**Suite configuration file**

[code]

**Describe th

[2019-07-08 17:02] #269 closed

[2019-07-09 07:31] lucatume commented on #269
Wow, most efficient issue resolution ever.

[2019-07-09 08:19] g-kanoufi opened #270 "[DOC REQUEST] : Set up a Docker test env only"
I am having a very rough time though trying to get a testing only env that could run on CI like bitbucket pipelines.
The solution i am trying to get is using docker, but as i am very bad at docker and server things, i am getting lost there.

Would you have some basic docker-compose file to let's say create a new wp core env, load the db via the WPDB "populator" and run codecept run acceptance (as

[2019-07-09 08:20] #270 closed

[2019-07-09 08:21] g-kanoufi commented on #270
Was not set in the right section

[2019-07-09 08:24] g-kanoufi opened #271 "[SETUP ISSUE]: Docker env for CI and testing only"
**Environment**
OS: [Mac, Linux]
PHP version: [7+]
Installed Codeception version: [latest]
Installed wp-browser version: [latest]
WordPress version: [latest]
Local development environment: [Local by Flywheel, Docker]

** Configuration files **
[On gist.github](https://gist.github.com/g-kanoufi/f1cd27dfaa11ebcd4a5e464be34d7772)

** Problem description **
I am having a very rough time though trying

[2019-07-09 16:07] mickaelperrin commented on #269
Well, groups are 'Case Sensitive' ;)

[2019-07-10 07:16] lucatume commented on #271
Hi, thanks for taking the time to report this.

I had never heard about the [ryanshoover/docker-wp-browser](https://github.com/ryanshoover/docker-wp-browser) project, great find; having never heard of it I've never used it so I cannot provide any insight about it.

Before I can provide any real help I need to ask you:
1. What are you trying to test? A plugin? A theme? A whole site?
2. In your gist

[2019-07-10 09:59] essekia opened #272 "[SETUP ISSUE] Can't make WPQueries work with WPUnitTester"
**Environment**
OS: Mac
PHP version:7.2
Installed Codeception version: 3.0.0
Installed wp-browser version: 2.2.14
WordPress version: 5.2.2
Local development environment: Docker
WordPress structure and management: [e.g. default, Bedrock, other]

**Did you use the `codecept init wpbrowser` command?**
Yes

**Did you take a look at Codeception and wp-browser documentation?**
Yes

**Codeception configu

[2019-07-11 09:07] lucatume commented on #272
Thanks for reporting this; the config file is correct, but the usage is not.
I recon this is a missing documentation issue, sorry.

You can see how it's used here:
* [example configuration file](https://github.com/lucatume/wp-browser/blob/master/tests/wploadersuite.suite.dist.yml)
* [example usage here](https://github.com/lucatume/wp-browser/blob/master/tests/wploadersuite/WPQueriesUsageTest.php)

[2019-07-11 14:04] g-kanoufi commented on #271
So this is were it gets complicated, i want to mainly only acceptance test a full website as it involves a lot of custom made plugins and well the acceptance tests on the front end.
The main installation is running on LocalbyFlywheel, it's a multisite.
So what i did is grabbing one subsite db as a single install with wpmigratedb cli, so the docker testing install can be a single site install.
I th

[2019-07-14 15:31] g-kanoufi commented on #271
Jus an update here.
I have been able to run tests on bitbucket pipeline all set up files are in the following updated Gist: https://gist.github.com/g-kanoufi/f1cd27dfaa11ebcd4a5e464be34d7772

One thing i miss is setting up WPWebDriver. Any addition in this sense to the gist will be super welcome :)

[2019-07-18 14:27] #271 closed

[2019-07-19 07:28] lucatume commented on #271
Thanks for reporting back on this and sorry for my lack of activity: busy times.

I’va had in my plans to write a Docker-dedicated setup section in the documentation and your seems a strong reminder. .

[2019-07-19 07:31] lucatume opened #275 "[DOC REQUEST] Docker setup documentation"
**What do you think is missing from the documentation?**
I would like to see a section of the documentation dedicated to setting up and running tests using containers.

**Do you have any examples of what you'd like to see added to the documentation?**
A walkthrough and a `docker-compose.yml` file would be a good start. If required Composer scripts too would help.

[2019-07-19 10:15] g-kanoufi commented on #271
Luca, yes, some doc on docker specific setup would be really awesome as it's very hard to find anything, especially for wpbrowser.
I hope my errors and files will help you for this.

[2019-07-19 10:38] g-kanoufi opened #276 "[DOC REQUEST]: Add test specific users after the populator has run"
**Did you search the documentation first?**
I did

**What do you think is missing from the documentation?**
I wonder how would i be able to add specific users, after the populator run.
Should it be in the _before section of any test file? Or in the bootstrapActions?

**Do you have any examples of what you'd like to see added to the documentation?**
What i would like to do, is actually just add 2 u

[2019-07-19 13:31] lucatume commented on #276
My answer is based on the assumption you're working in an acceptance test, using the `WPDb` module to import a site dump.
You mention `bootstrapActions` which is a parameter of the `WPLoader` module, that parameter is not relevant here but keep in mind [the `WPLoader` module should be used in `loadOnly` mode when used with `WPDb` module](https://wpbrowser.wptestkit.dev/summary/modules/wploader#wpl

[2019-07-19 13:41] lucatume commented on #276
If you need to add the test users just **once**, before any test runs and after populator ran, then you can add the users in your dump too.

[2019-07-19 15:59] g-kanoufi commented on #276
Sorry about missing WPDb::haveUserInDatabase method.
This is great but how can i get now the created user generated password to be able to login with that user.

Thank you.

[2019-07-19 16:46] Luc45 commented on #276
@g-kanoufi Paste this in your dump.sql:

[code]

Remember to replace `YOUR_USERS_TABLE_HERE`.

At your YML configuration file, you can also let the test itself use that admin user:

[code]

With this, you will be able to stop the test at a breakpoint and log-in to the WordPress dashboard with test/test

[2019-07-19 16:51] Luc45 opened #278 "[FEATURE REQUEST] Allow factories to be used when WPLoader's loadOnly is set to false"
**Is your feature request related to a problem? Please describe.**
I try to use `WPLoader` factories when `loadOnly` is set to false, but they are not available.

**Describe the solution you'd like**
Modify `\Codeception\Module\WPLoader::_loadWordpress` line 313:

Before:
[code]

After:
[code]

Currently `factoryStore` is being added at `bootstrapWP`, which is not called if `loadOnly` is false.

M

[2019-07-20 05:39] lucatume commented on #276
In my example I’m setting the password to `secret`, you can set the password to any value and just keep track of it.
@Luc45 provided another approach too.

[2019-07-20 12:13] lucatume commented on #278
Could you provide an example of how you would use this? I kinda know but am curious to a possible new idea.

[2019-07-20 16:55] Luc45 commented on #278
I am implementing a Builder Pattern that tries to be compatible with as many suites as possible. The idea is that you can use the same builder to build complex objects both in acceptance and integration tests, or any other suite, provided they have the necessary modules that Builder needs.

The Builder itself benefits from using factories to create posts, attachments and other stuff it might need

[2019-07-20 17:00] Luc45 commented on #278
If you'd like an in-depth view of the Builder pattern implemented, see this documentation I wrote for it: https://pastebin.com/tHDc56h7 (link expires in 1 week)

[2019-07-22 12:10] g-kanoufi commented on #276
Luc, Lucas, thanks for all those info.
Let me explain what is the final scenario that i would like to achieve.

The sql dump is auto-generated on a cron schedule and is the exact copy of staging site, so there is no use to add the users via SQL into the dump.
The YML admin user needs to stay as it is.
Once the populator has run, i want to test for the admin screen view for different user roles( ch

[2019-07-22 16:52] Luc45 commented on #276
@g-kanoufi In this scenario, it's what @lucatume said.

[code]

[2019-07-22 19:44] lucatume commented on #278
@Luc45 very interesting code indeed.
I feel like the Factory that comes (and would come with) the `WPLoader` module would already do a lot of that argument juggling, but agree that its array-based approach might not be the most readable one.
To better explain what I mean you can already do this:
[code]

Again: I feel yours is a valid addition that would empower more "ablative" APIs; thanks.
I will

[2019-07-24 04:04] #278 closed

[2019-07-29 18:57] alexkuc opened #281 "Two notices raised"
Hello!

When running wpunit/integration tests, I get two notices:

[code]

Using latest (`2.2.16`) WPBrowser which was installed via Composer. PHP version is `PHP 7.2.14 (cli)`.

I am not sure if I am doing something wrong on my end or not.

[2019-07-30 06:59] lucatume commented on #281
Hi,

Thanks for reporting the issue, this does not seem related to anything you are doing but, to make sure, could you post your Codeception configuration file and suite configuration file?
Are you using the blog factory in any capacity in at least one test? If so: could you please post a minimal test example?

[2019-07-31 16:32] #281 closed

[2019-08-01 08:03] lucatume commented on #281
@alexkuc you were not doing anything wrong: I've found out I had introduced this issue in `2.2.16` and have fixed this in `2.2.17`.

[2019-08-01 15:21] Luc45 opened #283 "[BUG] WPTestCase's _setUpBeforeClass tries to use WordPress code before WordPress is loaded when loadOnly is true"
**Environment**
OS: Linux
PHP version: 7.0.33
Installed Codeception version: 3.0.3
Installed wp-browser version: 2.2.17
WordPress version: 4.9

**Codeception configuration file**

[code]

**Suite configuration file**

[code]

**Describe the bug**
When running integration tests with `WPLoader` with `loadOnly: true`, it enqueues the WordPress to be loaded with this function:

`$this->addAction(Event

[2019-08-01 15:38] Luc45 commented on #283
Just for testing purposes, I've changed the event to `SUITE_INIT` with priority 100 and the tests ran.

[2019-08-01 15:40] Luc45 commented on #283
Related https://github.com/lucatume/wp-browser/commit/0b73352aae4cc4fb43663f902530f8e437b6833a

[2019-08-01 15:48] Luc45 commented on #283
Last called stack before the fatal:

- Enqueue WordPress to be loaded at priority 0
- A couple more things seems to be enqueued with priority 0 as well. See `\Codeception\Subscriber\BeforeAfterTest::$events`
- `beforeClass` runs before `_loadWordPress`. See \Codeception\Subscriber\BeforeAfterTest::beforeClass

[2019-08-02 08:45] lucatume commented on #283
Fixed in `2.2.18`

[2019-08-02 08:45] #283 closed

[2019-08-05 12:08] karser opened #286 "[SETUP ISSUE] remove_hosts_entries throws sed: -e expression #1, char 1: unknown command: `.'"
**Environment**
OS: Ubuntu 18.04
PHP version: unrelated
Installed Codeception unrelated
Installed wp-browser version: 2.2.18
WordPress version: unrelated
Local development environment: docker
WordPress structure and management: docker

Hello, I'm crafting the CI/CD makefile for my plugin which eventually will be running on travis. First I'd like to make it work locally.

I'm getting this error whe

[2019-08-05 20:31] lucatume commented on #286
Hi @karser,

the `Makefile` in wp-browser root folder is really for its development purposes and very much tailored to my own needs.
I'm surprised/amazed you would run it locally.
I work on a Mac and `sed` is one of those binaries that differ between Mac and Linux systems.
If you're willing to there's no harm in trying to make this work on Linux too.

I will take a look at this and see if I can ma

[2019-08-05 20:37] karser commented on #286
I used to write bash scripts for docker CI/CD, but recently discovered makefiles - it's much better fit to this purpose!
Actually I was able to re-use 70-80% of your makefile. I ended up with this:
[code]

How come it works on Travis then?

[2019-08-05 20:41] lucatume commented on #286
Great!

It doesn't; I use it only locally in the `ci_local_prepare` task, that is never called by the `.travis` configuration file.

See https://github.com/lucatume/wp-browser/blob/master/Makefile#L194

[2019-08-05 20:45] karser commented on #286
I see, that makes sense! I'm using `ci_local_prepare` locally btw, but didn't get to travis config yet.

[2019-08-06 09:35] lucatume commented on #286
In [this PR](https://github.com/lucatume/wp-browser/pull/288) I've simplified the script and tested it locally using `gnu-sed`.
I've kept the `-i.orig` flag since all versions of `sed` (that I'm aware of) will support replacement in place with the additional specification of a backup file extension.
Since this comes built-in with `sed` I'd keep this simpler and skip the line where the file is expl

[2019-08-06 10:03] #286 closed

[2019-08-06 10:12] karser commented on #286
Glad to see these changes! :+1:

[2019-08-15 08:58] g-kanoufi commented on #276
Ok, so thank you for all your help, this is what i did in case this can help anyone there:

As we have the prod db dump generated automatically, i have added a new sql file with my modifications, like adding tests only users and tweeking some options and just call that second sql file in the populator as follow:

[code]
Where mdb_dump.sql is generated every day and untouched and additional_data.sq

[2019-08-15 08:58] #276 closed

[2019-08-19 12:27] karser commented on #275
Hey @lucatume,
I created CI setup for a wordpress plugin which uses docker containers for everything. It is mostly based on your makefile but still took me a few days because testing a plugin has its own pitfalls. That's what I added:
- During setup it copies the plugin files to wordpress/plugins since it must be tested without dev dependencies. All paths to copy are defined in `.rsync`
- I introd

[2019-08-24 10:05] szepeviktor opened #291 "[FEATURE REQUEST] Robust code"
Please consider adding static analysis.

This is @phpstan with WordPress extensions.

`phpstan.neon.dist`

[code]

[2019-08-26 00:20] TimothyBJacobs opened #292 "[BUG] Doesn't ignore foreign key constraints when dropping tables"
**Environment**
OS: Mac
PHP version: 7.3
Installed Codeception version: v3.1.0
Installed wp-browser version: 2.2.19
WordPress version: 5.2
Local development environment: Local
WordPress structure and management: Default

**Codeception configuration file**
Default generation.

**Suite configuration file**
Default generation.

**Describe the bug**
If you have foreign key constraints setup, when `iso

[2019-08-26 07:08] lucatume commented on #275
@karser sorry for the late reply.

Thanks for getting back with this information.
Your PR made something click for me and I'm currently working on a solution to run all the test suites in parallel. At the moment the solution would apply to wp-browser only, but I'm hoping to get something more usable out of it.

I'm open to PRs about documentation. Just so you know.

[2019-08-26 07:11] lucatume commented on #291
Hi @szepeviktor,

thanks for opening an issue.

I'll give this a try.

I guess this is a mild suggestion wp-browser code is not that robust; I'm not discussing that as the project grew with me.

Do you think there are particular areas where the code could be improved?

[2019-08-26 07:13] lucatume commented on #292
Hi @TimothyBJacobs,

Thank for reporting the issue **and** providing a fix for it, wow.

I will take a look at the PR as soon as I can and merge it.

Again, thanks for your contribution.

[2019-08-26 07:17] #292 closed

[2019-08-26 08:27] karser commented on #275
That makes sense - all kind of tests take approximately same amount of time (except unit ones). And they don't depend on one another.
Are you using docker for running in parallel? I guess there are implications - wait until all tests finished, merge tests result, clover, etc.

[2019-08-26 09:06] szepeviktor commented on #291
@lucatume phpstan discovers problems invisible to most human eyes.

I work for developer teams. I talk them into using the following zero-coverage tests in CI:

1. syntax check
2. coding standard
3. static analysis

It makes your code robust without writing a single (unit/feature) test.

[2019-08-26 09:07] szepeviktor commented on #291
⚠️ phpstan may hurt your emotions

[2019-08-27 06:37] lucatume commented on #275
I'm using `docker-compose` and `make -j`.
The `make` part is not definitive, but it's convenient at the moment.
There are a number of "gotchas" along the way; I'm keeping a "diary" of the discovery process [on my blog](https://www.theaveragedev.com/parallel-docker-builds-for-the-wp-browser-project-03/).

[2019-08-27 06:40] lucatume commented on #291
@szepeviktor thanks for the clarification.

To be clear, as the text is not very good at conveying emotion, I asked out of interest, not to defend my code.

I'm well aware of the hurt feelings.
**But**, in Italy we say "if you take the beating, stay for the lesson", so I will try to add it to the project whenever possible and see what comes out.

[2019-08-29 16:31] TimothyBJacobs opened #294 "[BUG] WP CLI module evaluates path during build"
**Environment**
OS: Mac
PHP version: 7.3
Installed Codeception version: v3.1.0
Installed wp-browser version: 2.2.19
WordPress version: 5.2
Local development environment: Local
WordPress structure and management: Default

**Codeception configuration file**
[code]

**Suite configuration file**
[code]

**Describe the bug**
I run acceptance tests within a docker container using `docker exec`. When I t

[2019-08-29 17:18] TimothyBJacobs opened #295 "[FEATURE REQUEST] Add allow-root as a WP CLI option or way to switch user"
**Is your feature request related to a problem? Please describe.**
When running tests in the bitnami docker WP image, WP CLI needs to be run as the daemon user. However, to gain access to the root WordPress folder you need to be root.

If you run WP CLI as the root user, you get the "are you sure" warning instructing you to add `--allow-root` or switch to the correct user.

**Describe the solution

[2019-08-29 17:19] TimothyBJacobs commented on #295
Happy to PR either of these.

[2019-08-29 22:06] TimothyBJacobs opened #296 "[BUG] WP CLI Module does not properly evaluate exit code"
**Environment**
OS: Mac
PHP version: 7.3
Installed Codeception version: v3.1.0
Installed wp-browser version: 2.2.19
WordPress version: 5.2
Local development environment: Local
WordPress structure and management: Default

**Describe the bug**
A `ProcessFailedException` is thrown when a WP Cli command fails with a non-zero exit code instead of `evaluateStatus` running.

**Output**
[code]

**To Repro

[2019-08-30 15:50] TimothyBJacobs opened #297 "[FEATURE REQUEST] Add WP CLI method to get raw output"
**Is your feature request related to a problem? Please describe.**
When executing a WP CLI command that returns an id, or count, or similar "single" value, needing to use `cliToArray` can be unergonomic.

**Describe the solution you'd like**
A method like `cliToString` that returns the raw output string.

**Describe alternatives you've considered**
Always providing a custom split function that jus

[2019-09-02 09:16] lucatume commented on #294
@TimothyBJacobs thanks for opening an issue and taking the time to fill in all the details.

I think your proposal to move the `path` check from build time to run time makes a lot of sense and I'm addressing it in the PR #298 .

Being there I've pulled over some WPCLI module refactorings I've done while working on SQLite integration, those should not affect the issues, but could provide context in

[2019-09-02 15:16] TimothyBJacobs commented on #294
👍 thanks! Happy to test whenever it's ready.

[2019-09-03 11:56] lucatume commented on #295
@TimothyBJacobs thanks for this report.

I'm working to fix this in the PR #298 .

The idea is to support an `allow-root` configuration parameter in the `WPCLI` module configuration.

[2019-09-03 12:50] lucatume commented on #297
This seems a good addition to the module, thanks.

I will add this in the same PR (#298) where I'm tackling the other issues you reported (thanks again!).

[2019-09-04 14:40] #295 closed

[2019-09-04 14:40] #296 closed

[2019-09-04 14:40] #297 closed

[2019-09-04 14:41] lucatume commented on #294
Fixed in #298

[2019-09-04 14:41] #294 closed

[2019-09-04 14:49] TimothyBJacobs opened #299 "[FEATURE REQUEST] WP CLI Strict Args Mode"
**Is your feature request related to a problem? Please describe.**
Add support for strict arg mode to distinguish between global and local parameters.

**Describe the solution you'd like**
For me to be able to pass `strict` as a config option to the WP CLI module. When in this mode, the global parameters would be placed before the user command and `WP_CLI_STRICT_ARGS_MODE=1 ` would be prefixed to

[2019-09-04 15:31] lucatume commented on #299
@TimothyBJacobs thanks for reporting this.

I was just looking at the issue number going down... I missed by 10'.

Good idea, thanks, coming soon.

[2019-09-05 15:23] #299 closed

[2019-09-05 15:27] lucatume commented on #299
Added in `2.2.22`, see [doc](https://wpbrowser.wptestkit.dev/summary/modules/wpcli#environment-configuration).

[2019-09-05 20:49] TimothyBJacobs commented on #299
Thanks so much @lucatume, this looks perfect!

[2019-09-06 03:50] eltoma-alexkuc opened #302 "[BUG] Database is not preserved?"
**Environment**
OS: OSX 10.13.6
PHP version: 7.3.8
Installed Codeception version: 3.1.0
Installed wp-browser version: 2.2.20
WordPress version: 5.2.3
Local development environment: Docker via docker-compose
WordPress structure and management: default

**Can you perform the test manually?**
Not applicable as the test is purely WPBrowser code (test code follows).

**Codeception configuration file**

[2019-09-06 20:19] #291 closed

[2019-09-06 20:22] lucatume commented on #302
@eltoma-alexkuc thanks for reporting this and for taking the time to detail and provide an example.

I will look into this and update.

[2019-09-06 20:23] lucatume commented on #291
@szepeviktor I've started using `phpstan` in #301  and am very thankful for the suggestion.
It's now part of the build and a welcome tool.

[2019-09-06 20:36] szepeviktor commented on #291
You're welcome.

[2019-09-07 00:03] eltoma-alexkuc commented on #302
@lucatume I have updated version to `2.2.23` but the issue remains from my end

[2019-09-07 00:22] eltoma-alexkuc opened #304 "[BUG] Updating from 2.2.20 to 2.2.23 raised a warning"
**Environment**
OS: OSX 10.13.6
PHP version: 7.3.8
Installed Codeception version: 3.1.0
Installed wp-browser version: 2.2.20 -> 2.2.23
WordPress version: 5.2.3
Local development environment: Docker (compose file)
WordPress structure and management: default

**Describe the bug**
When performing Composer update/upgrade, I got 2 warnings: `Warning: Ambiguous class resolution` (full warnings follow).

[2019-09-07 07:59] lucatume commented on #304
@eltoma-alexkuc thanks for reporting the issue.
There are indeed two classes, and have been for some time now, but recent changes must be the cause follow that warning.

I will look into this.

[2019-09-07 08:01] lucatume commented on #302
I can reproduce locally and am investigating the causes, thanks for updating after the update.

[2019-09-07 09:43] lucatume commented on #302
@eltoma-alexkuc after some inspection I found out this is, actually, [Codeception intended behavior](https://codeception.com/docs/modules/Db#haveInDatabase); I keep forgetting it every now and then; sorry.

As you can see [in the `Db` module config](https://codeception.com/docs/modules/Db#Config) the `cleanup: false` parameter will avoid re-importing the dump between tests **but will not prevent i

[2019-09-07 09:43] lucatume commented on #302
Let me know if the above solves your issue.

[2019-09-07 10:08] lucatume commented on #304
I have found no issues with this when updating without using the `-a` (authoritative class mapping) flag.

Correct me if I'm wrong but the message will only pop-up when using the `-a` flag.

I will look into this nonetheless

[2019-09-08 00:08] eltoma-alexkuc commented on #304
@lucatume to be honest I didn't try with `-a` flag as common practise is to update dependencies using just `composer update` (from my experience) unless one of the dependencies would explicitly state that a different update method is required

[2019-09-08 00:17] eltoma-alexkuc commented on #302
@lucatume Thank you very much for taking the time to explain the situation, now it all makes sense to me. So marking issue as resolved.

I would add this to my comment as it may help others. wp-cli does an excellent job at scaffolding, explained [here](https://developer.wordpress.org/cli/commands/scaffold/). As wp-cli is included with wp-browser, it is a no-brainer (to me) to go with that for scaf

[2019-09-08 00:17] #302 closed

[2019-09-12 12:21] JanJakes opened #306 "[BUG] Broken Codeception 3 support"
It seems Codeception 3 support was removed from `composer.json` by mistake in https://github.com/lucatume/wp-browser/commit/be75f4245315600789793e72594ad185c755d112.

[2019-09-13 06:57] #306 closed

[2019-09-13 06:58] lucatume commented on #306
@JanJakes thanks for reporting this and for pointing out the commit, much appreciated.

I've fixed in master and am testing it out.

[2019-09-13 12:42] lucatume commented on #306
Fixed in `2.2.25`.

[2019-09-15 18:09] eltoma-alexkuc opened #308 "[BUG] activatePlugin() raises error"
**Environment**
OS: OSX
PHP version: 7.3.9
Installed Codeception version: 2.5.6
Installed wp-browser version: 2.2.23
WordPress version: 2.5.6
Local development environment: docker-compose.yml via Docker Toolbox on OSX
WordPress structure and management: default

**Can you perform the test manually?**
Yes, I can activate plugin via `wp-admin/plugins.php`. No warnings or errors.

**Codeception confi

[2019-09-16 07:25] lucatume commented on #308
@eltoma-alexkuc from the test code you posted I see you're not logging in the site using `loginAsAdmin` or `loginAs` method.
Add that in the test case `_before` method or at the start of your test methods and let me know if that solves the issue.

You can see this from the debug output:
[code]

[2019-09-17 11:06] #304 closed

[2019-09-17 11:07] lucatume commented on #304
@eltoma-alexkuc This should be fixed in `2.2.26`; let me know if not.

[2019-09-17 11:09] lucatume commented on #272
@essekia I'm closing this as resolved; let me know if this is not the case.

[2019-09-17 11:09] #272 closed

[2019-09-17 13:08] JanJakes opened #310 "[BUG] WP-CLI broken when argument contains spaces"
**Environment**
OS: Linux
PHP version: 7.3
Installed Codeception version: 2.5.2
Installed wp-browser version: 2.2.25
WordPress version: 5.2

**Problem:**
When using title with spaces such as:
[code]

I get `Codeception\Exception\ModuleException: WPCLI: Error: Too many positional arguments: ALC newsletter testing'` error.

The error does not occur on `2.2.20`. It may be caused by a combination of t

[2019-09-17 13:54] lucatume commented on #310
@JanJakes thanks for reporting the issue.

I think you're right in your diagnosis and the commits you pointed out are probably the origin.
While I work to fix the issue you can pass the arguments in the array format and that parsing will be avoided.

[code]

Let me know if that is a good work-around for the issue.

[2019-09-17 14:02] JanJakes commented on #310
@lucatume I simply downgraded to `2.2.20` but the array workaround works as well, thanks!

[2019-09-17 14:04] lucatume commented on #310
I'd use the array format always, even after the issue is fixed: this is the format supported and used by the Symfony Process component and the one that, in the long run, will have the least problems.

[2019-09-18 07:29] #310 closed

[2019-09-18 10:30] mityung commented on #308
@lucatume I analysed it further and found that it happen only in a given scenario
1. We need to set some flags in our Cest(wpbrowser test) files and use those flags in our plugin code.
2. We are using wp cli to set those flags in Cest files(wp cli module enabled and working fine)
`$I->cli("config set DUMMYFLAG 1 --raw");`
3. We are using SemaphoreCI to run tests.

So, idea is to set these flags be

[2019-09-18 17:28] JanJakes opened #312 "[BUG] WPCLI with output on stderr raises exception (return code is 0)"
In recent versions (tested on `2.2.27`) a command that outputs a simple warning to stderr (like that a plugin was already activated) makes the command fail (when `throw` set to true). It's probably thrown [here](https://github.com/lucatume/wp-browser/blob/master/src/Codeception/Module/WPCLI.php#L373).

It seems there used to be a similar behavior before but for some reason, it didn't work (didn't

[2019-09-18 18:58] lucatume commented on #308
@mityung could you please paste the Cest code you're using?

Per https://github.com/lucatume/wp-browser/issues/308#issuecomment-531668128: I do not see where you're using `loginAsAdmin` and can see, in the output, where the `WPBrowser` module tries to redirect to the login screen.

Before delving into specific CI/env issues this should work locally, does it?

[2019-09-19 04:20] mityung commented on #308
@lucatume as i written in above **NOTE** that it's working fine on local system.
here is my complete Cest code

`class CsvCest
 {
    public function _before(AcceptanceTester $I)
    {
        $I->loginAsAdmin();
        $I->amOnAdminPage("themes.php");
        $I->useTheme('TESTTHEME');
        $I->cli("config set TESTFLAG 1 --raw --allow-root");
    }
    public function _after(AcceptanceTester

[2019-09-19 06:48] JanJakes commented on #312
@lucatume I marked this a bug since it's quite a BC break. Will have to downgrade to `2.20.0` atm since we do have some warnings on stderr. I noticed there has been quite a few BC breaks recently in patch versions.

On an unrelated note - [this](https://github.com/lucatume/wp-browser/releases/tag/2.2.21) release has a wrong name, probably a typo (`2.2.1` instead of `2.2.21`).

[2019-09-19 07:40] lucatume commented on #312
@JanJakes I understand how this could be a bug.
The irony of it is that it's now due to a previous one that would prevent exceptions from being thrown on failing commands.

I lean toward certain fixtures and results in testing and prefer an exception being thrown if the command fails for any reason, but I understand how that might not be everyone's path.

I'm implementing this API:

[code]

[2019-09-19 07:47] JanJakes commented on #312
@lucatume For instance, we have a test that expects something not being visible when WooCommerce is not active. In our tests it's not active by default but doing this `$I->cli('plugin deactivate woocommerce');` explicitely seems cleaner and more readable. This will output a warning `Warning: Plugin 'woocommerce' isn't active.`, not a big deal but now converted to exceptions.

While what you sugges

[2019-09-19 07:59] lucatume commented on #312
I see your point, thanks for providing more information.
While I see the value in a `throw_on_stderr` setting I also see how it could become a hindrance as the suite scales.
It all comes down to how the `WPCLI` module is used in tests, but how, provided that configuration parameter and its `false` value, would you handle this?

[code]

I appreciate how this is personal preference, yet I'd rewrite

[2019-09-19 08:08] JanJakes commented on #312
@lucatume I agree with you, my point is there is a significant difference between a _failed_ command and a command that just outputs something to _stderr_. The difference is so fundamental that the authors of the commands decided to still return `0` and just output some info.

I'm not saying we should ignore _failed_ commands. I'm saying we should not conver successful commands to _failed_ ones.

[2019-09-19 09:33] lucatume commented on #312
@JanJakes thanks for clarifying further.

Your point is a valid one; I will update the behavior to throw, if `throw` is `true`, on a not `0` exit status, rather than as a result of a check on the content of `stderr`.

I will update this issue with the PR when ready.

[2019-09-19 09:45] JanJakes commented on #312
@lucatume Thanks! That said, there may be valid use cases when warnings show something is not completely OK. Warning such as that plugin was not active is harmless but if I'm not mistaken I've seen other warnings like invalid post ID when I passed wrong or empty string to `--post_id=...` (I think it was just a warning).

So my point is - yes, respecting command return value is good but maybe someo

[2019-09-19 09:48] lucatume commented on #312
I would let my over-engineering attitude out of the discussion for now and trust the good folks that created and maintain wp-cli: if, to their judgment, an error is fine while still keeping the `0` status code it's fine enough for me too.

If anyone requests, in the future, stricter checkings, then I'll deal with that.

Thanks to you for the long merry-go-round discussion.

[2019-09-19 10:05] lucatume commented on #308
@mityung thanks for providing the example code; this helps me a lot to understand your problem.

No, it does not load any WordPress files.
WPBrowser will browse on the plugins page and click to activate the plugin as a user would. The plugin process activation is handled via the webserver.

I have to look into this to provide a correct answer: are you using containers on the CI system? At times th

[2019-09-19 12:30] mityung commented on #308
@lucatume Thanks for reply,

Yes, we are using containers

I had same doubt and tried to print contents of wp-config.php file just before and after activating plugin using `activatePlugin`
[code]
And it showing flags are there in content of wp-config.php file on both prints.
I'm not sure If file is not synced with wpbrowser environment, can it print those flags in content of wp-config.php?

[2019-09-19 16:30] #312 closed

[2019-09-19 16:33] lucatume commented on #308
I most definitely have to look into this.
Thanks for the debugging information. I will update with further information as I have it.

[2019-09-23 14:17] eltoma-alexkuc commented on #308
### TL;DR

@lucatume

This solved it! Did 10 runs on CI and none of them failed. I will clarify why there was a failure.

### Detailed analysis

We use custom WordPress plugin which imports data from CSV but for performance reasons we do _selective_ import using so-called flags (global constants).

So the interesting thing about this quirky bug is that a) it occurs only in CI but only 30%-50% of t

[2019-09-23 15:43] lucatume commented on #308
@eltoma-alexkuc thanks for getting back with such a wealth of information.
It's good to know you, and your team found why this happens and how to get around it.

In many suites I work around this issue in a similar way, using variations of this module:

[code]

I put this in `tests/_support/Helper/ContainerContext.php` and enable the module on any suite that might be affected by it.
You can config

[2019-09-24 07:13] JanJakes opened #316 "[BUG] WPCLI sometimes returns wrong output"
After fixing https://github.com/lucatume/wp-browser/issues/312 there's still a line ([this one](https://github.com/lucatume/wp-browser/blob/master/src/Codeception/Module/WPCLI.php#L373)) causing the `cli()` functions to return `stderr` instead of `stdout` in case anything was written to `stderr`.

That means if any character was written to `stderr` we're unable to get `stdout`.

[2019-09-24 09:34] lucatume commented on #316
Could you provide an example of the command you're using where you encounter this situation?

Furthermore: what would the ideal desired behavior be?

[2019-09-24 09:45] JanJakes commented on #316
The problem is you can have a command that outputs a warning but succeeds with return code `0`. Now, such command may output something useful to `stdout`. With current behavior I cannot get the useful output - it will be overwritten by the `stderr` warning due to the mentioned [line](https://github.com/lucatume/wp-browser/blob/master/src/Codeception/Module/WPCLI.php#L373):
[code]
I think it should

[2019-09-24 09:47] lucatume commented on #316
Ok, thanks for clarifying.

I think the best approach would be to return the standard output if any, else the standard error.
So, the second modification should be the correct one.

I will update this with the fix, when available.

[2019-10-03 01:15] eltoma-alexkuc commented on #308
@lucatume This is excellent suggestion, thank you very much! I believe at this point the issue can be considered resolved unless you have any other questions?

[2019-10-03 01:41] #308 closed

[2019-10-10 15:31] TimothyBJacobs opened #319 "[FEATURE REQUEST] Add "see" methods to see results of CLI command"
**Is your feature request related to a problem? Please describe.**
When I'm using acceptance tests to test the output of custom CLI commands, I'd like to be able to assert that the output contains something.

**Describe the solution you'd like**
To have the same ( could be differently named, but functionally ) methods in the WP CLI module as the native CLI codeception module provides.
https://gith

[2019-10-10 19:57] TimothyBJacobs opened #321 "[FEATURE REQUEST] WP Mail Module"
**Is your feature request related to a problem? Please describe.**
I want to be able to assert that an email has been sent and interact with the sent emails.

**Describe the solution you'd like**
A `WPMail` that can see email messages, subjects, and click on links.

**Alternatives considered**
Setting up some of the existing more general purpose mail modules codeception provides.

** Additional co

[2019-10-14 08:57] lucatume commented on #321
@TimothyBJacobs this would indeed be useful!

Thanks for sharing the code, I feel some duplication could be avoided by:
1. using the `WPFilesystem` module for the WordPress directory checks and the file operations; I would make this an internal dependency, not required in the suite configuration file.
2. I've got mixed feelings about the module dependency on a Web one; I see how you use it in the

[2019-10-14 08:57] lucatume commented on #321
I will get back to this later, and comment further, trying to explain myself better.

[2019-10-14 09:34] #319 closed

[2019-10-14 10:29] lucatume opened #323 "[DOC BUG]"
**wp-browser version**
2.2.30

**Link**
See [WPCLI documentation](https://wpbrowser.wptestkit.dev/summary/modules/wpcli#seeinshelloutput).

**Issue**
Code examples are printed on one line, they should be printed on multiple lines, reflecting the layout used to write them in the methods `@example` tags.

[2019-10-14 11:44] #323 closed

[2019-10-14 15:51] TimothyBJacobs commented on #321
Thanks @lucatume! I agree, splitting the module to have a `WPWebMail` would make a lot of sense.

I don't totally understand what you mean by using `WPFilesystem` as an internal dependency.

[2019-10-14 15:54] TimothyBJacobs commented on #319
Thanks @lucatume!

[2019-10-22 02:20] sky4git opened #325 "remove_action error in WPAjaxTestCase.php on line 133"
**Environment**
OS: Windows
PHP version: 7.3.10
Installed Codeception version: 3.1.0
Installed wp-browser version: 2.2.30
WordPress version: 5.4.2
Local development environment: PHP, Apache, Mysql
WordPress structure and management: default

**Can you perform the test manually?**
No.

**Codeception configuration file**
[code]

**Suite configuration file**
[code]
**Simple Ajax test class in the sui

[2019-10-22 04:55] sky4git commented on #325
Partially fixed:
I forgot to enable the *WPLoader* module the in **suite configuration file**:
This is the new version of the file:
[code]

However, when I run the test it always run out of memory:
**Output**
[code]
Any thoughts on that.

[2019-10-22 07:05] lucatume commented on #325
@sky4git thanks for taking the time to report the issue and add all the details.

I will look into this and get back to this issue with, hopefully, a fix.

[2019-10-22 14:17] #325 closed

[2019-10-24 18:41] apurbajnu opened #327 "codecept: command not found[SETUP ISSUE]"
**Environment**
OS: [e.g. WSL (windows subsystem/ubuntu18.04)]
PHP version: [e.g. 7.3]
Installed Codeception version: [e.g. 2.5.0]
Installed wp-browser version: [e.g. 2.2.1]
WordPress version: [e.g. 5.2]
Local development environment: [e.g. PHP built-in server, Valet, MAMP, Local by Flywheel, Docker]
WordPress structure and management: [e.g. default, Bedrock, other]

**Did you use the `codecept in

[2019-10-25 07:21] lucatume commented on #327
@apurbajnu if the `codecept` command is not in your path, then you will get that message.

To solve either add `vendor/bin` to your path (google for the specific instructions for you setup) or use:
[code]

See [the documentation](https://wpbrowser.wptestkit.dev/summary/getting-started/configuration) for more information.

[2019-10-25 07:21] #327 closed

[2019-11-02 15:47] philschoefer opened #328 "[BUG] WPHealthCheck shows wrong theme for wpunit suite"
**Environment**
OS: Mac
PHP version: 7.3
Installed Codeception version: 3.0.2
Installed wp-browser version: 2.2.15
WordPress version: 5.2.2
Local development environment: Docker
WordPress structure and management: Bedrock

**Codeception configuration file**
Paste, in a fenced YAML block, the content of your Codeception configuration file; remove any sensitive data!

[code]

**Suite configuration f

[2019-11-03 19:21] szepeviktor opened #330 "Help me test my package"
Hello @lucatume!

Could you help me a bit to start testing this package?
https://github.com/szepeviktor/wordpress-persistent-admin-notices
Basically

- you can add
- and remove admin notices
- we could test the HTML on the admin page
- and the site transient

ps. I have no problem installing WP in CI

[2019-11-04 08:34] lucatume commented on #330
@szepeviktor could you be more specific about where you’re stuck or having issues?

[2019-11-04 09:36] szepeviktor commented on #330
@Luc45 I do not know what kind of setups are, actually I'm totally lost.

[2019-11-04 14:07] lucatume commented on #330
Did you try [here](https://wpbrowser.wptestkit.dev/summary/getting-started)?

[2019-11-07 08:48] lucatume commented on #321
Ignore the Stalebot notice, this is a good idea and I will tackle it.

[2019-11-07 16:56] Rahe opened #331 "[FEATURE REQUEST] Update phpdotenv version"
**Is your feature request related to a problem? Please describe.**
Bedrock asks for the ^3.6.0 version of vlucas/phpdotenv and isn't compatible with the wp-browser one.

**Describe the solution you'd like**
If possible, update to the last version of vlucas/phpdotenv to be compatible with it.
PHPdotenv changelog doesn't seem to break changes with the latest versions.

**Describe alternatives you've

[2019-11-07 17:02] Rahe commented on #331
symfony/config seems to be concerned too as I have tested to let wp-browser handle the phpdoenv version :)

[2019-11-08 09:17] lucatume commented on #328
@philschoefer, sorry for the late response.

Thanks for reporting the issue and providing the required information; I will fix it in the next release.

[2019-11-08 09:19] lucatume commented on #331
@Rahe thanks for reporting this, I'm marking this as an enhancement (leaning toward being a bug) and will tackle this in the next release.

Thais for providing the information and insight.

[2019-11-08 10:01] Rahe commented on #331
Thank you :)

[2019-11-08 17:39] philschoefer commented on #328
Awesome, thanks @lucatume

[2019-11-12 21:42] TimothyBJacobs opened #332 "[BUG] Cannot create user with capitalized username"
**Environment**
OS: Mac
PHP version: 7.3.8
Installed Codeception version: 3.1.0
Installed wp-browser version: 2.2.31
WordPress version: 5.3
Local development environment: LbF
WordPress structure and management: default

**Describe the bug**
`User::generateUserTableDataFrom()` always converts the passed username into a slugified version. This means if I want to create a user with a username like `M

[2019-11-13 08:44] lucatume commented on #332
@TimothyBJacobs Thanks (again) for reporting this issue. I think the behavior could be revisited to allow for the same kind of usernames WP Core would allow.

Next!

[2019-11-22 19:28] TimothyBJacobs opened #333 "[BUG] WPRestControllerTestCase should pass the server to rest_api_init"
**Environment**
OS: Mac
PHP version: 7.3.8
Installed Codeception version: 3.1.0
Installed wp-browser version: 2.2.31
WordPress version: 5.3
Local development environment: LbF
WordPress structure and management: default

**Describe the bug**
`WPRestControllerTestCase::_setUp` should pass the `$wp_rest_server` instance to `rest_api_init` to match the [expected action signature](https://developer.wor

[2019-11-26 08:47] #333 closed

[2019-11-26 09:47] #328 closed

[2019-11-26 11:22] #332 closed

[2019-11-26 11:22] lucatume commented on #330
@szepeviktor any news on this front?

[2019-11-26 11:38] szepeviktor commented on #330
I think I have to spend hours until I deeply understand it.
Maybe I'll contribute additional docs.

[2019-11-26 11:38] #330 closed

[2019-11-26 11:50] lucatume commented on #331
Misclick, sorry.

[2019-11-26 11:54] lucatume commented on #331
I've just created a fresh project and:

* `composer require roots/bedrock`
* `composer require lucatume/wp-browser`

And had no installation issues.
Is your project requiring other packages? What versions?

[2019-11-26 16:35] lucatume commented on #330
In my experience, there's usually an initial block that makes it look more difficult.

[2019-11-27 13:47] Rahe commented on #331
Hello,

We use the command from the documentation for creating the project :

`composer create-project roots/bedrock`
And then add the `lucatume/wp-browser` dependency.

I'm not sure this is the same as juste requiring bedrock i'll check on my side.

[2019-11-28 08:15] lucatume commented on #331
Ok, I will test doing the same then and update the ticket.

[2019-11-29 09:21] lucatume commented on #331
@Rahe I've just created a project, on a PHP 7.1 machine, using:

[2019-11-29 17:25] Rahe commented on #331
Hello,

This is weird, I'm using PHP7.3, I have :
[code]
In the configuration.

But I think I have found the problem, we use grumphp and as soon as the two dependencies are added, everything break :(.
Here's the return

[code]

This is hard to say where is the main

[2019-12-13 18:39] TimothyBJacobs opened #336 "[BUG] haveUserCapabilitiesInDatabase does not correctly set role"
**Environment**
OS: Mac
PHP version: 7.3
Installed Codeception version: 3.1.1
Installed wp-browser version: 2.2.31
WordPress version: 5.3
Local development environment: Docker
WordPress structure and management: Default

**Codeception configuration file**

[code]

**Suite configuration file**
[code]

**Describe the bug**
Subsequent calls to `haveUserCapabilitiesInDatabase` do not overwrite the exi

[2019-12-13 18:43] TimothyBJacobs opened #337 "[FEATURE REQUEST] Allow specifying additional capabilities in haveUserCapabilitiesInDatabase"
**Is your feature request related to a problem? Please describe.**
I have to manually construct the meta key to grant specific capabilities to users.

[code]

**Describe the solution you'd like**
To be able to make an API call like the following which would set the role and include the capabilities.

[code]

**Describe alternatives you've considered**
I'm currently manually calling `haveUserMetaIn

[2019-12-16 09:32] lucatume commented on #336
@TimothyBJacobs thanks for reporting the issue, this is next on my todo list.

[2019-12-16 09:36] lucatume commented on #337
@TimothyBJacobs this could go in together w/ the fix for #336.

Once I have a fix for #336 I will review this one and come back with some more code context to see if the proposed API, as it is, is a good fit.

Thanks for opening the issue.

[2019-12-18 12:20] #336 closed

[2019-12-18 12:20] #337 closed

[2019-12-18 12:21] lucatume commented on #336
I've fixed this in `2.2.33`; let me know if the issue persists.

[2019-12-18 12:28] lucatume commented on #337
@TimothyBJacobs while working to fix #335 I've extended the `WPDb::haveUserInDatabase` and `WPDb::haveUserCapabilitiesInDatabase` methods to accept more structured roles and caps.

The API, due to back-compat requirements, is not exactly the one you had envisioned as the 3rd parameter of the `haveUserInDatabase` method is a non-role related meta overrrides (you can still hack aroudn with it, thoug

[2019-12-18 12:29] lucatume commented on #337
And the same structure can be used for the `WPDb::haveUserCapabilitiesInDatabase` method.

[2019-12-18 17:57] TimothyBJacobs commented on #337
Looks great to me! Thank you!

[2020-01-16 09:33] dorni1234 opened #340 "[SETUP ISSUE] Document and explore Bedrock compatibility"
**Environment**
OS: Linux 5.4.10
PHP version: 7.4.1
Installed Codeception version: 3.1.2
Installed wp-browser version: 2.2.32
WordPress version: 5.3
Local development environment: Valet-Linux
WordPress structure and management: Bedrock

**Did you use the `codecept init wpbrowser` command?**
Yes.

**Did you take a look at Codeception and wp-browser documentation?**
Yes.

**Codeception configuration

[2020-01-17 02:51] lucatume commented on #340
@dorni1234 thanks for reporting the issue. I’m currently traveling and will look into this next week.

Are tests installed in Bedrock root directory?
Any particular step I should take to reproduce other than default Bedrock project scaffolding?

[2020-01-17 06:11] dorni1234 commented on #340
Yes, the `tests` directory is located in the root of the Bedrock project. And no, this is a regular Bedrock setup.

[2020-01-20 10:56] lucatume commented on #331
@Rahe I'm not sure what the next steps should be here, any suggestions?

[2020-01-20 11:05] lucatume commented on #340
@dorni1234 Now I'm back at work I can see something a bit "off".
Usually `wpunit` test suites, composed of test cases generated using `codecept g:wpunit <suite> <case>`, use the `WPLoader` module only w/ `loadOnly: false` (default value, hence usually not specified).

Could you provide an example of the test you're trying to run? I cannot quite grasp what kind of test you're trying to run and how.

[2020-01-21 05:54] dorni1234 commented on #340
Sorry for the late reply. Yes, I see the logical error I made with `loadOnly: true`, I somehow still had the acceptance tests in mind that rely on the production contents being present in the database.

Nonetheless, even with `loadOnly: false`, the database specified in `DB_NAME` is wiped clean.

The test I run looks like this:
[code]
I run the test with `vendor/bin/codecept run wpunit` and the te

[2020-01-22 14:20] lucatume commented on #340
@dorni1234 thanks for the detailed information.

Usually the `configFile` is loaded to add some required parameters to the test configuration.
Could you share what is in the `test-config.php` file?

[2020-01-23 06:10] dorni1234 commented on #340
The `test-config.php` looks like this:

[code]

I followed the instructions from your [blog post](https://www.theaveragedev.com/setting-wpbrowser-bedrock/) when setting it up to this point.

[2020-01-27 15:45] lucatume commented on #340
I've re-read the article and think there's space for improvement here:

1. update the article
2. add a Bedrock-specific setup guide

The article did work because, at the time of writing, the default environment file created, and used, by wp-browser, was the `.env` one.
That would coincide with the one used by Bedrock and make things work.

Since this is not the case anymore the article and guide n

[2020-01-31 04:47] Luc45 opened #342 "[FEATURE REQUEST] Add "themesFolder" parameter to WPLoader module"
**Is your feature request related to a problem? Please describe.**
We use a custom WordPress directory structure and would like the flexibility to determine `themesFolder` as we do with `pluginsFolder`.

**Describe the solution you'd like**
Add a parameter to `WPLoader` module for `themesFolder` which, when calling `get_stylesheet_directory();` or `get_template_directory();` on integration tests w

[2020-02-03 09:08] sjacomeit opened #344 "[FEATURE REQUEST] Symlinker Extension mode extend for uploads dir"
**Is your feature request related to a problem? Please describe.**
We used WordPress in a docker setup with symlinked uploads directory in /wp-content. On the WP Installation the directory will found and all uploaded files could find / uploaded. But all WPUnit tests will failed because wp_upload_dir() returns as basepath a wrong path to the upload dir.

**Describe the solution you'd like**
Maybe t

[2020-02-03 12:58] Rahe commented on #331
Hello,

I think there is a incompatibility between the requirements between the grumphp and wp-browser but I don't know where.

Do you know a way to display the errors between the two libraries requirements ? It seems that this is a package nested requirement errors :/

[2020-02-03 13:10] Rahe commented on #331
Hello,

It seems that using the .phar version of grumPHP make the composer update work :
`composer require --dev phpro/grumphp-shim`

 :)

[2020-02-04 09:07] lucatume commented on #344
Hi @sjacomeit, thanks for reporting this.

Could you provide a minimal setup (the relevant files) to reproduce this?

[2020-02-04 09:10] lucatume commented on #331
@Rahe thanks for reporting back the information.

Maybe this information is not relevant anymore, but the way to show the conflicts is the one you've posted [in your comment, the one produced by Composer](https://github.com/lucatume/wp-browser/issues/331#issuecomment-559850488).

I'm glad you found a solution to this, I'm closing the issue.

[2020-02-04 09:10] #331 closed

[2020-02-04 09:16] lucatume commented on #342
@Luc45 there is currently no way, in WordPress, to change the location of the `/themes` directory via constant as it exists, instead, for plugins.

I see how this could provide some value by filtering the `theme_root` path.

I'm labeling this as an enhancement.

[2020-02-05 09:58] sjacomeit commented on #344
For example:

The original uploads directory are /dir/to/nfs/upload/uploads where the year directories are created.

Our WordPress are under /dir/to/htdocs/wordpress and there are the directory wp-content.

The "uploads" directory will symlinked /dir/to/htdocs/wordpress/wp-content.

If we use on wpunit the function wp_upload_dir() on 'basedir' we got the directory /dir/to/htdocs/wordpress/wp-conte

[2020-02-07 12:50] lucatume commented on #344
@sjacomeit I understand some parts of the issue, but not the complete picture. To work on anything I will need a minimal working example of any relevant configuration files.

Could you provide that?

What is the current solution or workaround you’ve adopted, if any?

[2020-02-07 13:10] sjacomeit commented on #344
Its ok, we have found another solution and save the entries in a database instead of csv file now.

[2020-02-07 13:10] #344 closed

[2020-02-10 07:58] lucatume commented on #344
Thanks for taking the time to report back, if anything else comes up, let me know.

[2020-02-11 04:52] EvanShaw commented on #275
@lucatume Been looking for a long time now for some solid WordPress integration testing tools and I'm really happy I found your library.

Any update on this request? I think it would be hugely helpful to have some sort of CLI wrapper for doing everything this library already does, but in Docker. Of course, you can always setup `codeception` from within an already running container, but you have to

[2020-02-11 06:33] esamattis commented on #275
We have been working on this for anyone interested in Docker setup:

https://github.com/valu-digital/wp-testing-tools

Not quite ready yet for theme testing but for plugin testing it's been pretty good already.

[2020-02-11 06:52] EvanShaw commented on #275
@esamattis Thanks for the recommendation. Glad to see people are out there developing automated solutions for this.

[2020-02-11 07:34] lucatume commented on #275
Glad to see this tool is being used out in the wild.

I've been working on a solution myself and I will share it, with example files and a documentation entry, when ready.

I'm especially interested in this to "parallelize" the execution of tests and scaffold portable solutions.

[2020-02-11 08:20] EvanShaw commented on #275
@lucatume Glad to hear that! I'll be one of the first to check it out!

[2020-02-28 21:13] kidunot89 opened #347 "[DOC REQUEST] WPRest test case example"
**Did you search the documentation first?** yes

**What do you think is missing from the documentation?**
An **WPRestApiTestCase** example that tests a custom WP REST endpoint.
Testing both the endpoint's existence and response data.

**Do you have any examples of what you'd like to see added to the documentation?**
No, because I don't know how it's done and that's the problem. :man_shrugging:

[2020-02-29 02:59] #347 closed

[2020-03-02 07:55] lucatume commented on #347
HI @kidunot89,

thanks for taking the time to open the issue and provide the required information.

I recognize the documentation there is missing and this could use coverage.

I will keep this issue updated with news.

[2020-03-02 07:56] lucatume commented on #347
Mmm,

so the notifications came in in time order and I replied before my session showed the "closed" tag, @kidunot89 any reason you closed the issue?

[2020-03-02 18:14] kidunot89 commented on #347
@lucatume Because I was able to find an example in the documentation [here](https://wpbrowser.wptestkit.dev/levels-of-testing#integration-tests). That example, along `RestApiTestCase` class definition. I was able to easily implement what I needed.

[2020-03-03 07:56] lucatume commented on #347
@kidunot89 (I just realized your handle is "I kid you not" and it's a smart one),

thanks for replying.

I will keep the suggestion, though, as it's a piece of documentation that is missing and that has been required in the past.

Happy testing,

[2020-03-15 19:32] chrillep commented on #340
yay. I'd really like an update for the article
https://www.theaveragedev.com/setting-wpbrowser-bedrock/

and or a section in the documentation for setting up all tests with bedrock.

on a current site and a new on.

[2020-03-16 08:00] lucatume commented on #340
I will get to that, the problem is time, not will.

[2020-03-18 19:35] chrillep commented on #340
I completely understand  😊. I just want to say I really appreciate your efforts with this repo!

[2020-03-19 09:06] lucatume commented on #340
Thanks, I really appreciate.
I'm currently working to move wp-browser own testing structure to Docker and containerization and am having a lot of epiphanies along the way.
When that is done, it will be Documentation Day(s).

[2020-03-25 14:51] jayhill90 opened #348 "[QUESTION] Does wp-cron fire upon installation?"
I have an mu-plugin that has a cron setup that calls an API and writes data to a file. Since my API credentials are not yet configured in WordPress, I'm seeing that upon installation the code to create the file is triggered and this results in a blank file. My tests pass, but PHP warnings are thrown because the file's data is gone. Is it possible to disable cron's from firing at all during test ex

[2020-03-26 07:49] lucatume commented on #348
Hi @jayhill90,

I need more information to know what the issue is.

What modules is the suite using? WPLoader? Other?

Could you post the suite configuration file for me to have a better grasp of the issue? wp-cron should be deactivated during integration tests by the WPLoader module, if that is not the case, then that is a regression on an issue I had fixed previously.

[2020-03-26 12:17] jayhill90 commented on #348
For my wpunit tests we're running

[code]

Basically when the install process fires off in Codeception to install WordPress, it seems the cron I have to create the file is triggered during installation, and so I end up with a blank file. I then get some undefined index errors until my _before() function to create the file again (basically mimicking the cron having actually been run once all my dat

[2020-03-27 08:15] lucatume commented on #348
Would you be able to post the whole configuration file? A minimal, reproducible, example would help me.

[2020-03-27 11:36] jayhill90 commented on #348
I was able to get around it and resolve the issues I was having. Thanks though @lucatume!

[2020-03-27 11:36] #348 closed

[2020-03-27 17:14] GaryJones opened #349 "[FEATURE REQUEST] Support Codeception 4.0"
**Is your feature request related to a problem? Please describe.**

The `composer.json` for wp-browser doesn't support [Codeception 4.x](https://codeception.com/changelog). The latest version at the time of writing is 4.1.4, so it's been around for a while.

**Describe the solution you'd like**

Update [this line](https://github.com/lucatume/wp-browser/blob/8c4b6428f220dd159df0855f06c75957a6c5859b

[2020-03-30 06:49] lucatume commented on #348
@jayhill90 that's great to hear.

If there is something I could add in the suite, or update to make the workaround less tricky or to make something better, let me know.

[2020-03-30 06:55] lucatume commented on #349
@GaryJones,

Thanks for taking the time to open the issue.
I've been refactoring code in wp-browser lately and am working to make the testing stable to move to support Codeception 4.0.
Know it's the next feature I want to cover and that it's on my radar.

From my local tests, it works "most" of the times, but not completely. It will require some work, but should not require a ton of it.

I will ke

[2020-03-30 11:44] lucatume opened #350 "[BUG] WPLoader.config.pluginsFolder does not accept absolute paths"
In the `WPLoader` module configuration the `pluginsFolder` parameter will not accept an absolute path forcing either the use of a convoluted "climbing" relative path (e.g. `../../../../plugins`) or the use of a `configFile` parameter pointing to a configuration file that defines the `WP_PLUGINS_DIR` constants.

[2020-03-30 13:27] #350 closed

[2020-04-01 12:34] lucatume opened #354 "[BUG] autoload.php not found in isolated-install.php"
In version `2.3.0` the refactoring broke that reference, the autoload file should be correctly located.

[2020-04-01 15:26] #354 closed

[2020-04-01 20:45] dingo-d opened #356 "[BUG] Integration tests have some seed failure"
**Environment**
OS: MacOS 10.15.4
PHP version: 7.2.24
Installed Codeception version: 3.1.2
Installed wp-browser version: 2.3.3
WordPress version: 5.4
Local development environment: Valet+
WordPress structure and management: default

**Codeception configuration file**

My `codeception.dist.yaml` is

[code]

**Suite configuration file**

The `wpunit.suite.yml` file looks like this

[code]

**Describ

[2020-04-02 05:41] Luc45 commented on #356
@dingo-d

I've faced this, too. Try installing WooCommerce < 4.0.

If you need Woo 4.0+, you need to find a way to call this method `\ActionScheduler_Abstract_Schema::register_tables`. For instance, try to add this bootstrapAction parameter to your WPLoader module:

[code]

In your case it would look something like this:

[code]

[2020-04-02 07:28] dingo-d commented on #356
I'm doing this huge plugin update, in part, for the WooCommerce 4.0 😄 So I'll have to find a workaround.

I have added the bootstrap actions, but the errors are still here. I tried with `ActionScheduler_DBStore` but no luck there as well.

From what I can tell, this happens because the test database is missing WooCommerce tables (which should probably happen with it being in the `plugins` part of

[2020-04-02 16:58] Luc45 commented on #356
Hmm, it seems that the `bootstrapActions` runs after the plugins are loaded and activated:

`a list of actions or static functions that should be called after before any test case runs, after plugins have been loaded and activated`

So yes, try calling:
[code]

On _bootstrap.php, or even: `ActionScheduler::init();`

[2020-04-02 19:01] dingo-d commented on #356
I've updated my `codeception.dist.yml` to

[code]

And in my tests root folder I've added `_bootstrap.php` with

[code]

Got

[code]

So I tried loading them manually by adding

[code]

But I got

[code]

Which is super odd, since that's the path of the file.

The alternative is to use `loadOnly: true` and manually seed the test DB, but that kinda defeats the point (plus I'd have to worry about cl

[2020-04-02 19:22] Luc45 commented on #356
Ah, it's because they extend an abstract class that you need to load as well. Require the `abstract class ActionScheduler_Store` as well and it should work

[2020-04-02 19:54] dingo-d commented on #356
I ended up doing this

[code]

and now I got

[code]

😂

I've asked in the woocommerce github, maybe they have some better way of doing this.

I've looked at their tests and they have some custom seeders.

[2020-04-03 07:40] lucatume commented on #356
Hi, sorry for being late to this party.

I will try out your same setup using the two plugins you use and come back to this.

I think setups like this should be less "clunky" and more straightforward and, definitely, not generate errors.

[2020-04-03 18:51] Luc45 opened #358 "[FEATURE REQUEST] Prevent "Administration email verification" from interfering with tests"
**Is your feature request related to a problem? Please describe.**
Yes. I'm trying to run an acceptance test, but it shows me this screen after a succesful login:

![image](https://user-images.githubusercontent.com/9341686/78394852-c6f0da80-75c2-11ea-8c8f-83b1064d4029.png)

**Describe the solution you'd like**
https://wordpress.stackexchange.com/questions/353167/disable-the-administration-email-ad

[2020-04-04 08:21] dingo-d commented on #356
I also tried adding some acceptance tests but I'm getting curl error. Not sure why, the test WP works on my browser.

I've committed the latest changes: https://github.com/dingo-d/woo-solo-api/tree/feature/2.0.0-update

[2020-04-09 14:47] dingo-d commented on #356
I've asked the question about this in the WooCommerce repo, and they are asking me which DB class is used during integration tests: https://github.com/woocommerce/woocommerce/issues/26070#issuecomment-611053302

If you can help with this I'd appreciate it, since I don't know what class is wp-browser using to connect to the database 🤷‍♂️

[2020-04-09 20:15] TimothyBJacobs opened #359 "[BUG] haveUserInDatabase does not set nickname"
**Environment**
OS: Mac
PHP version: 7.3
Installed Codeception version: 3.1.1
Installed wp-browser version: 2.2.31
WordPress version: 5.4
Local development environment: Docker
WordPress structure and management: default

**Describe the bug**
`haveUserInDatabase` does not set the `nickname` for a user. This means if you then try to update the user via the WP Admin, you'll get an error asking to ent

[2020-04-10 07:58] lucatume commented on #359
Thanks @TimothyBJacobs for reporting this.
Since I have a PR open and this is pretty bad, I will try to squeeze this in there.

I will update this issue w/ news.

[2020-04-10 08:04] lucatume commented on #356
@dingo-d I've replied to the question on the comment you linked.

I confirm that wp-browser, when WordPress is set up by the WPLoader module, will use the default `wpdb` class.

Since it uses the WordPress structure it finds, if there's a [db drop-in](https://wpengineer.com/2500/wordpress-dropins/) then that too will be used and WPLoader will likely require additional configuration.

In "standard"

[2020-04-10 08:34] dingo-d commented on #356
I need to check my testing env. Could query monitor cause issues, I'm not sure if I removed it or not. I know that that plugin adds a db drop in. I'll go ahead and check. Could be my issue after all 😬 😅

[2020-04-10 08:37] lucatume commented on #356
There are two parts to this:

1. only plugins you have specified in the `plugins` and `activatePlugins` section of `WPLoader` configuration will be loaded; so: if Query Monitor is not in those lists, it will not cause issues.
2. on the other hand, WordPress is still booting up as it normally would and drop-in and must-use plugins will still be loaded.

[2020-04-10 08:37] lucatume commented on #356
There are two parts to this:

1. only plugins you have specified in the `plugins` and `activatePlugins` section of `WPLoader` configuration will be loaded; so: if Query Monitor is not in those lists, it will not cause issues.
2. on the other hand, WordPress is still booting up as it normally would and drop-in and must-use plugins will still be loaded.

This might not be the issue, but it's worth c

[2020-04-10 08:40] dingo-d commented on #356
I checked and I don't see any other DB dropin in use. `error_log( print_r( _get_dropins(), true ) );` in my test returns a standard list of dropins

[code]

I'll try to change the test installation (I've just reprovisioned a new one).

[2020-04-10 11:05] #349 closed

[2020-04-10 11:05] #359 closed

[2020-04-10 11:18] lucatume commented on #358
I see how this could come in handy.

In essence one should filter the `admin_email_check_interval` filter and return `0`.
Per WP Core comment in the code:

[code]

It's a bit tricky to do this in the context of an acceptance test, where one cannot add filters and actions in the test PHP thread and have them have an effect in the PHP thread handling the requests generated by the tests, but it would

[2020-04-10 12:13] dingo-d opened #360 "[BUG] Db class is not imported"
**Environment**
OS: Mac Os
PHP version: 7.2.24
Installed Codeception version: 4.1.4
Installed wp-browser version: 2.4.0
WordPress version: 5.4
Local development environment: Valet+ and VVV
WordPress structure and management: default

You missed importing the `Db` class from Codeception in the `src/Codeception/Module/WPDb.php`

[2020-04-10 12:17] dingo-d commented on #360
Also, it seems that the necessary libraries weren't pulled when I did `composer require --dev lucatume/wp-browser`. I see that I should have `codeception/module-db` installed, but I don't see it.

[2020-04-10 12:22] #360 closed

[2020-04-10 15:15] TimothyBJacobs commented on #359
Thanks for the speedy fix @lucatume!

[2020-04-10 15:25] #356 closed

[2020-04-10 16:05] dingo-d commented on #356
Updated the package, set the integration test DB to local one and now everything works! Awesome! :)

[2020-04-10 16:15] Luc45 commented on #358
While I understand what you're saying and agree it would be awesome to have something like that, I think that, for this specific case, perhaps a filter on WPDb before import (like wp-browser already does with the site_url) might be a good option as well.

[2020-04-10 16:21] Luc45 commented on #358
The way I've been solving this is just changing this value on dump.sql:

`UPDATE wp_options SET option_value='2533080438' WHERE option_name=admin_email_lifespan`

It won't ask for email confirmation, well, at least until 2050.

[2020-04-11 17:00] #342 closed

[2020-04-11 19:25] BrianHenryIE commented on #360
I needed in `composer.json`:
[code]
before `vendor/bin/codecept run acceptance` worked.

As you say, there are a lot of `codeception/codeception suggests installing...` and `lucatume/wp-browser suggests installing...` in Composer's output.

[2020-04-12 12:16] lucatume opened #363 "[BUG] Cron requests firing during WPLoader WordPress installation"
During the WordPress installation managed by the `WPLoader` module corn requests to `wp-cron.php` will fire; they should not.

[2020-04-13 02:51] BrianHenryIE opened #364 "[BUG] codecept run fails, codecept run wpunit succeeds"
**Environment**
OS: Mac
PHP version: 7.4
Installed Codeception version: 4.1.4
Installed wp-browser version: 2.4.2
WordPress version: 5.4.0
Local development environment: PHP built-in server
WordPress structure and management: default, Bedrock, other]

**Can you perform the test manually?**

`codecept run wpunit` succeeds.
`codecept run` fails on the `wpunit` step, after `acceptance` and `unit` suc

[2020-04-13 09:24] lucatume commented on #356
Thanks to you for following up and caring about the issue.
If other issues pop-up, please report them with the same detail as this one.

Happy coding!

[2020-04-13 09:25] lucatume commented on #359
Thanks to you for reporting issues with such detail every time, it helps me immensely.

[2020-04-13 09:38] lucatume commented on #364
Hi @BrianHenryIE ,

[running all suites with `codecept run` will usually not work](https://wpbrowser.wptestkit.dev/faq#can-i-run-all-my-tests-with-one-command).

There is little wiggle room for wp-browser to prevent this and there are instances where people have set up wp-browser to be able to run `codecept run` without issues, yet this is not the general case.

TL;DR: use `codecept run <suite>`,

[2020-04-13 10:05] lucatume commented on #358
This is an actually cleaner idea and easier to implement.

Thanks for sharing.

Coming soon, I'd say.

[2020-04-13 10:26] lucatume commented on #360
I've not gone with a major version since wp-browser `2.4`, the version that added Codeception 4.0 compatibility, is not a breaking change.
I did a lot of work to avoid breaking back-compatibility.

What I'm thinking of improving is the following, though:

1. better messaging, not just an exception, when a Codeception module is mising
2. support for Codeception 4.0 requirements in the `codecept ini

[2020-04-13 10:29] lucatume opened #365 "Better handling of Codeception 4.0 requirements and errors"
With the release of version 2.4 Codeception 4.0 is now supported but, to maintain back-compatibility, I've not added requirements for the `codeception/module-<module>` packages in wp-browser own `composer.json` file.

Codeception pro-actively catches the missing modules and will call them out and propose a solution. Doing something similar would help users to update without too much pain.

Related

[2020-04-13 21:20] #364 closed

[2020-04-14 13:34] #365 closed

[2020-04-15 10:20] #358 closed

[2020-04-15 10:41] lucatume opened #368 "Support unix socks in initialization"
Some local development environments, like the most recent version of Local, will not provide a database connect by means of a Unix sock.

The `codecept init wpbrowser` command should spot answers like those and change the host type, in the WPDb and WPLoader configuration, to work correctly.

This will include an update to the docs.

[2020-04-16 06:56] kjnanda opened #369 "[Question] Running the composer update command stuck"
**Environment**
OS: Mac
PHP version: 7.3.0
Installed Codeception version: 2.5.4
Installed wp-browser version: 2.2.1
WordPress version: 5.4
Local development environment:  MAMP
WordPress structure and management: default

**Codeception configuration file**
Paste, in a fenced YAML block, the content of your Codeception configuration file; remove any sensitive data!

[code]

**Suite configuration fil

[2020-04-16 09:38] lucatume commented on #369
@kjnanda please post your `composer.json` file, please.

Composer resolution dependency can take a really long time on some PHP installations, [see here](https://getcomposer.org/doc/articles/troubleshooting.md#memory-limit-errors).

If XDebug is active that will slow Composer updates down to a crawl.

[2020-04-16 09:45] kjnanda commented on #369
@lucatume Please check my `composer.json` file.

[code]
I would like to mention that it was working super fine before.

Second thing, this working fine with a new fresh setup. However, there also I am not able to update codeception to its current latest version. It used to be always `3.1.2`

[2020-04-16 10:30] lucatume commented on #369
I've installed it many times and updated without issues, so there might be something in the combination of packages installed in your existing project that caused the issue.

That happens at times, I would resolve the issue by removing the `vendor` and `composer.lock` files completely and running the `composer update` command again.

[2020-04-16 10:39] kjnanda commented on #369
@lucatume I tried the workaround you suggested on my local project setup. and it worked 🎉

However, I am yet to check the same with the production set up.

[2020-04-17 14:38] lucatume opened #370 "[FEATURE REQUEST] airplane-mode by default"
Following along the line of #363, tests, both integration and acceptance, should not fire any external HTTP request unless whitelisted to do so.

This would be active in the `WPLoader` module and in the modules that work in acceptance mode (probably the `WPDb` one by pre-filling all transients or using an extension to position a plugin like [airplane-mode](https://github.com/norcross/airplane-mode

[2020-04-17 20:18] Veraxus opened #371 "[BUG] Update vlucas/phpdotenv to 4.1+"
PhpDotEnv has been updated from v3 to v4, which slightly changes initialization by forcing you to choose between mutable and immutable initializations. This version of PhpDotEnv is now required by some other very prominent packages like SimpleSAMLphp, which unfortunately makes wp-browser incompatible with them if you are trying to keep up with security updates.

[2020-04-18 08:41] karser opened #372 "[BUG] Call to undefined method ReflectionParameter::getType() on php 5.6"
Hello. I upgraded to wp-browser from 2.3 to 2.4.5 and I started getting this error for php 5.6:
[code]
Here is the travis build https://travis-ci.org/github/trackmage/trackmage-wordpress-plugin/builds/675929752

If v2.4 doesn't support php 5.6 then specify it in composer.json please.

**Environment**
OS: [e.g. Windows, Mac, Linux]
PHP version: 5.6
Installed Codeception version: 3
Installed wp-brow

[2020-04-18 16:38] lucatume commented on #372
@karser  Thanks for reporting the issue.

wp-browser should support PHP 5.6 without issues, so that is a bug that will get priority on the rest.

[2020-04-20 08:12] lucatume commented on #371
@Veraxus thanks for reporting the issue.

I will look into this and will, probably, remove the `vlucas/phpdotenv` requirement from the package to avoid similar issues in the future.

[2020-04-20 12:24] #372 closed

[2020-04-23 05:35] kjnanda commented on #369
Hi @lucatume 👋

This workaround worked as expected for me. I am closing this ticket.

Have a nice day!

Thanks,
Krupa

[2020-04-23 05:35] #369 closed

[2020-04-23 07:36] lucatume commented on #369
@kjnanda Thanks for getting back to this and letting me know.

Happy testing!

[2020-04-23 16:20] #368 closed

[2020-04-28 06:29] kjnanda opened #375 "[Error] Class 'WebDriverBy' not found after updating codeception to 4.1.4"
Hi @lucatume,

After I update the packages I am facing this issue.

one of my codeception file has below code:

<pre>$optionDivColor = $I->executeInSelenium(function(\Facebook\WebDriver\Remote\RemoteWebDriver $webdriver) {
   return $webdriver->findElement(\Facebook\WebDriver\WebDriverBy::cssSelector('.rtm-media-options '))->getCSSValue('color');
   });
</pre>

Using the above code, I am trying to

[2020-04-28 07:44] lucatume commented on #375
Hi @kjnanda,

I'm not the maintainer of Codeception and the `WebDriver` package and the method you're trying to use is part of Codeception code, not wp-browser.

And while a dependency might not be maintained, as the `facebook/webdriver` is, it might still work. What if you do not require the `php-webdriver/webdriver` library at all?

Please open this issue on Codeception repository as Codeception

[2020-04-28 07:44] #375 closed

[2020-04-28 08:34] kjnanda commented on #375
Okay,
Thanks

[2020-05-02 17:32] Luc45 commented on #370
Generating a dump: 500kb
Size of the dump after deleting two rows in the database for `_transient_feed_MD5_HASH`: 50kb

These transient feeds are WordPress Events and News that shows in the wp-admin panel.

An airplane solution would prevent these from being fetched during tests and being populated as transients again, but the cleanup of the generated dump would have to be manual, right?

[2020-05-02 18:28] a-barbieri opened #377 "Docker: requested PHP extension gd is missing from your system"
**Environment**
OS: Mac
PHP version: php:7-alpine
Installed Codeception version: none
Installed wp-browser version: 2.4
WordPress version: none
Local development environment: Docker
WordPress structure and management: none

**Can you perform the test manually?**
Don't know how I can perform this action. Not sure is applicable.

**Codeception configuration file**
Don't have any yet.

**Suite config

[2020-05-02 18:35] a-barbieri commented on #377
The solution I've found is to install the extension before installing Composer dependencies.

Files structure:

[code]

Add a `Dockerfile` into a `composer-docker-image` directory:

[code]

Then on the root of your repository add the `docker-compose.yml` file:

[code]

After that you can run

[code]

and everything will be installed just fine.

[2020-05-02 18:35] #377 closed

[2020-05-03 00:09] Luc45 opened #380 "[DOC REQUEST] A note about Cron and fastcgi_finish_request()"
**What do you think is missing from the documentation?**
Might be worth to add a small note [here](https://wpbrowser.wptestkit.dev/modules/wpwebdriver#amoncronpage) or as a Tutorial, talking about the `fastcgi_finish_request()` that was [added](https://github.com/WordPress/WordPress/commit/942f35446f1e9bc9d4154f421ded4db31d969967) on `wp-cron.php` on WordPress 5.1.

It basically returns a response

[2020-05-03 09:56] dingo-d opened #381 "[QUESTION] Integration test not accessing hooked methods?"
**Environment**
OS: MacOS Catalina 10.15.4
PHP version: 7.2.30
Installed Codeception version: 4.1.4
Installed wp-browser version: 2.4.5
WordPress version: 5.4.1
Local development environment: VVV for acceptance tests, Valet+ for integration tests
WordPress structure and management: default

I want to run an integration test to see if my scripts and styles are loaded correctly. This is the part I'm

[2020-05-03 22:28] Luc45 commented on #381
I think you might want to look at a functional test. Something like:

[code]

Integration are good to test that, given a certain input, a certain class will provide a certain output. When you are trying to test something that depends on the context (like being on a specific page), it might be a good idea to try a functional or acceptance test.

[2020-05-04 06:48] dingo-d commented on #381
Yeah, but I want to write unit and integration tests first since they are much faster than acceptance and functional tests.

Plus this is testing the integration of my plugin with WordPress, so it kinda makes sense to do.

For instance, I can test (and did) my REST integration tests: https://github.com/dingo-d/woo-solo-api/blob/feature/2.0.0-update/tests/integration/Rest/RestEndpointTest.php

So t

[2020-05-04 07:09] lucatume commented on #370
I've not considered reducing the database dump file size in this ticket, but I guess it would be a side-effect of it.
I'm working to find the best way to handle this (a plugin activated at run-time? a mu-plugin? side-loaded code?).
The main objective remains to ensure that, during tests, the WordPress installation under test will not make any external HTTP request and, with it, wait for its result

[2020-05-04 07:12] lucatume commented on #377
@a-barbieri thanks for taking the time to report the issue.
This seems to something I forgot and should be easy to fix, I will fix as soon as possible.

[2020-05-04 07:20] lucatume commented on #377
@a-barbieri I've replied too quickly, sorry.

I've removed my previous message as not really applicable.

Dealing with PHP extensions is not a wp-browser responsibility as it's quite normal for packages to required PHP extensions.

I will review the code to see if there's some space for a modification, but I see this more as an enhancement, not a bug.

[2020-05-04 07:44] a-barbieri commented on #377
Sure, I see your point. It definitely comes down to personal configuration.

As I think it's good to write down here the issue/need and the consequent fix for anyone else who might come across it in the future.

[2020-05-04 07:55] lucatume commented on #377
Thanks for the feedback and understanding.

I've created some containers for my use (I have a similar setup where PHP and Composer are not installed on my host machine) [here](https://hub.docker.com/r/lucatume/codeception); those might help further the discussion.

I will also look into wp-browser code to see if the `gd` PHP extension could be required later, when actually used in the module that

[2020-05-04 19:44] Luc45 commented on #381
Yes, Functional is slower than Integration.

If you can test what you want to test with Integration, great! If you can do so with Unit, even better!

But, when you are testing something that depends on the context of the request that's taking place, this seems out of the scope for integration tests.

![image](https://user-images.githubusercontent.com/9341686/81005878-02323380-8e25-11ea-929f-6ac0c4

[2020-05-05 07:29] dingo-d commented on #381
In my current integration test, the one where I actually make a call towards an API is definitely out of the scope of my integration test I agree 😄

Usually, I mock these (which probably means I'll redo [this](https://github.com/dingo-d/woo-solo-api/blob/feature/2.0.0-update/src/Rest/Endpoints/AccountDetails.php#L43-L58) code so that I can mock it) and I'm just testing that the REST functionality

[2020-05-06 13:29] Luc45 opened #382 "[FEATURE REQUEST] Add a REST suite by default"
**Is your feature request related to a problem? Please describe.**
Yes, I want to be able to test REST endpoints. I can't dispatch a GET/POST request to a REST endpoint with WPBrowser module or similar, which we have now.

**Describe the solution you'd like**
I would like to suggest a suite dedicated for REST tests, with Codeception [REST module](https://codeception.com/docs/modules/REST) doing th

[2020-05-06 13:33] Luc45 commented on #381
Yes, it is. It's a painful road to take, one of the hardest endeavors a programmer can commit himself to, especially in the WordPress environment, but it's totally worth it.

About the REST stuff, I think it's worth to note that wp-browser doesn't come with the [REST module](https://codeception.com/docs/modules/REST) by default, which is the module that allows you to test REST endpoints. I've just

[2020-05-07 08:30] lucatume commented on #382
@Luc45 when you say "I would like to suggest a suite" you mean that you think it should be initialized on init?

The REST module from Codeception does require the `PHPBrowser` module, so I would use the `WPBrowser` one.

I see value in having this initialized along, for example, the `WPLoader` module in `loadOnly: true` mode to add some sugar methods for, say, authentication in the REST API.

I'm

[2020-05-07 08:40] lucatume commented on #381
@dingo-d sorry for the late reply; I've followed the discussion a bit, but wanted to address the original question. I'm reporting the test code you provided and adding comments in line. Let me know if that helps clarify.

[code]

So, @lucas45 suggestion to use a different kind of test is a good one. Testing HTML output is usually not the scope of integration tests like this unless your code comple

[2020-05-07 11:22] dingo-d commented on #381
This helps a bit, but my intention was to check if the enqueued scripts and styles will be registered in WordPress. I know that WP stores all this in some global so I could check it there.

I was looking at this core test: https://github.com/WordPress/wordpress-develop/blob/master/tests/phpunit/tests/dependencies/scripts.php#L42-L58

On another project (that is built in a similar way) I have somet

[2020-05-07 11:22] #381 closed

[2020-05-10 15:47] dingo-d opened #383 "[DEPRECIATION NOTICE] Class not properly autoloaded - composer notice"
When running `composer install` on a project I got the following issues mentioned that will impact the usage when Composer v2 comes out (I run optimize autoload after install)

[code]

I didn't look at it in details, but just wanted to let you know 🙂

[2020-05-11 13:06] lucatume commented on #383
@dingo-d Thanks for reporting this, I will fix. this in the next version.

[2020-05-11 17:09] #371 closed

[2020-05-11 17:09] #383 closed

[2020-05-12 19:24] szepeviktor opened #394 "[FEATURE REQUEST] Split files containing 1000+ lines"
What do you think about shrinking huge files to a manageable size?

[2020-05-13 07:25] lucatume commented on #394
If that can be done in a way that makes sense and improves code reusability, then I'm all for it.

I would not spend any effort in refactoring for the sake of it, though.

[2020-05-13 07:49] #394 closed

[2020-05-14 10:57] arall opened #398 "[BUG] Env vars not set"
**Environment**
OS: Mac / Linux
PHP version: 7.2 / 7.4
Installed Codeception version: 4.1.4
Installed wp-browser version: 2.5.2
WordPress version: [e.g. 5.4]
Local development environment: Vagrant
WordPress structure and management: default

**Describe the bug**
Some environment variables are not set properly in `acceptance.suite.yml` (and probably others).

For example, if I set this values in th

[2020-05-14 11:09] dingo-d opened #399 "[DOC REQUEST] Running wp-browser in Docker environment"
**Did you search the documentation first?**

Yes

**What do you think is missing from the documentation?**

There is no described way to use dockerized WordPress with wp-browser.

**Do you have any examples of what you'd like to see added to the documentation?**

I'm currently trying to setup GH action workflow that will run integration and acceptance tests for my plugin, but I'm having a really h

[2020-05-14 12:15] arall commented on #398
I figure it out that WP was not using the test database, because I missed setting up `define('DB_NAME', 'wordpress_test');` in the `wp-config.php`. However, the `TEST_SITE_DB_DSN` still failing the way I described.

[2020-05-14 15:54] lucatume commented on #399
That piece of documentation is one that I keep putting off as I find out new things.

For a maybe-helpful example, did you take a look at [wp-browser own Docker based setup](https://github.com/lucatume/wp-browser/blob/master/docker-compose.yml)?

I use it [in GitHub Actions as well](https://github.com/lucatume/wp-browser/blob/master/.github/workflows/ci.yaml) with great satisfaction.

[2020-05-14 16:04] dingo-d commented on #399
I looked at it and I found it to be super complicated for what I need it 😂

I got the part of setting WordPress and MySQL up (as a service), but I need to find a way to provide a path inside my `.env.testing` (the `WP_ROOT_FOLDER`).

Since my WP is inside a container, I'm not sure what to put as `WP_ROOT_FOLDER`.

If I put `vendor/wordpress/wordpress` will that work?

[2020-05-15 07:28] lucatume commented on #398
Thanks for taking the time to report the issue and provide details, much appreciated.

Would you be able to share what the `TEST_SITE_DB_DSN` env var looks like?

Does the suite works when the `TEST_SITE_DB_DSN` value is hard-coded into the configuration?

Did you try installing `vlucas/phpdotenv` as a dev dependency? Did that solve the issue?

I'm not excluding there's a bug, I've just tried repr

[2020-05-15 07:31] lucatume commented on #399
I'm not sure I'm getting all of it and, w/o having access to the configuration, it's difficult to provide a non misleading answer.

What kind of project are you working on? A plugin, a theme, a whole site?

If you're working on a plugin or a theme, where are those in respect to the WordPress root folder on your host machine?

Does this mean you're binding the root WordPress directory on your host

[2020-05-15 07:38] arall commented on #398
`TEST_SITE_DB_DSN=mysql:host=192.168.10.10;dbname=wordpress_test`

Yes. Setting it as 'mysql:host=%TEST_SITE_DB_HOST%;dbname=%TEST_SITE_DB_NAME%'` also works.

Indeed, installing `vlucas/phpdotenv` fixed the issue.

[2020-05-15 07:50] lucatume commented on #398
Thanks for the information, this helps me a lot to narrow down the issue.

I will update this ticket when I have news.

[2020-05-15 08:27] dingo-d commented on #399
It's a wp plugin: https://github.com/dingo-d/woo-solo-api/blob/feature/2.0.0-update/.github/workflows/ci.yml

Locally, the plugin is located in the plugins folder of the installation where I'm running tests on. I was running integration tests on a different wp instance in a totally different location (wanted to do that for my acceptance tests, but that didn't work).

In the GH actions, I've set up

[2020-05-15 09:14] #363 closed

[2020-05-15 10:21] #398 closed

[2020-05-15 15:10] dingo-d commented on #399
After 5 hours of trying to make it work, I gave up because I had to set up PHP and Node separately, and then there was an issue with not being able to run npm install because I guess you can't do that from the inside of the container or whatever the reason.

So I turned back to my custom docker action and I almost got it to work

https://github.com/dingo-d/woo-solo-api/pull/19/checks?check_run_id=

[2020-05-19 07:29] arall opened #403 "[BUG] Acceptance Test method haveFriend is not available"
**Environment**
OS: Mac / Linux
PHP version: 7.2 / 7.4
Installed Codeception version: 4.1.4
Installed wp-browser version: 2.5.2
WordPress version: [e.g. 5.4]
Local development environment: Vagrant
WordPress structure and management: default

**Describe the bug**
Looks like the method `haveFriend` from [Codeception](https://codeception.com/docs/03-AcceptanceTests#Multi-Session-Testing) is not avail

[2020-05-19 07:35] lucatume commented on #403
HI @arall, thanks for taking the time to report this and open an issue.

Are you using, in the acceptance test, the `Friend` trait as [described in Codeception documentation](https://codeception.com/docs/03-AcceptanceTests#multi-session-testing)?

Could you post your suite setup code?

[2020-05-19 07:49] arall commented on #403
Ooops, that was it. Sorry, my fault. Thanks for pointing to it!

[2020-05-19 07:49] #403 closed

[2020-05-19 07:51] lucatume commented on #403
No worries, I ran into the same issue myself multiple times, I have a first-hand experience of it.

Happy testing!

[2020-05-20 17:53] dingo-d opened #404 "[BUG] Local tests pass when test folder is capitalised, but not on CI"
**Environment**
OS (Local): MacOs 10.15.4
OS (CI): Ubuntu 18.04.4 LTS, running Docker with `wordpress:5.4.1-php7.2` image
PHP version: 7.2
Installed Codeception version: 4.1.4
Installed wp-browser version: 2.5.3
WordPress version: 5.4.1
Local development environment: Valet+ and VVV
WordPress structure and management: default

**Can you perform the test manually?**

While setting up my GitHub Actio

[2020-05-20 18:45] dingo-d commented on #404
Ok I think I found the issue. If I have capitalized name of the folder then both my suite name and the codeception command have to be capitalized.

So if the folder is `tests/Integration` then it has to be `Integration.suite.yml` and the command must be `/vendor/bin/codecept run Integration`.

[2020-05-20 18:45] #404 closed

[2020-05-21 07:48] lucatume commented on #404
My favourite kind of issue: the self-resolving one.

Happy coding and thanks for following up!

[2020-05-22 23:16] Luc45 opened #408 "[FEATURE REQUEST] Hide admin top bar in WPWebDriver to avoid miss-clicks"
**Is your feature request related to a problem? Please describe.**
Yes. I want to run webdriver-driven tests, but sometimes the admin top bar gets in the way of what the driver is trying to click. For instance, let's say you are editing a post in the admin dashboard where the driver has to scroll down to fill some fields (as a meta box bellow the content in the classic editor), then the driver tri

[2020-05-22 23:21] Luc45 commented on #382
Yes, I think this suite is common enough to be initialized on `init`, and since it requires a Codeception module that isn't bundled by default with WPBrowser, it makes it harder for people to figure out how to create such suite. My intention with this suggestion is to make it easier for folks to run REST tests.

Indeed, I had forgot that, thanks!

That makes sense and is similar to how Functional

[2020-05-24 21:44] Luc45 opened #409 "[FEATURE REQUEST] Reset globals $wp_scripts and $wp_styles between each test"
**Is your feature request related to a problem? Please describe.**
I want to test code that changes the globals `$wp_scripts` and `$wp_styles`, such as the functions `wp_deregister_style()`, `wp_deregister_script()`, `wp_enqueue_style()` or `wp_enqueue_script()`.

However, since they are globals, their state is affected from one test to the other.

I would like to ask if it would be desirable to m

[2020-05-24 22:17] Luc45 commented on #409
I can look into opening a PR for this if it's desirable.

I just var dumped `$GLOBALS` on shutdown to see what kind of globals I've got, and there were 211 globals in that specific request...

<details><summary>List of globals on "shutdown"</summary>

1. Airplane_Mode_Core
2. GLOBALS
3. PHP_SELF
4. _COOKIE
5. _ENV
6. _FILES
7. _GET
8. _POST
9. _REQUEST
10. _SERVER
11. __composer_autoload_files
12.

[2020-05-25 07:08] lucatume commented on #408
@Luc45 the issue here is that the top-bar is not hidden by default and this would cause a difference between what one sees with human eyes when manually checking the backend and what the web-driver sees.

Furthermore, there are tests where the admin bar is part of the test and removing it, especially by default, would be a back-incompatible change I'm not willing to make.

I think a more sophistic

[2020-05-25 07:10] lucatume commented on #382
This looks like a good idea to me, along with some examples about how to run a WP REST API test and (as an acceptance test) that would include authentication.

Next feature run.

[2020-05-25 07:36] lucatume commented on #409
This seems like a feature that is kind of a "given", so making it more robust would not hurt.

A PR is very much welcome, but it would make sense to, probably, do this same check on *all* super-globals and reset them all to the state they have before each test.
The code already has part of it, but it's not been updated in a bit and might not be so up-to-date.

[2020-05-26 12:14] dingo-d opened #410 "[BUG] Running tests in a separate process and with preservedGlobalState fails"
**Environment**
OS: MacOS
PHP version: 7.3
Installed Codeception version: 4.1.5
Installed wp-browser version: 2.5.5
WordPress version: 5.4.1
Local development environment: VVV
WordPress structure and management: default

**Can you perform the test manually?**

Testing REST response through Insomnia works.

**Codeception configuration file**
Paste, in a fenced YAML block, the content of your Codece

[2020-05-26 13:02] dingo-d commented on #410
Looks like codeception doesn't support running tests in a separate process 🙁

https://github.com/Codeception/Codeception/issues/3568

Any way around it?

[2020-05-26 15:10] lucatume commented on #410
None that I could immediately think of.
I guess you're trying to run integration-level tests and WordPress love for side-effects (globals, constants, and such) is getting in the way.
I will have to play with this a bit and will come back with a response.
I will probably not be able to "beat the system" (Codeception idea of isolation is to use containers), but I will learn something I will share.

[2020-05-26 16:33] dingo-d commented on #410
Yeah, I had some tests that would mess with the rest of the tests, so I isolated them (took longer to test, but at least I had that covered).

Using Docker containers for 'Parallel execution' seems like a serious overkill imo

[2020-05-27 06:52] lucatume commented on #410
Thanks for getting back to me and confirming this.

In my opinion too, while I really love using Docker for my own setup, it's a bit overkill.

I've poked at the issue a bit and will come back, in the next days, with some test code; would you be willing to test it out in a branch?

[2020-05-27 07:32] dingo-d commented on #410
Sure thing! Would love to help out 🙂

[2020-05-27 09:01] lucatume commented on #410
@dingo-d https://github.com/lucatume/wp-browser/pull/411/files#diff-f94f541ff47ade0a88fb1e2dc30ee846R28 -- start of work here.

If you want you can pull the branch and try it out with:
[code]

If you have time, please report back failures and some test case you're trying to run here, the feature is quite interesting.

[2020-05-27 09:21] dingo-d commented on #410
Added a test with the preserved global state and run in separate process and I got this:

[code]

[2020-05-27 15:29] lucatume commented on #410
Where is that? In the example any test that runs in separate process will also not preserve globals:

[code]

In another test?

[2020-05-27 16:29] fclaussen opened #412 "[SETUP ISSUE] Module Asserts is not installed."
**Environment**
OS: Mac
PHP version: 7.3.5
Installed Codeception version: Unsure(isn't wp-browser installing it as a dep?)
Installed wp-browser version: 2.5
WordPress version: 5.4.1
Local development environment: Local by Flywheel (the new one, with no virtualbox)
WordPress structure and management: default

**Did you use the `codecept init wpbrowser` command?**
Yes. That is the command that is no

[2020-05-27 17:03] dingo-d commented on #410
Oh, my bad, in this one I don't have it preserved, in another I had, but I refactored that one 😬

[2020-05-28 07:36] lucatume commented on #412
Hi @fclaussen,

thanks for taking the time to report the issue.

Codeception 4.0 broke its different modules into different packages.

I've been trying to fix this on the initialization side of things, but it's not such a straight-forward solution.

In the meantime, you can install the missing packages adding these lines to the `composer.json` file, in the `require-dev` section:

[code]

And run `

[2020-05-28 21:15] lucatume commented on #410
I've pushed some fixes that should address the notice issues.

I could not implement support for both `@runInSeparateProcess` and `@preserveGlobalState enabled`, so the tests will now throw an exception detailing that incompatibility.

It seems an improvement nonetheless, @dingo-d do you have a good example of how `@preserveGlobalState enabled` would improve tests?

[2020-05-28 21:16] lucatume commented on #410
I mean, I know full support would improve tests, I'm not discussing that.
I'm just curious as to what specific use problem that is solving.

[2020-05-29 08:21] dingo-d commented on #410
Tbh I think I just wanted to see will my test work 😂  So I'm not sure what would be improved (although WP is dealing with tons of globals, so maybe you'd want to have a test reusing some preset global from an earlier test 🤷‍♂️ ).

I've update the lib and got an error

[code]

[2020-05-29 14:42] fclaussen commented on #412
Thank you @lucatume
The workaround worked

[2020-05-29 16:15] lucatume commented on #412
@fclaussen great to know, I'm adding a clear warning with instructions in the `init` script to alleviate the issues.

[2020-05-29 16:17] lucatume commented on #410
Ok, new version is in in the branch.

Let me know if that solves the issues you found.

[2020-05-29 23:40] fclaussen opened #414 "[BUG] Database connection issues in Flywheel"
**Environment**
OS: Mac
PHP version: 7.3.5
Installed Codeception version: 4.1.5
Installed wp-browser version: 2.5.5
WordPress version: 5.4.1
Local development environment: Local by Flywheel (v5.4.1)
WordPress structure and management: default

**Can you perform the test manually?**
no

**Codeception configuration file**
Paste, in a fenced YAML block, the content of your Codeception configuration f

[2020-05-30 01:07] BrianHenryIE opened #415 "[BUG] $I->activatePlugin Exception: A ChoiceFormField can only be created from an input tag with a type of checkbox or radio"
**Environment**
OS: Mac
PHP version: 7.4
Installed Codeception version: 4.1.5
Installed wp-browser version: 2.5.5
WordPress version: 5.4.1
Local development environment: MacOS Apache
WordPress structure and management: default

**Can you perform the test manually?**
Yes, opening plugins.php in Firefox and activating the plugin works fine.

**Codeception configuration file**

[code]

`bootstrap.php

[2020-05-30 09:32] lucatume commented on #414
@fclaussen thanks for reporting the issue, my guess is the issue lies in the use of the `~` symbol in place of the full, absolute, path to the socket.
I have to run some tests to make sure, though.

[2020-05-30 09:38] lucatume commented on #414
Could you try to replace the `~` symbol in the path with the actual home directory location in the env configuration file?

[code]

[2020-05-30 13:30] dingo-d commented on #410
Now I have:

[code]

[2020-05-30 13:30] fclaussen commented on #414
@lucatume it worked 🤦
Sorry.

[2020-05-30 13:30] #414 closed

[2020-05-31 08:23] lucatume commented on #414
Ah, took me some time too to figure out too, so my suggestion came from having tried the same.
I’ve got a PR open to add a small quality of life improvement that will resolve the home symbol at setup time.

[2020-06-02 07:32] #412 closed

[2020-06-02 14:18] lucatume commented on #415
@BrianHenryIE I've never run into this specific error, especially with WPBrowser.
I need to do some digging into why that might happen.

This will need some digging and debugging to find out what's causing it.

[2020-06-02 15:36] lucatume commented on #410
@dingo-d I did some changes and it should be fixed now. At least the issue you did run into.

To further debug, could you provide me the installed PHPUnit version?

[2020-06-03 07:40] dingo-d commented on #410
OK, now the tests fail because the ACF `update_field` function isn't found (ACF is listed as a dependency plugin).

But other than that there doesn't seem to be any other issue when executing the test.

The PHPUnit version and Codeception are

[code]

[2020-06-03 08:47] lucatume commented on #410
Thanks again for your feedback and collaboration.

It seems the plugins are not being loaded correctly, then.

I will look into this and push an update.

[2020-06-03 12:29] dingo-d commented on #410
Always happy to help. Just one thing that popped up when installing some packages:

[code]

[2020-06-03 13:41] dingo-d opened #416 "[BUG] Session not created error when running acceptance and functional tests"
**Environment**
OS: MacOS 10.15.5
PHP version: 7.3.18
Installed Codeception version: 4.1.5
Installed wp-browser version: `dev-feat/wptestcase-isolation 8d5fd0f`
WordPress version: 5.4.1
Local development environment: VVV
WordPress structure and management: Default

**Can you perform the test manually?**
Yes I can go to the site, it works fine

**Codeception configuration file**
Paste, in a fenced

[2020-06-03 14:40] dingo-d commented on #416
Ok, so apparently the chrome version on my Mac must match the webdriver version. In my case the latest installed is v83, so there was a mismatch.

[2020-06-03 14:40] #416 closed

[2020-06-03 14:46] lucatume commented on #416
I sincerely appreciate the report and the follow-up: it makes for great documentation for anyone that might run into the issue later, thanks.

[2020-06-03 15:05] dingo-d commented on #416
Yeah, I immediately updated my company's handbook 😄

[2020-06-03 17:14] aksld opened #417 "Error with $_SERVER"
Hello,

When executing the following command :

`vendor/bin/codecept run wpunit --bootstrap /app/vendor/autoload.php`

I have this error :

 Cannot determine time at which the request started because $_SERVER['REQUEST_TIME_FLOAT'] is not of type float

Do you know this error ?

Thanks

[2020-06-04 07:42] lucatume commented on #417
Hi @aksld,

I've seen this error pop-up before in more recent versions of PHPUnit; could you please provide:

* Codeception version
* PHPUnit version
* wp-browser version
* PHP version
* a brief description of your local testing setup

That would help me debug the issue and help you, thanks.

[2020-06-04 08:49] aksld commented on #417
Hi @lucatume

Composer.json :

[code]

[2020-06-04 10:04] lucatume commented on #415
Ok, new version pushed, this should solve the issue of missing plugins and themes and will sport a clearer message to deal with incorrect annotations.

[2020-06-04 11:31] dingo-d opened #418 "[DOC BUG] Site TLS certificate issue?"
When going to https://wpbrowser.wptestkit.dev/ I get an error in Chrome

![Screenshot 2020-06-04 at 13 31 01](https://user-images.githubusercontent.com/8638515/83751746-a64b0c80-a667-11ea-819b-55abaede79e6.png)

[2020-06-04 13:55] dingo-d opened #419 "[BUG] Cannot parse original site URL when running Acceptance test"
**Environment**
OS: MacOS 10.15.5
PHP version: 7.3.18
Installed Codeception version: 4.1.5
Installed wp-browser version: dev-feat/wptestcase-isolation
WordPress version: 5.4.1.
Local development environment: VVV
WordPress structure and management: default

**Can you perform the test manually?**
Site works when I go to the URL fine, I can log in and all

**Codeception configuration file**
Paste, in

[2020-06-04 16:52] lucatume commented on #419
The issue would come to be only if the dump loaded by the `WPDb` module is empty or does not contain a statement like `INSERT INTO ...options... (home|siteurl)`.

Could you check the file `tests/_data/dump.sql` and let me know what is in there?

[2020-06-04 16:54] lucatume commented on #418
It seems like this was a fluke of the hosting provider (GitBook) as it was down all day for me and just came back online.

It's now showing correctly w/ a valid certificate.

Thanks!

[2020-06-04 16:54] #418 closed

[2020-06-04 16:58] lucatume commented on #417
@aksld thanks for the information, this is already very helpful.

I will take a look and let you know.

[2020-06-04 21:23] lucatume commented on #417
Hi @aksld,

I've pushed a _possible_ fix for this issue in https://github.com/lucatume/wp-browser/pull/421

Would you mind testing this out pulling it using:

[code]

And let me know if this fixes it?

[2020-06-05 07:45] dingo-d commented on #419
Yeah, I have it like

[code]

Which was strange. I dumped the SQL using the `mysqldump` (thought that it was an issue when you dump the DB using phpMyAdmin, but it's not).

[2020-06-05 08:01] dingo-d commented on #410
All works now 🎉

You rock! 🙂

[2020-06-05 09:07] dingo-d commented on #419
Another weird thing is, I tried runnnig functional tests (Cest format) and I tried using `$I->sendAjaxPostRequest`, but I got an error:

[code]

[2020-06-05 11:28] lucatume commented on #410
That is great to know!

I will write some more documentation and merge the PR.

Thanks again for your testing and collaboration.

[2020-06-05 13:48] aksld commented on #417
I have the same error :(

[2020-06-05 21:49] Luc45 commented on #419
@dingo-d

That looks accurate.

[WPBrowser](https://github.com/lucatume/wp-browser/blob/master/src/Codeception/Module/WPBrowser.php) extends [PhpBrowser](https://github.com/Codeception/module-phpbrowser/blob/master/src/Codeception/Module/PhpBrowser.php) which extends [InnerBrowser](https://github.com/Codeception/lib-innerbrowser/blob/master/src/Codeception/Lib/InnerBrowser.php).

The method `sendA

[2020-06-05 21:54] Luc45 commented on #419
About the issue with the dump itself, I don't know, I've never faced that error.

I've already faced problems when my `dump.sql` was wrapped in transactions (which is a default checkbox when you export through PhpMyAdmin). You might try to tweak your `dump.sql` a little bit and see if that helps.

[2020-06-05 22:02] Luc45 commented on #409
Do you think it would make sense to explore `backupGlobals="true"` in PHPUnit XML configuration?

https://phpunit.readthedocs.io/en/9.0/fixtures.html#global-state

[2020-06-06 10:06] dingo-d commented on #419
I'll try this. I did have some issues with content from the dump, so it could be that the dump is causing this. It's strange behavior because I cannot reproduce it in the other plugin where everything works fine.

I even tried using that other `dump.sql` to see if I'd get the issue, but it still returned white screenshot.

[2020-06-06 18:41] lucatume commented on #417
Darn, thanks for the feedback, I really did hope this would fix it.

I cannot currently reproduce, so this is a bit hard to debug...

[2020-06-06 18:53] lucatume commented on #409
The reason for the setting to `false` by default is that at, the time, it did create a number of issues.
It could be worth revisiting, though.
One issue I'm aware of is that closures will not correctly be serialized (it will happen during the initial backup) and that will throw a fatal.
I use closures to set up some pre-conditions myself and a change to `$backupGlobals = true` would break back-com

[2020-06-06 18:56] lucatume commented on #419
@dingo-d As a first step to debug this I will test the dump line you provided against the regular expression that is, currently, trying to infer the `home` or `siteurl` from the options table and see if that might be the issue.

Will post updates here.

[2020-06-06 21:54] aksld commented on #417
I want to help you but I don’t know how :(

Maybe you can take remote control of my computer to see on live ?

[2020-06-07 09:33] dingo-d commented on #419
Ok, this is weird. I'm getting timeout on my other plugin now as well. Could this be related to VVV?

[2020-06-08 12:27] #410 closed

[2020-06-08 14:42] lucatume commented on #417
Hi @aksld,

thanks for offering a live debug, I'll take you up on your offer if the latest push does not fix the issue.

Could you try to update the branch using:

[code]

And let me know if that fixes the issue?

For background: due to how the `WPTestCase` class works (w/ `$backupGlobals = false`) if the `$_SERVER` global is modified during tests, then it will not be correctly set after.
See [thi

[2020-06-08 15:16] lucatume commented on #419
@dingo-d I've tested the SQL fragment you provided against the current parser, and the URL is correctly picked up.
Are you still, consistently, having this issue?

A blank screenshot means a 404 in the context of acceptance tests.
If the dump contains a URL that is not the one used to access the installation during tests, then that is the cause.

Did you try to set `originalUrl` in the `WPDb` conf

[2020-06-08 15:42] lucatume commented on #415
@BrianHenryIE I've tried this out reproducing your testing environment:

* I've downloaded [the plugin](https://wordpress.org/plugins/bh-wc-set-gateway-by-url/)
* made sure the plugin is in the `plugins` directory of the WordPress installation
* ran the following test:
[code]

The test is passing without issues.
Could you, please, try to run `composer update` and let me know if that solves the iss

[2020-06-09 06:08] dingo-d commented on #419
Yeah, if I remove the `urlReplacement` I still get the same error

[code]

If the dump contains a URL that is not the one used to access the installation during tests, then that is the cause.

I checked my dump, and there were places where URL had http instead of https. I've changed that, but it still times out.

See here for more information.

Yes, it only works if I put the `originalUrl` in the

[2020-06-09 11:41] Luc45 commented on #419
Just an observation, I've worked on projects where the dump would be like 40MB. It took a while, but it worked, both with the populator and without it.

You said you isolated the issue to your postmeta table? Can you isolate it even more, leave just a few records and see exactly what might be triggering it? Eg: To find out if this is coming from the structure or something in the data?

[2020-06-09 11:53] dingo-d commented on #419
I'll try to dig deeper into it. But the timeout started to occur with another plugin with a smaller dump. So it could be something system-related 🤷‍♂️

[2020-06-10 09:24] dingo-d commented on #419
So, when I remove the `originalUrl: '%TEST_SITE_WP_URL%'` from the `WPDb` module, I get error, unless I remove some parts of my `wp_postmeta` in the dump. Which is weird, and could mean that I have a malformed dump.

When I add this, I get the `Facebook\WebDriver\Exception\TimeoutException` no matter what I do with the dump. The URL in the dump is correct.

Furthermore, when I changed from `WPWebD

[2020-06-11 02:46] Luc45 commented on #419
Ah, this timeout is coming from the WebDriver, not the dump.

Do you have your `wp-config.php` pointing to the test database?

[2020-06-11 07:54] dingo-d commented on #419
No, my test database is some empty DB I use, different from the one I'm using from the `wp-config.php`. Should these be the same?

The output I'm getting is the white screen with nothing on it.

[2020-06-11 08:35] lucatume commented on #419
I think there might be an issue here where the WordPress installation uses database A (in the `wp-config.php` file), but the tests use, in the `WPDb` module configuration, database B.
@dingo-d  did you see [this?](https://wpbrowser.wptestkit.dev/tutorials/automatically-change-db-in-tests)?

[2020-06-11 09:11] aksld commented on #417
0 error !

Perfect !!!

[2020-06-11 09:31] #417 closed

[2020-06-11 10:37] Luc45 commented on #419
Noooo manz don't do this, this will import the test database on top of your local development database 🤦‍♂️

Do you want to hang to talk about this stuff? I could explain it better to you in a call, if you'd like. Let me know.

[2020-06-11 16:39] dingo-d commented on #419
Yeah, I've added this but still times out.

I'm aware of the databases, I usually use a separate one for tests from the one I use in the development, don't worry 😄  It's also easily recoverable data 😄

I'm up for a call, but maybe tomorrow, thanks for helping out 👍

[2020-06-12 00:53] Luc45 commented on #419
Feel free to schedule a hangout with me tomorrow lucasfbustamante@gmail.com I'm on GMT-3 and I'll be around all day, mostly.

[2020-06-12 07:46] lucatume commented on #399
I'm currently working on a series of articles on my blog ([see here](https://theaveragedev.com/docker-and-docker-compose-for-wordpress-testing-01/)) that will end with a Docker and `docker-compose` wrapper to streamline the process of testing WordPress projects (plugins, themes and whole sites) using containers.

[2020-06-12 09:03] dingo-d commented on #419
I've send an invitation, let me know if the time suits you, if not we can move it around a bit 🙂

[2020-06-12 17:37] dingo-d commented on #419
Ok, so @Luc45 you're a lifesaver. After battling with valet+ for about an hour or so, I gave up and decided to just use vvv.

First, my port was wrong in my `WPWebDriver` config. I'm starting my selenium using composer script and there it's `selenium-server -port 4444`, and I had port opened to 9515 instead of 4444 (although I thought that you need to have chromedriver running as well).

Then I to

[2020-06-12 17:37] #419 closed

[2020-06-15 08:08] lucatume commented on #419
That's great to hear @dingo-d,

thanks for writing down what issues you found and reporting them back: this will help others with the same issues to debug them.

[2020-06-15 08:11] lucatume commented on #415
Hi @BrianHenryIE,

any news on this front? Still running into the issue?

[2020-06-15 18:40] BrianHenryIE commented on #415
Hey,

I did `composer update` after your last message but I was still getting the same error. Today I deleted my MySQL dump (TBH, I accidentally overwrote what was there!) and when I reinstalled WordPress (`wp core install`) the tests ran successfully.

Unfortunately, I'm not able to reproduce the bug now to give a better explanation.

Thanks for the help.

[2020-06-15 18:40] #415 closed

[2020-06-16 07:35] lucatume commented on #415
@BrianHenryIE Thanks for taking the time to report back.

If there's a bug, it will pop-out again sooner or later, happy coding!

[2020-06-18 19:44] ryanshoover opened #422 "[BUG] Correctly set admin bar visibility setting for new users."
**Environment**
OS: Ubuntu
PHP version: 7.4.7
Installed Codeception version: 4.1.6
Installed wp-browser version: 2.6.1
WordPress version: 5.4.2
Local development environment: Docker
WordPress structure and management: default

**Can you perform the test manually?**
Not sure what this means

**Codeception configuration file**
Paste, in a fenced YAML block, the content of your Codeception configurat

[2020-06-19 07:07] lucatume commented on #422
Hi @ryanshoover,

thanks for taking the time to report the issue and reporting the throve of information.

I will look into this and post updates in this issue.

[2020-06-19 08:08] lucatume commented on #422
Fixed by your PR that I had not seen... sorry and thanks!

[2020-06-19 08:08] #422 closed

[2020-06-24 10:23] #408 closed

[2020-06-30 04:08] cliffordp opened #424 "[BUG] activateFurtherPlugins didn't work on init setup"
**Environment**
OS: Mac
PHP version: 7.4.6
Installed Codeception version: 4.1.6
Installed wp-browser version: 2.6.2
Local development environment: Local (Lightning)

**Describe the bug**
I ran `vendor/bin/codecept init wpbrowser` to initially setup WP Browser for my plugin. When it [asked me which other plugins should be activated](https://github.com/lucatume/wp-browser/blob/2.6.2/src/Codeception/

[2020-06-30 07:02] lucatume commented on #424
@cliffordp thanks for taking the time to report the issue and provide details.
I will look into this and update this issue with news when I have some.

[2020-06-30 10:46] #424 closed

[2020-06-30 10:46] lucatume commented on #424
Fixed in version `2.6.3`, thanks again for reporting this.

[2020-07-05 14:21] overclokk opened #427 "[BUG] Notice: Undefined index: value in "...\vendor\lucatume\wp-browser\src\tad\WPBrowser\env.php" on line 49"
**Environment**
OS: Windows
PHP version: 7.2
Installed Codeception version: 4.1.6
Installed wp-browser version:  2.6.3
WordPress version: latest
Local development environment: XAMPP
WordPress structure and management: default

**Output**
`Notice: Undefined index: value in E:\xampp\htdocs\moduli\wp-content\plugins\finder\vendor\lucatume\wp-browser\src\tad\WPBrowser\env.php on line 49`

**To Reprodu

[2020-07-06 08:39] lucatume commented on #427
@overclokk thanks for reporting the issue and taking the time to provide the details. I will look into this and update this issue with the news.

From the look of it, it looks like something I _should_ have covered in tests but did not. I use an empty password value as well and did not run into any issue so far.

[2020-07-06 12:49] overclokk commented on #427
The problem I found is not the empty password itself but the `""`

This does not work: `TEST_DB_PASSWORD=""`

This works: `TEST_DB_PASSWORD=`

[2020-07-06 21:40] Luc45 commented on #427
I've faced the same issue. Removing quotes worked for me as well.

[2020-07-07 10:57] Luc45 commented on #399
I'm increasingly coming to believe that having a docker based environment to run tests is very important.

I've been trying some setups locally as well, I'll be following up the docker series up close as well.

[2020-07-07 11:09] dingo-d commented on #399
They are great, but often slow. Docker on Mac is painfully slow, while GH actions and Docker also take time to load.

[2020-07-07 11:24] Luc45 commented on #399
<img src="https://user-images.githubusercontent.com/9341686/86772666-d270f900-c02a-11ea-9a3d-1c441b92215c.png" width="450" height="300">

[2020-07-07 12:22] dingo-d commented on #399
I would but my computer (atm) depends on my company 😅  And they don't plan on giving me a Linux based laptop (I've asked 😭 )

[2020-07-07 14:49] #427 closed

[2020-07-07 15:56] lucatume commented on #399
Please, let's refrain from starting a very old discussion about "this is better than that".
Someone might be put-off by searching for issues and finding pro-this or pro-that partisanism and that's a win for no one.

[2020-07-10 05:39] #409 closed

[2020-07-31 09:10] EvanShaw opened #430 "[BUG] Original URL port number erroneously appended to replacement URL in functional/acceptance suites"
**Environment**
OS: Linux
PHP version: 7.4
Installed Codeception version: 4.1.6
Installed wp-browser version: 2.6.5
WordPress version: 5.4
Local development environment: Docker
WordPress structure and management: default

**Can you perform the test manually?**
No, because my test environment is a Docker container without any exposed ports

**Codeception configuration file**
[code]

**Suite configu

[2020-08-02 19:00] szepeviktor opened #431 "WP-CLI is a complex tool"
Please consider directing users to use Phive or download the PHAR file to install WP-CLI.
It is a complex tool, it creates dependency problems.

I see your code needs some files from `wp-cli/wp-cli`, requiring only that package needs only 6 pkgs:

[code]

Thank you for considering.

[2020-08-03 07:40] lucatume commented on #431
@szepeviktor I'm not excluding it does cause problems, as any package with dependencies does, but I do not think requiring users to set up a development dependency manually would make for a better experience.

Are you running into a dependency issue caused by wp-cli? Would you mind sharing the issue details to debug a bit?

I've been thinking about embedding the phar version of wp-cli in the softw

[2020-08-03 07:48] szepeviktor commented on #431
No.

I see we have to align our software to our users.

[2020-08-03 07:48] #431 closed

[2020-08-03 07:52] lucatume commented on #431
I appreciate the feedback and brainstorming in any form: if at any later moment, you can come up with a solution to this issue, I would be happy to explore it and take a stab at it.

Thanks!

[2020-08-03 07:53] szepeviktor commented on #431
Let's have only paid professional in the WordPress ecosystem :)

[2020-08-04 07:24] lucatume commented on #430
@EvanShaw thanks for taking the time to report the issue and provide all the required details.

I will look into this and come back to this as soon as I can.

[2020-08-04 09:30] dingo-d opened #433 "[BUG] wp_remote_request throws cURL error 60"
**Environment**
OS: Mac OS 10.15.6
PHP version: 7.4.8
Installed Codeception version: 4.1.6
Installed wp-browser version: 2.6.5
WordPress version: 5.4
Local development environment: local LEMP stack
WordPress structure and management: default

**Can you perform the test manually?**
Locally, calling curl, or doing any kind of API call works fine.

**Codeception configuration file**
Paste, in a fence

[2020-08-04 09:56] #430 closed

[2020-08-04 09:57] lucatume commented on #430
Fixed in release `2.6.6.`; let me know if you're still having issues.

[2020-08-04 11:03] lucatume commented on #433
@dingo-d this does not look like an issue with wp-browser, but rather an issue with self-signed certificates.

Usually, you can avoid the issue with self-signed certificates adding, in your test code, this snippet:

[code]

Personally, I would not use SSL in tests, though, exactly to avoid this kind of issue.

Also: in integration tests default configuration, using the `WPLoader` module, there mig

[2020-08-04 11:27] dingo-d commented on #433
The snippets seem to be working.

I didn't have this issue on VVV, they probably handle the certificates in a different way 🤷‍♂️

As a workaround, I'll add the filters inside a conditional, so that they are run only during tests.

I was just testing if my code (which runs `wp_remote_request`) works, so I used the local rest route as a way to test this.

Thanks for helping out, as always 👍

[2020-08-04 11:27] #433 closed

[2020-08-04 12:13] lucatume commented on #433
Thanks for clarifying!

[2020-08-07 05:16] #399 closed

[2020-08-07 06:35] EvanShaw commented on #430
@lucatume I confirmed that it is fixed. Thanks!

[2020-08-07 08:27] lucatume commented on #430
Great, thanks for getting back and confirming this.

[2020-08-13 20:56] adc-nsaraiva opened #434 "Questiot: How can I add an image to a post?"
First of all I just want to say that this is an awesome project. Congrats for the great work!

So I was trying to associate an image to a post for testing purposes and I haven't found a way to do that through any method.

I noticed that in the past you had methods like this one:
`$I->haveFileAttachedToPostInDatabase`

But now I can't find any other than this `$I->haveAttachmentInDatabase`

So is t

[2020-08-14 14:40] #434 closed

[2020-08-14 14:45] lucatume commented on #434
Hi @adc-nsaraiva,

thanks for the support and the feedback.

I had removed the method due a faulty implementation and never added a replacement for it.
I've included two new methods in release `2.6.7`, update and you should be able to do this:

[code]

See [documentation](https://wpbrowser.wptestkit.dev/modules/wpdb#havepostthumbnailindatabase).

Happy coding!

[2020-08-18 13:56] dingo-d opened #436 "[BUG] Mock mailer throws depreciation notice"
**Environment**
OS: Mac
PHP version: 7.4.8
Installed Codeception version: 4.1.6
Installed wp-browser version: 2.6.5
WordPress version: 5.5
Local development environment: Valet
WordPress structure and management: default

Running integration tests threw a PHPMailer depreciation notice, probably because they updated the PHPMailer in WP 5.5 to version 6.1.6

Running test threw:

[code]

[2020-08-19 14:46] #436 closed

[2020-08-23 20:38] BrianHenryIE opened #439 "[BUG] PhpOption and env() issues when updating"
I updated from 2.4.2 to 2.6.9 on a project and some tests stopped working.

`Class 'PhpOption\Option' not found`

on

`$I->amOnPluginsPage();`

fixed by

`composer require phpoption/phpoption --dev`

And

`Class 'Dotenv\Environment\Adapter\EnvConstAdapter' not found`

on

`$smtp_server = env( 'SMTP_SERVER' );`

fixed with

`$smtp_server = $_ENV[ 'SMTP_SERVER' ];`

I had accidentally submitted this

[2020-08-24 22:35] wppunk opened #440 "Update package symfony/filesystem for compatibility with Symfony"
**Environment**
OS: Linux
PHP version: 7.4
Installed Codeception version: 4.1
Installed wp-browser version: latest
WordPress version: 5.5
Local development environment: Local by Flywheel
WordPress structure and management: default

Could you upgrade a `symfony/filesystem` package for compatibility with my packages:

`composer.json`:
[code]

[2020-08-25 07:55] lucatume commented on #439
@BrianHenryIE thanks for taking the time to open the issue and correctly guessing it might help someone else. I will flag this as "wontfix" and leave this open for a bit to capture others looking for a similar issue.

Thanks and happy coding.

[2020-08-25 08:07] lucatume commented on #440
Thanks @wppunk for taking the time to open the issue.

I'm starting a branch to test out what the dependency update would entail; it might be less straight-forward than intended since wp-browser has to keep being compatible with PHP 5.6 and Codeception 2.5+.

I will keep you posted in this issue.

[2020-08-25 09:47] wppunk commented on #440
@lucatume Recently we have been testing all our projects on PHP7.4 and we provide support for PHP 5.5 using [PHPCompatibility](https://packagist.org/packages/phpcompatibility/php-compatibility) library inside coding standard.

Downgrade helped me.

`composer.json`:
[code]

If it is not possible to raise the PHP version, then you can close the question. But it would be awesome if there was an oppor

[2020-08-25 11:28] lucatume commented on #440
@wppunk I'm currently not planning on updating the minimum required PHP version and am sticking with what Codeception supports.
I've merged a PR to remove the block on the `symfony/filesystem` dependency, though, in `2.6.10` that might solve your problem here.

Let me know if that version does solve the issue, run `composer update lucatume/wp-browser` to pull the latest version of it.

[2020-08-25 11:33] wppunk commented on #440
@lucatume Thank you, works just awesome.

[2020-08-25 12:52] lucatume commented on #440
Excellent, thanks for confirming.

I will close the issue, then.

[2020-08-25 12:52] #440 closed

[2020-09-05 14:25] szepeviktor opened #442 "[FEATURE REQUEST] Publish GitHub Action"
Hello Luca!
Do you plan/may I help to publish a [GH action](https://github.com/marketplace?type=actions&query=wordpress) that tests a plugin or theme?

From https://github.com/dingo-d/woo-solo-api-test-action/pull/3

[2020-09-07 07:28] lucatume commented on #442
Hi @szepeviktor  I've not had the time to look into this, but I'm not shutting the door to anything.
In the last year I've set up GHA and wp-browser some 10 times or so and had to take different routes depending on the WP versions, PHP version, web-server and type of project.
What kind of solution are you thinking about? What configuration parameters would such an action consume?
I'm interested.

[2020-09-07 07:34] szepeviktor commented on #442
Of course people should already have PHP set up.

- for theme and plugin repos only
- PHP should be set up
- the only input should be `WP_VERSION` environment variable
- tests should be is a certain directory
- all other things should be done by this GH action :)

[2020-09-07 07:40] lucatume commented on #442
I would need to see an example yml GHA configuration file to be able to poke holes into it.
I cannot set it up now, but would very much like to explore this.
I would also like the library provided set up to scaffold such action, something like the wp-cli plugin test scaffold command does.

[2020-09-07 07:47] dingo-d commented on #442
There are some limitations to GH Actions. Initially, I wanted to just specify WP version, PHP version, and Node version as parameters that would be passed to the custom action itself, but that isn't possible

https://github.community/t/using-inputs-when-specifying-dockerfile-name-in-the-custom-docker-action/18504

I've stumbled upon some other issues, but cannot remember all of them atm, I don't k

[2020-09-07 07:50] szepeviktor commented on #442
PHP and NodeJS should be step **before** invoking this GH action.

[2020-09-07 10:28] dingo-d commented on #442
Ideally yes, but since Docker is self-contained, I'm not 100% sure how to just run tests inside it without building the plugin inside (for which again I need PHP and Node).

I might be missing some insight, but I haven't gone in-depth in checking how to overcome this issue.I should revisit this in a few weeks hopefully 🙂

[2020-09-07 19:27] szepeviktor commented on #442
@lucatume Could you show me a plugin or theme here on GitHub that is properly written and uses wp-browser?

[2020-09-08 07:12] lucatume commented on #442
Not one that is "vanilla" and does not come with so many modifications to the base set up not to blur the example, really. Or that is not private.

Regarding Docker: I try to avoid building it in GHA, at least I try to avoid building the costly part of copying the files over. Since the machine GHA runs on is a Ubuntu one, volume binding is fine.

The simpler stack I've used is the one where I use

[2020-09-11 02:34] BrianHenryIE commented on #442
I have unit, wpunit, integration and WPBrowser acceptance tests running on GitHub Actions in workflows (i.e. not an "Action" as such, but you could create an Action from them):

https://github.com/BrianHenryIE/bh-wc-csp-condition-ip-address/

That project won't build locally for anyone because it pulls in from a private composer repository. The following one will (but hasn't as many Actions set up

[2020-09-11 07:39] lucatume commented on #442
@BrianHenryIE that is interesting stuff you have there.

I will take inspiration from it while putting together a wp-browser GHA workflow file.

I would not like to make GHA "the" CI solution that wp-browser projects should use, but I would like to provide examples of how it could be set up for plugins, themes and sites in the documentation.

When that is done, then the process can be automated in

[2020-09-11 07:43] BrianHenryIE commented on #442
The WordPress Gutenberg repo has been working on a standard development Docker image (nothing to do with GA):

https://github.com/WordPress/gutenberg/issues/17724

https://github.com/WordPress/gutenberg/issues?q=is%3Aissue+wp-env

[2020-09-11 11:36] alexmigf opened #445 "[SETUP ISSUE] Undefined index: default"
**Environment**
OS: [Linux]
PHP version: [7.4.3]
Installed Codeception version: [4.1.7]
Installed wp-browser version: [2.6.10]
WordPress version: [5.6-alpha-48969]
Local development environment: [Valet]
WordPress structure and management: [default]

**Did you use the `codecept init wpbrowser` command?**
Yes

**Did you take a look at Codeception and wp-browser documentation?**
Yes

**Codeception co

[2020-09-12 14:43] halmos opened #446 "[DOC REQUEST] Manually reset WPDB sql dump at start of test"
**Did you search the documentation first?**
Yes

**What do you think is missing from the documentation?**
The documentation describes how to use config settings for WPDb `populate` and `cleaunp` settings. It also describes the `importSqlDumpFile` command, but i don't think this is available from within a wpunit test suite.

**Do you have any examples of what you'd like to see added to the document

[2020-09-13 16:30] JohnDeeBDD commented on #446
Suggestion: Have your acceptance tests clean up after themselves. i.e. if you make a post, delete it at the end of the test. A passing acceptance test should undo whatever artifacts it creates as part of the test. That way, you can set populate: true, and cleanup: to false, which is much faster. This will run the SQL dump ONCE per run - at the start of the suite. This has negative and positive sid

[2020-09-14 07:45] lucatume commented on #445
Hi @alexmigf, thanks for taking the time to report the issue and fill in the questions.

That error tells me something is off with the database configuration.
I will reproduce your testing environment locally and try to see what comes out of it.

In the meanwhile: is the `tests/_data/dump.sql` file present? Is it a valid SQL file?

[2020-09-14 07:50] lucatume commented on #446
HI @halmos,

in the context of "WordPress Unit" tests, the one using the `WPLoader` module with the `loadOnly` setting set to `false` (the standard configuration of the `wpunit` suite, then you should not use the `WPDb` module at all.

The `WPDb` module *and* the `WPLoader` one (again with `loadOnly: false` or not set) will *both* try to set up the database before the tests: the first dropping the

[2020-09-14 07:51] alexmigf commented on #445
Hi @lucatume , yes, is present and it's a valid SQL file.

[2020-09-14 13:05] halmos commented on #446
Thank you both for your assistance. I do in fact have the `WPLoader`'s `loadOnly` set to `true` so that I can load a unit test DB with the WPDb module. This allows us to easily create and modify complex db fixture scenarios for our wpunit tests. We make extensive use of ACF, so manually adding all the necessary post meta in the test suite is not very practical and also results in a situation where

[2020-09-14 20:07] TimothyBJacobs opened #447 "[BUG] recurseRemoveDir leaves behind empty directories."
**Environment**
OS: Mac
PHP version: 7.3.18
Installed Codeception version: 3.1.1
Installed wp-browser version: 2.6.10
WordPress version: 5.5
Local development environment: Docker
WordPress structure and management: Default

**Describe the bug**
Calling the `recurseRemoveDir()` function leaves behind empty directories.

**Expected behavior**
For the directory to be emptied and deleted.

**Additiona

[2020-09-15 07:13] lucatume commented on #445
@alexmigf what's the output of the same command with the `--debug` flag? That shoul provide the trace, would you be able to paste it here?

[2020-09-15 07:32] lucatume commented on #446
@halmos thanks for clarifying your use case, not an uncommon one and not an outlandish request.

Could you provide some example code of the API (functions, methods and the like) you would envision having at your disposal to provide this? I'm asking as it's easier, for me, to start working "from the end" and know the API I would have to, ideally, fulfill for something to be useful and usable.

My g

[2020-09-15 07:34] lucatume commented on #447
@TimothyBJacobs thanks for taking the time to report the issue and provide a fix, I will look into this and update this issue as soon as I can get to it.

[2020-09-15 07:45] alexmigf commented on #445
@lucatume here it is https://pastebin.com/raw/xCyav5dB

[2020-09-15 11:57] #447 closed

[2020-09-15 23:42] halmos commented on #446
Hi @lucatume,

The approach shown in the example code would certainly offer a lot of control. How do you imagine the `$fixture` object interacts with the WPDb module? or are they orthogonal? Could you explain further how the `commit()` functions?

The existing WPDb auto-cleanup function is indeed a possible solution for my current needs - but unfortunately it also significantly slows down my tests

[2020-09-16 07:41] lucatume commented on #446
The trait would provide an API to import a SQL dump in the current database, however, the current database state came to be in its current state. It would not assume the existence of the `WPDb` module or its use.
The `commit()` method would commit the transaction to the database; by default, the mode should be a transaction.

I think you're confusing the `cleanup` setting with the "remove rows ins

[2020-09-16 13:54] halmos commented on #446
I'm afraid I don't have the necessary expertise with sql to advise on the best approach for the api or managing its state during unit tests. Perhaps what I am looking to do is already available by way of the testing transaction api (?).

FWIW, here's my modified `wpunit.suite.yml`:

[code]

and here is a simple test method that modifies a some user meta that was originally set up by ACF:

[code]

[2020-09-16 17:33] TimothyBJacobs commented on #447
thanks for the fix @lucatume!

[2020-09-17 08:08] lucatume commented on #446
@halmos I have to dig a bit and try out some things, the transaction methods should help you here.

One question: could you post the full body of the test case you've taken those test methods from? I guess it's an extension of the `WPTestCase` class but would like to be sure.

[2020-09-17 20:50] halmos commented on #446
Hi,
I'm not able to post the entire test file for security reasons, but it is indeed an extension of `WPTestCase`

[2020-09-18 07:13] lucatume commented on #446
I understand, no worries and thanks anyways.

Please, confirm I'm getting this right:

1. You would like to run *integration* tests (or "WordPress unit tests") not starting from a clean slate (as the `WPLoader` would normally do), but from a known database fixture.
2. In *some* test methods you would like to layer, on top of that known starting database fixture, some additional SQL to define more

[2020-09-21 14:39] halmos commented on #446
Hi,

1. Correct
2. to clarify, I don't require the option to load an additional SQL dump as a layer over the setup fixture DB (loaded by the WPDb module for example), but I do need to be able to use the Wordpress API such that modifications to the fixture DB allow for introspection.
3. Correct

[2020-09-22 07:19] lucatume commented on #445
@alexmigf thanks for providing the trace, I'm doing a bit of maintenance work on wp-browser and have not been able to reply immediately.

I will look into this and let you know what comes of it.

[2020-09-22 07:20] lucatume commented on #446
Thanks for confirming, I will look into this and see what comes out.

[2020-09-22 21:26] halmos commented on #446
thank you! - wp-browser has made developing and testing WP so much more deterministic. Your efforts are greatly appreciated.

[2020-09-23 07:17] lucatume commented on #446
Thanks for the appreciation, goes a long way.

[2020-09-23 13:53] cristeacosmin opened #458 "[SETUP ISSUE] Setting up acceptance tests using travis, selenium stand alone server and chrome"
**Environment**
OS: Linux
PHP version: 7.3
Installed Codeception version: 4.1.7
Installed wp-browser version: 2.6
WordPress version: 5.5.1
Local development environment: Travis
WordPress structure and management: default

**Did you use the `codecept init wpbrowser` command?**
Yes

**Did you take a look at Codeception and wp-browser documentation?**
Yes

**Codeception configuration file**
If you we

[2020-09-23 14:02] lucatume commented on #445
@alexmigf the pastebin link has expired, could you re-test w/ the latest version of wp-browser (released yesterday) and let me know if something changed.

If not, could you paste the trace here?

[2020-09-23 15:25] lucatume commented on #458
Hi, @cristeacosmin thanks for taking the time to open the issue and report the information.

That error means that Selenium could not find the `wp.dev` address.
I see, in the CI configuration file, you've specified the `hosts` entry, add a `curl -IV http://wp.dev` somewhere to make sure wp.dev can be reached by the CI build.

Furthermore: `.dev` is a valid domain. To avoid issues, I use `.test` or

[2020-09-24 05:15] cristeacosmin commented on #458
Hello @lucatume,

The CI build reaches wp.local ( changed from wp.dev ) - i dont get any errors in nginx/php - but the generated HTML artifact is empty

![image](https://user-images.githubusercontent.com/10389279/94103261-d5ff6980-fe3c-11ea-8ca3-8174d807435d.png)

For testing sake - i opened a new window to see if the selenium server is throwing any errors but as far as I can see its ok
![image](h

[2020-09-24 06:46] lucatume commented on #458
if you can, activate Debug on the repository on Travis CI and look into that.

The issue seems not to be related to wp-browser at all and I can just provide some things I would try:

1. Activate Debug mode on the repository in [Travis CI and debug the build](https://docs.travis-ci.com/user/running-build-in-debug-mode/)
2. Check the status of the WordPress installation you've set up using wp-cli: t

[2020-09-24 07:48] cristeacosmin commented on #458
Hey!

Thanks for your time and patience. My tests / tweeks are made in debug mode, so I can modify/examine what's happening at all time during the test. The WordPress installation is fine, i even wrote a wpunit test that's creating new posts ( of a certain type ), uploading pictures, creating galleries and checking the output in the generated shortcode - all tests pass..

wp cli is working
nginx i

[2020-09-24 09:41] lucatume commented on #458
The WPLoader test is telling you the database is up and the connection works, not that the whole webserver stack is working.
If you fetch the headers of the home page of the site (e.g. `curl -Iv http://wp.local`); what do you get? Do you see WordPress headers in there?
Is the theme set correctly?

[2020-09-24 09:46] lucatume commented on #458
Another option is: if you've not a strict requirement for the web-server to be Nginx (i.e. your plugin is not messing around with the web-server configuration files), I would try php built-in server or the wp-cli one (`wp server ...`). Put them in background with `nohup`.

[2020-09-24 10:17] cristeacosmin commented on #458
👍  thank you ! you were right - there was something odd about the nginx config ( which is not really needed for the tests ). I started the server using wp server and I could get it working! I will post the config and steps to make it work maybe it will help some other poor dude googling for solutions!

[2020-09-24 10:19] lucatume commented on #458
@cristeacosmin thanks for getting back with this information.
I'm trying to come up with some integration documents for various wp-browser setups (CI, Docker and the like) and could "borrow" some configuration files.

[2020-09-24 10:25] cristeacosmin commented on #458
after i finish the clean up of the code, i will share my scenario along with the configuration files

Thanks !

[2020-09-26 03:39] #439 closed

[2020-10-01 19:12] Luc45 opened #459 "[BUG] WPFilesystem::havePlugin erases plugins folder if $path is a single file plugin"
This works as expected:
`\Codeception\Module\WPFilesystem::havePlugin('foo/bar.php', $code);`

This will delete your plugins folder:
`\Codeception\Module\WPFilesystem::havePlugin('foo.php', $code);`

The reason for that is that `havePlugin` deletes the parent folder of the plugin after the test ends, using `dirname()`.
If the plugin is a single-file plugin with no folder of it's own, the parent fo

[2020-10-02 06:24] lucatume commented on #459
@Luc45  thanks for reporting the issue: it's clearly a bug and removing the parent single-file plugin directory is *not* the correct approach.

I will look into this and provide a fix as soon as I have the bandwidth.

[2020-10-06 16:51] alxvallejo opened #460 "TEST_DB_NAME vs TEST_SITE_DB_NAME"
What's the difference here? I just quickly ran through set up but now i need to tune the config so that it works with my Lando wordpress instance.

[2020-10-07 07:17] lucatume commented on #460
If you look at your suites configuration files (`<suite>.suite.yml`) you will see placeholders like `%TEST_DB_NAME%` used to set up the suite configuration using an environment file.
That environment file is the `.env.testing` one (by default, might be different if you changed its name during the installation).
Since many set up the suites to use a "site DB" for acceptance, and a "test db" for int

[2020-10-07 15:10] Luc45 commented on #459
Hi Luca,

I'll give it a shot at this PR. I had some annoying health issues this past week, fever, cough and body pain - luckily it's not COVID-19.

Let's see if I can still get wp-browser up and running for a ride.

[2020-10-07 15:17] Luc45 commented on #460
My suggestion is that you create two databases:
1. `myproject_tests` -> `TEST_DB_NAME`
2. `myproject_site_tests` -> `TEST_SITE_DB_NAME`

By default, the first one will be used for wpunit tests, which are just UNIT tests for WordPress. This database can be empty, you don't have to import any kind of data to it. Any database query that happens in this DB will be a transaction that will be rolled-bac

[2020-10-08 06:59] lucatume commented on #459
This escalated quickly!
No worries about this, you should be able to build the dev environment used in CI with:

[code]

[2020-10-11 11:16] #442 closed

[2020-10-13 17:41] Luc45 commented on #459
Hi @lucatume,

I'm starting to have some free time as of today. Setting up the environment went surprisingly well, I've just faced some minor issues with `vendor/wordpress/wordpress` being owned by root and being empty, but I've got around that setting the permissions manually and running a `wp core download` in that folder, mimicking `make refresh_wp`.

I'm thinking about tackling this this way:

[2020-10-14 07:04] lucatume commented on #459
@Luc45 I guessed you would have some issues with the file modes as the script I've set up for Mac where that is not an issue, I apologize for the annoyance.

I would not limit the use of the `havePlugin`, and `haveMuPlugin`, methods to accept only one-level-deep plugin structures; I would parse the input path, e.g. `foo.php` or `foo/plugin.php` or `foo/bar/plugin.php` to assess if the root compone

[2020-10-19 18:23] gabe-connolly opened #462 "Add a logOut() method to WPBrowserMethods"
It would be helpful to have an easy to use method of logging out a user during testing.  There is a default loginAsAdmin() method and also the ability to login as a specific user, but no ability to logout without configuring a more involved set of test steps that relies on the specific theme UI for a site (i.e. does the theme have an easy to access login/logout link).

[2020-10-20 11:51] lucatume commented on #462
@gabe-connolly Thanks for reporting the issue and providing a PR, released in `2.6.14`.

[2020-10-20 11:51] #462 closed

[2020-10-20 11:52] lucatume commented on #460
@alxvallejo if this issue does not require further discussion or a fix, I would ask you to close it.

[2020-10-21 11:52] #459 closed

[2020-10-21 11:54] lucatume commented on #459
Thanks again @Luc45 for your PR, this is now merged and released.

[2020-10-22 16:36] twelch555 opened #466 "[SETUP ISSUE] vlucas/phpdotenv interfering with .env.testing variables"
**Environment**
OS: Mac Catalina
PHP version: 7.4
Installed Codeception version: 4.1.8
Installed wp-browser version: 2.6.14
WordPress version: 5.51
Local development environment: self-installed AMP stack
WordPress structure and management: default

**Did you use the `codecept init wpbrowser` command?** Yes
The bootstrap command is the recommended way to scaffold tests.

**Did you take a look at Co

[2020-10-23 11:23] lucatume commented on #466
Hi @twelch555,

thanks for reporting the issue and providing the information.

I'm not yet sure if the issue you encountered is from wp-browser, the `vlucas/phpdotenv` (unlikely), or just an incorrect usage.

**Would you be able to provide the `.env.testing` file that you're using?**

Regarding suggested packages: there should be no work to integrate the `vlucas/phpdotenv` library: so much so that

[2020-10-23 16:17] twelch555 commented on #466
Hi, well I never discount incorrect usage;) I’ll provide a little more detail and my .env.testing file below.

Following installation/configuring I was doing a sanity check, or pre-flight check as you call on https://wpbrowser.wptestkit.dev/getting-started/configuration.

Here are the results:

twelch@OL436-applembpro:~/www/sites/multi_onboard/wwwroot/wp-content/plugins/opened-duplicator$ vendor/b

[2020-10-26 11:58] lucatume commented on #466
After a bit of digging, I think I found the issue and it springs from the combination of Codeception and `vlucas/phpdotenv:^5.0`, in the Codecption repository I've seen some issues mentioning it so I will not open a new one.

I could make it all work using `composer require --dev vlucas/phpdotenv:^4.0:`.

I will change the suggested version to that until the Codeception issue is addressed.

Thanks

[2020-10-26 12:18] #466 closed

[2020-10-31 04:10] #445 closed

[2020-11-10 12:21] gbiorczyk opened #468 "[FEATURE REQUEST] Compatibility with Composer 2"
Hi,

Hello everyone. Thanks for your work, I appreciate it very much.

I would like to adapt my composer.json to Composer 2. For testing purposes I have created a very simple composer.json file:
[code]

And then I execute the following command:
[code]

And I have such errors:
[code]

Do you plan on compatibility with Composer 2? If so, when can this be expected? I will be very grateful for your an

[2020-11-11 08:03] lucatume commented on #468
Hi @gbiorczyk,

thanks for the compliments, much appreciated.

I've not yet tried out, due to lack of time, the use of Composer `2.0` and I've consistently rolled back to version `1.0` where I'm using it as there are a number of packages that have not been updated to it yet.

I'm not committing to any dates, but I will work on this when I have time to spare.

[2020-11-12 10:00] lucatume commented on #468
I've started working on this, I've found some issue around `wp-browser` dependency on the `wp-cli/wp-cli-bundle`, `symfony/filesystem` and `symfony/process` packages.
I'm currently exploring the possibility of reducing, ideally removing, the dependency on those packages completely.
I will update this issue with news.

[2020-11-12 23:57] jchristopher opened #470 "[BUG] [Error] Call to undefined function Codeception\TestCase\_cleanup_query_vars()"
**Environment**
OS: Mac
PHP version: 7.4
Installed Codeception version: 4.1.11
Installed wp-browser version: 2.6.16
WordPress version: 5.5.3
Local development environment: Lando
WordPress structure and management: Default

**Can you perform the test manually?**
N/A

**Codeception configuration file**

[code]

**Describe the bug**
I'm quite new to wp-browser and _really_ enjoy it so far. I'm in the

[2020-11-13 07:56] lucatume commented on #470
@jchristopher you're mixing modules meant for different types of testing and might be the root cause of the issue.

I would not say you're doing something wrong as much as something unusual and a bit of an edge case.

The `WPLoader` module alone should correctly handle the creation of custom tables if correctly set up in the plugin. You can try this out using WooCommerce, which has a number of the

[2020-11-13 12:11] jchristopher commented on #470
This is my situation — I have a method hooked in to `init` that executes functionality based on the possibility of other hooks running before then.

I'm using https://github.com/berlindb/core to facilitate everything with my custom tables, and some logic I have also depends on the possibility of other hooks in use.

I'll review what it may look like to extract the table instantiation to no longer

[2020-11-13 12:43] lucatume commented on #470
Setting up custom tables on `init` is reasonable assuming the normal WordPress flow.
This is the case for the user or wp-cli usage, but not for integration tests where the plugin is activated and is expected to perform its set up in the activation hook.

My rule of thumb is, usually, if I can make it work in tests I should have code that is a bit more robust; hence I will try to make it work there

[2020-11-13 12:44] jchristopher commented on #470
Great, thank you — I very much appreciate you taking the time to offer that advice, and very much appreciate wp-browser!

[2020-11-13 12:47] lucatume commented on #470
Thanks, I'm never excluding bugs, though and now am curious to see this work correctly.

Would you be able to share some sudo/anonymized code for me to test out? It does not need to contain all the logic, just the one related to custom tables.

[2020-11-13 12:51] jchristopher commented on #470
I've just added you to the (private) repository and everything is in the `4.1` branch. It's a Lando setup and it sounds like you are familiar with that, but if chatting in more detail over email makes more sense than in this Issue for the time being I am happy to provide more detail there and we can summarize what we find in this Issue if you'd like. 👍

[2020-11-13 13:50] lucatume commented on #470
Ok, received the invite.
Since it's a private repository, let's continue via email (since you're a sponsor, thanks) and I will post the findings here for anyone else that might stumble on this.

[2020-11-24 03:32] #460 closed

[2020-11-24 03:32] #458 closed

[2020-11-29 01:15] alexkuc commented on #468
This might be helpful to others. In case you have composer v2 installed globally, you can override it by using project-specific setting:

[code]

[2020-11-29 12:50] lucatume commented on #468
@alexkuc thanks for sharing the tip.

I'm currently working on the update and that will become version `3` of wp-browser.

Will update this ticket when that is out.

[2020-12-01 14:58] lucatume commented on #470
@jchristopher Could you confirm the fix is working?

[2020-12-01 14:59] #468 closed

[2020-12-01 15:06] lucatume commented on #468
And this is done.

[2020-12-01 15:11] jchristopher commented on #470
Confirmed — the issue was custom database creation table happening during `init` as opposed to plugin activation. Moving table creation to plugin activation was the solution in this case. Thank you!

[2020-12-01 15:11] #470 closed

[2020-12-07 23:52] dale42 opened #474 "[BUG] init wpbrowser error: Unexpected characters near " " at line 20 (near "title: "Test" ")"
**tl;dr**

Running `vendor/bin/codecept init wpbrowser` and answering the prompts produces the error message:
[code]

I believe the problem is white space on line 619 of src/Codeception/Template/Wpbrowser.php

**Environment**

|   |   |
|---|---|
| OS:                            | macOS 10.15.7 |
| PHP version:                   | 7.4.12 |
| Composer version               | 2.0.1 |
| Installed Cod

[2020-12-07 23:58] dale42 commented on #474
Have created a pull request: fix: Remove space characters causing yml parse error #475

[2020-12-08 08:30] lucatume commented on #474
@dale42 thanks for taking the time to report the issue, provide the information and provide a PR as well.

I've "wrapped" your PR into one of mine to check on the build and add a changelog entry.

[2020-12-08 09:16] lucatume commented on #474
@dale42 I've merged your PR, thanks.

I'm closing this now, let me know if there are any further issues with this.

[2020-12-08 09:16] #474 closed

[2020-12-16 01:39] alexkuc opened #477 "[DOC BUG] WPDB->dontSeeOptionInDatabase()"
**wp-browser version**
`^3.0`

**Link**
https://wpbrowser.wptestkit.dev/modules/wpdb#dontseeoptionindatabase

**Issue**
Docs give the following example:

[code]

When I run that,  I get error

[code]

When I look at the function

https://github.com/lucatume/wp-browser/blob/336ed61f0ea3000c300f521f19a13c7c9f7f2c3e/src/Codeception/Module/WPDb.php#L303-L310

I can see that this function accepts array

[2020-12-16 08:56] lucatume commented on #477
@alexkuc thanks for reporting the issue/inconsistency.

I think the way to go would be to format the parameters the same way the [seeOptionInDatabase](https://wpbrowser.wptestkit.dev/modules/wpdb#seeoptionindatabase) method does, with name and value or just name.

For back-compatibility purposes, I will try to keep the current behavior based on an array of criteria.

[2020-12-16 15:58] alexkuc commented on #477
@lucatume

I think a simple PR to update the docs would be sufficient for the time being. I think can I find some time to do that. What do you think?

[2021-01-04 10:55] alexkuc opened #478 "[SETUP ISSUE] Clean database *after* running tests"
**Environment**
OS: Mac High Sierra
PHP version: 7.4.2
Installed Codeception version: 4.1.14
Installed wp-browser version: 3.0.2
WordPress version: 5.6
Local development environment: MAMP Pro
WordPress structure and management: default

After running `acceptance` tests, my frontend is white screen (backend works fine).

Investigating further reveals:

[code]

In other words, no theme is selected (

[2021-01-04 11:41] alexkuc commented on #478
I think I figured out the issue. Out of the box, `codecept init wpbrowser` generates the following `.env.testing` (part of it):

[code]

However, `TEST_SITE_DB_HOST` and `TEST_SITE_DB_NAME` is not used anymore [according to docs](https://wpbrowser.wptestkit.dev/modules/wpdb#configuration) (only DSN which contains hostname and db name).

Maybe boilerplate generator should be updated to exclude `TES

[2021-01-04 14:59] alexkuc opened #479 "Different databases for different modules"
When using `WPBrowser` and `WPDb`, unless you use the same database for Wordpress installation and Codeception suite, you can run into funny issues such as:

- `wpdb` scaffolds entries
- trying to access the same entries via `WPBrowser` leads to issues where entries are not there

So as per my understanding, `WPBrowser` is essentially a `PHPBrowser` adapted specifically for Wordpress usage. As suc

[2021-01-04 15:13] alexkuc commented on #479
Extra info:

Up to this point, I was using a single Wordpress installation both, to develop code and run test suites. But then I had to create data fixtures using `WPDb` and had to point both modules to the same database. To avoid losing any temporary development data, I set up a new separate Wordpress instance purely for running tests. So now I have `website.local` which I use for debugging and d

[2021-01-04 15:14] lucatume commented on #479
@alexkuc,

The reason why you *can* point `WPDb` to a different database from the one used by the WP installation that is serving the `WPBrowser` module requests is twofold:

1. You are running more complex tests and need the flexibility.
2. It's not easy to consistently pick up the correct DB coordinates from the WordPress installation.

Between the `WPDb` and `WPBrowser` modules, only one (`WPDb

[2021-01-04 15:24] lucatume commented on #479
Did you try this? https://wpbrowser.wptestkit.dev/tutorials/automatically-change-db-in-tests

I, myself, prefer using code fixtures over db ones. Try to add use [WPLoader in loadOnly mode](https://wpbrowser.wptestkit.dev/modules/wploader#wploader-to-only-bootstrap-wordpress): if you have good APIs supporting your code and good models, that will get you far.

E.g. I'd rather write this:

[code]

Th

[2021-01-04 15:32] lucatume commented on #477
@alexkuc I'm fixing the issue and normalizing both ways of using the methods to support name and value tuples and an array of criteria. That seems a bit more consistent and would keep back-compatibility.

Thanks for the offer, though (sorry for the late reply, I was out).

[2021-01-04 16:25] #477 closed

[2021-01-05 08:36] alexkuc commented on #479
Thank you very much @lucatume for pointing me to that link. It helped me a lot! I have put together a more flexible code so I will post it below it case it helps someone else:

[code]

So instead of hardcoding the value in `wp-options.php`, the value is passed by `WPBrowser` (header `TEST_SITE_DSN`) from which `dbname` is extracted.

Since the issue is resolved, I will mark it as closed.

[2021-01-05 08:36] #479 closed

[2021-01-05 08:41] lucatume commented on #479
@alexkuc thanks for getting back to the issue and posting your solution, much appreciated.

Happy coding!

[2021-01-05 18:09] lucatume commented on #478
@alexkuc Thanks for reporting the issue.

I will look into this and update this issue with news.

[2021-01-05 19:27] alexkuc commented on #478
@lucatume maybe this is not a bug but essentially, after running `WPDb`, database entries `template` and `stylesheet` are missing from `wp_options` table (this does not affect me really - I am now using a separate database for development and testing - so this can be closed)

[2021-01-19 14:28] dingo-d opened #484 "[BUG] Call to undefined method testClass::getAnnotations()"
**Environment**
OS: MacOS 11.1
PHP version: 7.4.13
Installed Codeception version: 4.1.15
Installed wp-browser version: 2.6.17
WordPress version: 5.6
Local development environment: Laravel Valet
WordPress structure and management: default

**Can you perform the test manually?**
The feature I'm testing works when running from browser.

**Codeception configuration file**

[code]

**Suite configuratio

[2021-01-24 08:56] alexkuc opened #485 "wpcli has no sub-modules"
**Environment**
OS: Mac
PHP version: 7.4
Installed Codeception version: 4.1.15
Installed wp-browser version: 3.0.5.1
WordPress version: 5.4
Local development environment: MAMP Pro
WordPress structure and management: default

I am using wp-cli but it has no sub-modules for some reason.

Repository: https://github.com/alexkuc/wpbrowser-issue-485

Here is the output:

[code]

What am I doing wrong? W

[2021-01-24 08:59] alexkuc commented on #485
When I try to run sub-modules like plugin or theme, here is the output I get:

[code]

[2021-01-24 09:06] alexkuc commented on #485
Derp, so I found the solution: https://github.com/wp-cli/wp-cli/issues/4900#issuecomment-411637413

I would recommend updating [docs for wp-cli plugin](https://wpbrowser.wptestkit.dev/modules/wpcli) as they do not mention that I need to explicitly require wp-cli as a dependency.

In particular, this wording is confusing:

[code]

The way I understood it is that wp-cli dependency is not required as

[2021-01-25 08:37] lucatume commented on #485
Hi @alexkuc,

your project should not require wp-cli as a dependency, but its modules.

In the project [composer.json file](https://github.com/lucatume/wp-browser/blob/master/composer.json#L30) I'm requiring the `wp-cli/wp-cli` package, but I'm not requiring the `wp-cli/wp-cli-bundle` package.
The `wp-cli/wp-cli-bundle` package will include *all* wp-cli modules and that could not be what one needs

[2021-01-26 11:00] #485 closed

[2021-01-26 11:02] lucatume commented on #485
@alexkuc,

the [documentation update](https://wpbrowser.wptestkit.dev/modules/wpcli#fixing-not-a-registered-command-issue) should take care of this, let me know if that reads clear enough to you.

[2021-01-27 06:18] alexkuc commented on #485
@lucatume

This is perfect, thank you!

[2021-02-05 16:59] lucatume commented on #484
@dingo-d I have just seen that and missed the notification completely...

I will look into this next.

[2021-02-07 01:00] alexkuc opened #487 "activateTheme() method for WPBrowser module"
How come [WPBrowser](https://wpbrowser.wptestkit.dev/modules/wpbrowser) module does not have a method `activateTheme()` but has `activatePlugin()`?

As a workaround, what is the recommended way to activate theme? I know `WPDb` has `useTheme()` but it does not fire any hooks or filters so it is not really appropriate. Maybe wp-cli?

[2021-02-07 19:57] alexkuc commented on #487
Looking at `activatePlugin` (and related methods), this looks like a fairly straight forward way to implement it. If @lucatume don't object, I can give it a shot at creating a PR for this

[2021-02-08 08:17] lucatume commented on #487
@alexkuc,

thanks for opening an issue to report this.

You are correct: the `WPDb` module does have a `useTheme` method, but that method will not apply the full, user-like, flow.

A `activateTheme` (or should it be `switchTheme`?) method should have an implementation available both in the `WPBrowser` module and in the `WPWebDriver` one.

I have to work on the code for #484, I might, as well, get

[2021-02-08 15:03] alexkuc commented on #487
@lucatume

Hopefully this week I will have to look into this 👨‍💻

[2021-02-08 17:55] #478 closed

[2021-02-09 18:26] lucatume commented on #484
@dingo-d I'm looking into this: what PHPUnit version was installed?

[2021-02-10 08:59] dingo-d commented on #484
The PHPUnit version was 9.5.1. It's not a priority now, but I never saw this issue, and on other projects, it worked fine. So it was a bit odd 🤷🏼‍♂️

[2021-02-16 05:27] ChiragGupta-CEDCOSS opened #491 "[DOC BUG]"
**wp-browser version**
For what version of wp-browser is this for? [e.g. 2.2.2]

**Link**
https://wpbrowser.wptestkit.dev/modules/wploader#usage-in-integration-or-wordpress-unit-tests

**Issue**
In this "public funcion test_posts($post_id)" line of code the 'funcion' should be 'function'.

[2021-02-16 08:10] lucatume commented on #491
@ChiragGupta-CEDCOSS thanks for reporting this, I will proceed to the fix asap.

[2021-02-16 08:13] #491 closed

[2021-02-24 18:23] calvinalkan opened #492 "[SETUP ISSUE] WpUnit tests cant connect to database. Every other suite can."
**Environment**
OS: [Mac]
PHP version: [7.4]
Installed Codeception version: [4.1.18]
Installed wp-browser version: [latest]
WordPress version: [5.6]
Local development environment: [Valet]
WordPress structure and management: [default]

**Did you use the `codecept init wpbrowser` command?**
Yes

**Did you take a look at Codeception and wp-browser documentation?**
Yes

**Codeception configuration fil

[2021-03-04 20:00] Borlabs-Ben commented on #492
Try **127.0.0.1** instead of **localhost**. I had the same issue today and this worked for me.

[2021-03-05 07:17] lucatume commented on #492
@calvinalkan sorry for the late reply and thanks for asking the question.

As suggested by @Borlabs-Ben, I would try using `127.0.0.1` for the db host in place of `localhost`.

As a general rule, the first step to debugging this kind of issue is to try using the `mysql` or `mariadb` clients from the command line specifying exactly the same connection credentials, host, and ports, and see if it wor

[2021-03-20 00:03] calvinalkan commented on #492
Hey @lucatume , thanks for the reply. I'm a bit busy right now but I'll check this within the next week and report back.  Greetings, Calvin

[2021-03-23 01:38] hatchjaw commented on #419
I had the same issue as @dingo-d; preg_match in DbDump::getOriginalUrlFromSqlString() was failing to match the original URL. Clearing transients (`wp transient delete --all`), then re-dumping the database seemed to sort it out for me. It's not clear which transient may have been causing the problem (maybe something WooCommerce-related).

Interestingly, even with the working dump, regex101 encounte

[2021-03-23 07:48] lucatume commented on #419
@hatchjaw this is worth taking a second look at.

The current solution is not quite as robust as I would like, and the best way to mitigate this is to set the `originalUrl` explicitly in the [module configuration](https://wpbrowser.wptestkit.dev/modules/wpdb).

Next time I work on the code I will spend some time reviewing this.

[2021-03-24 14:16] hatchjaw commented on #419
Thanks @lucatume. I had some success with `originalUrl`, but the suspicious part of me wondered what else I might be overriding by setting that in config, particularly since it's not used in any of the examples I could find. Glad to know that's the recommended workaround.

[2021-03-31 02:31] calvinalkan commented on #492
Checked with 127.0.0.1 and this fixes it.

[2021-03-31 02:31] #492 closed

[2021-04-07 21:26] calvinalkan opened #494 "[BUG|Documentation error ] Possible bug with WpTestCase and Transactions."
In the docs for the WpLoader Module is says that:

"Inspection of the database during tests, e.g. stopping execution using XDebug, will not show any change in the database. Keep this in mind while trying to debug integration tests using the WPLoader module.
**When configured to only load WordPress (loadOnly: true) then any database operation will be committed and written to the database.**"

Howev

[2021-04-07 21:56] calvinalkan opened #495 "[DOC BUG] better description of populate and cleanup."
I spent one hour debugging why WPDb was not clearing up the database after a test.

I had set up a test suite with only one test method for testing purposes.

Running that one test never did reset the database.

When I dug into the DB module in codeception it became clear why that happens. `cleanup()`is only executed before a tests start, not after a test has finished, which is what I assumed.

Be

[2021-04-08 07:12] lucatume commented on #494
Hi @calvinalkan, thanks for opening the issue.

Ideally, the `WPLoader` module should be used in `loadOnly: true` mode *only in acceptance and functional tests*, where the `WPdb` module will handle and set up the database by means of a dump, where one is either writing [Cest or Cept kind of tests](https://codeception.com/docs/07-AdvancedUsage#Cest-Classes), *not* when writing integration tests ext

[2021-04-08 07:21] lucatume commented on #495
@calvinalkan I've just updated the documentation following your suggestion, thanks.

[2021-04-08 07:22] #446 closed

[2021-04-11 00:53] calvinalkan commented on #494
I see, I have been using this combination the whole time but there never once was an exception thrown. But yea its kind of confusing with WpTestCase and WpLoader.

My use case is the following:

I'm currently developing an open-source project myself that aims to replicate laravels eloquent orm in a lean and WordPress-optimized way.

Eloquent is used as a query builder but `$wpdb` serves as the con

[2021-04-11 20:46] edpittol opened #496 "[FEATURE REQUEST] Fake data"
**Is your feature request related to a problem? Please describe.**
I'm needing to create code to generate testing data. It is clearer to understand the dataset that is being tested.

**Describe the solution you'd like**
Create a connector between wp-browser and Codeception that make it working as an ORM module too.

https://codeception.com/docs/09-Data.html#ORM-modules

**Describe alternatives you

[2021-04-12 07:43] lucatume commented on #494
Thanks for taking the time to provide context and an explanation.

First: there is no *wrong* way of testing as long as you get the job done. I'm not saying this for good feeling: I think "right and wrong ways of testing" *really* hurt testing adoption and put in place useless gate-keeping that confuses adopters when they start, and practitioners when they face each other. Providing help and guida

[2021-04-13 15:29] calvinalkan commented on #494
Thank you for your suggestions.

Yea I already figured that I could use WpDb just for the tests methods. I did that and it drastically speeds up integration tests for sure.

But it brings its different set off issues.

For example, I currently have a working implementation of the laravel schema builder done in WordPress using wpdb.

In other tests ( models, query builder etc), I'll use the schema

[2021-04-13 16:25] calvinalkan opened #497 "[BUG] Running unit and WpTestCase tests in one command leads to mysqli erros in wpdb."
I think I might have found a bug that is related to how dispatching handles event dispatching.

Given the following two tests:

[code]

[code]

Running `vendor/bin/codecept run tests` leads to the following error inside the wpdb class:

[code]

Running  `vendor/bin/codecept run unit` and `vendor/bin/codecept run integration` works fine as expected.

After hours of debugging, I found out the root c

[2021-04-14 11:09] #267 closed

[2021-04-14 11:10] #268 closed

[2021-04-14 11:10] lucatume commented on #370
This has been partly tacked in later releases, closing.

[2021-04-14 11:10] #370 closed

[2021-04-14 11:15] lucatume commented on #494
@calvinalkan reading this, it looks like you've found a way to get to the testing setup you're looking for, am I correct?

If so, would you mind letting me know if I can close the issue or if there's some other issue you ran into?

[2021-04-14 11:20] lucatume commented on #496
@edpittol thanks for proposing the change.

I've got questions, though, as you did not mention it in your description:

1. Did you try to use [WPDd direct-access db methods](https://wpbrowser.wptestkit.dev/modules/wpdb#havemanypostsindatabase) to generate the test fixtures? If so, what issues or limit are you running into? This is an option for functional and acceptance level of testing.
2. If you

[2021-04-14 11:26] lucatume commented on #497
Ah, old issue and there is not really much I can do about it due to WordPress love for side effects and global.
Due to all the places where WordPress is loaded (e.g. in Acceptance context with WPLoader `loadOnly: true`) this is really a rat-race that I've already tried to tackle creating more issues than I was resolving.

[See the documentation.](https://wpbrowser.wptestkit.dev/faq#can-i-run-all-m

[2021-04-14 11:29] lucatume commented on #497
Your suggestion is a good one, though.
I would not mix unit tests and integration tests (any test case based on `WPTestsCase`) in my own code, but I would like to explore your suggestion and see what could come of it. If it turns out to be a low lift to support this, why not?

[2021-04-16 03:27] calvinalkan commented on #494
Yes, I'm closing this. Thank you very much for the help.

[2021-04-16 03:27] #494 closed

[2021-04-16 03:30] calvinalkan commented on #497
Yea I get why you`d run them separately. Still annoying tho. My "fix" is working fine tho. Testing this for two days.

Do you want me to commit a pr?.

I'm maintaining a work of wp-browser, but the only changes I made are to the constant names in the .env.file.

I renamed the database that gets flushed during transactions to FLUSABLE_DB_XX instead of TEST_DB_XX.

I always confused TEST_SITE_DB_NAM

[2021-04-16 07:06] lucatume commented on #494
I wanted to react with a thumbs-up. Then clicked the wrong icon: thumbs-up and thanks.

[2021-04-16 07:14] lucatume commented on #497
I would like to try this out on my own testing some lesser common scenarios; if your fix could solve your problem while not introducing others, it would be great.

Naming things is hard: different people will call things in different ways and there was a lot of drama, at one point, over how to call what. Once one gets the naming of env vars is not set in stone, but merely an initial suggestion, it

[2021-04-18 17:22] calvinalkan commented on #497
There is still one issue with my solution being that the first time you run a WpTestCase the `_setUpBeforeClass` method is not executed because the variable is only set later in `_setUp()`.

Maybe we could use codeceptions suite bootstrap files. But they need to be executed because the test case or it wont work.

Another question @lucatume.

I notice that when I run tests that extend with `WpTestC

[2021-04-19 04:03] edpittol commented on #496
@lucatume Excelent questions. They made me reflect about the possibilities.

I use the wpdb direct access functions to generate data. But I didn't know about the `$I->factory()` it can be a solution combined with the loadOnly.

I will test this way. Thanks for the pertinents questions.

[2021-04-19 07:13] lucatume commented on #497
The issue here is that the solution would make running all the tests using `codecept run` possible only in a set of scenarios where the only tests set up are unit and integration using the `WPLoader` module.
WordPress use of globals and side-effects would make itself apparent by means of constants and globals making the whole experience pretty miserable.
I'm willing to explore the solution, but I

[2021-04-19 07:21] lucatume commented on #484
Closing this as I could not reproduce locally and could not track down the issue source.

[2021-04-19 07:21] #484 closed

[2021-04-19 07:22] lucatume commented on #496
@edpittol you're welcome.

If you have the time, I would like to know if, and how, you solved the problem.
No pressure, just out of curiosity.

[2021-04-19 09:42] dingo-d commented on #484
Yeah, it could have been a fluke on the project 🤷🏼‍♂️  Thanks for the help 👍🏼

[2021-04-20 19:39] Germain-Italic commented on #466
Thank you @lucatume you saved me after 2 hours of digging.

Opening a ticket to have https://codeception.com/for/wordpress updated.

[2021-05-03 14:11] skydev2020 opened #498 "[SETUP ISSUE] Configuration in CircleCi"
**Environment**
OS: CircleCi
PHP version: 7.2
Installed Codeception version: 4.0
Installed wp-browser version: 3.0
WordPress version: 5.4

**Did you use the `codecept init wpbrowser` command?**
No: Instead I pushed the generated tests/_suite, _support, acceptance ,acceptance.suite.yml and codeception.dist.yml file.

**Did you take a look at Codeception and wp-browser documentation?**
Yes I did

**

[2021-05-03 17:31] aberkow opened #499 "All pages created with havePageInDatabase lead to 404 errors"
This is _probably_ not a bug? It's more likely that I've done something wrong setting up wp-browser, but I can't figure out quite what. I'm using a docker-compose set up with the official WP docker image for the server. Then, I have two mysql db containers. One for testing and the other for development. I added mysql dump file to my project at `/tests/_data/dump.sql`. I also was able to initialize

[2021-05-04 07:09] lucatume commented on #499
Hi @aberkow,

thanks for taking the time to open an issue and ask.

Reading your configuration files I do not see anything that seems incorrect. These are the 2 things I would check:

1. The `WPDb` module is using the host and database defined in the `TEST_SITE_DB_DSN` env var: is that the same database host and name that the `WPBrowser` module is hitting? I've seen cases where the issue was that

[2021-05-04 08:58] lucatume commented on #498
Hi @skydev2020, thanks for taking the time to report the issue and provide details.

I would check these:
1. If your `codeception.dist.yml` configuration file says the tests should look for a `.env.testing` configuration file and that is not committed, then that is probably the issue. You know this better than I do, so take this with a grain of salt: I usually only put non-sensitive data in the `.

[2021-05-04 13:15] aberkow commented on #499
@lucatume thanks very much for getting back to me 🙂

I re-read the link you supplied and noticed a small discrepancy between my `wp-config` file and the one you showed. I had tested for `$_SERVER['X_TEST_REQUEST']` and `$_SERVER['X_WPBROWSER_REQUEST']` to switch between my local/dev database and the testing one. However it should have been `$_SERVER['HTTP_X_TEST_REQUEST']` and `$_SERVER['HTTP_X_WP

[2021-05-04 13:15] #499 closed

[2021-05-04 13:17] lucatume commented on #499
@aberkow thanks for getting back to me with the solution.

I would absolutely be open to a PR, thanks.

[2021-05-04 23:02] skydev2020 commented on #498
I use normal for acceptance.suite.yml.
Some of the contents are like this.
    user: '%TEST_SITE_DB_USER%'
  But when this is executed in circleci, it gives the error like %TEST_SITE_DB_USER% is not defined.
I tested using both of way, using CircleCI environmental variables in CircleCI website and circleci config.yml environments variable.
[code]
Do you have any idea why these values are not pulle

[2021-05-05 01:34] skydev2020 commented on #498
and when I run acceptance testing on circleci, how should I run the wordpress site in circleci?
I have an error in this command.
[code]
And it generates error

[2021-05-05 07:08] lucatume commented on #498
I would not know about your particular Circle CI configuration and I cannot debug it without access to it.

Could you elaborate on what this means?

Before you run a test, make sure WordPress is up and running, in Circle CI context, where you expect it to. Make some `curl` checks on the homepage and login page before you try to connect to it using Codeception and wp-browser.

I _think_ the credent

[2021-05-06 22:53] skydev2020 commented on #498
I found the solution.
There were options to load the environment variable from .env file, .php file, .xml or environment variables in codeception.dist.yml file.
I load the variables from environment like:
[code]

[2021-05-06 22:54] #498 closed

[2021-05-10 22:13] robruiz opened #501 "Acceptance tests wont run - timeout"
**Environment**
OS: Windows 10
PHP version: 7.4
Installed Codeception version: 4.1.20
Installed wp-browser version: latest
WordPress version: 5.7.1
Local development environment: Local (by Flywheel) version 5.10.3
WordPress structure and management: default

**Can you perform the test manually?**
Yes

**Codeception configuration file**
`
actor: AcceptanceTester

extensions:
  enabled:
    - Codece

[2021-05-11 06:55] lucatume commented on #501
@robruiz thanks for taking the time to report the issue.

A timeout usually indicates a site that is either not reachable by the tests, or not responding.
1. Could you try to run the tests using the `--debug` flag and look what comes out of it?
2. Could you confirm the db dump is correctly set up and contains valid SQL for your starting fixture?
3. I see the `npm run end2end` process running befor

[2021-05-19 12:37] skydev2020 opened #502 "Populate: true option doesn't clear/drop the database before test"
**Environment**
OS: Ubuntu
PHP version: 7.2
Installed Codeception version: [e.g. 2.5.0]
Installed wp-browser version: 4.1.20

**Did you use the `codecept init wpbrowser` command?**
Yes

**Did you take a look at Codeception and wp-browser documentation?**
Yes a lot

**Codeception configuration file**

[code]

**Suite configuration file**
If you're encountering an issue with a specific suite, please

[2021-05-19 13:39] skydev2020 opened #503 "Failure at loadSessionSnapShot: [Facebook\WebDriver\Exception\UnknownCommandException] unknown command: unknown command: session/043b61bb0f3edad9ee3af04a305fd21b/cookie/_lr_hb_-mbf2js"
**Environment**
OS: Ubuntu
PHP version: 7.2
Installed Codeception version: 4.1.20
Installed wp-browser version: 3.0

**Can you perform the test manually?**
Yes I am doing a manual testing using this command.
vendor/bin/codecept -vvv run acceptance _InitializeCest

**Codeception configuration file**
Paste, in a fenced YAML block, the content of your Codeception configuration file; remove any sensit

[2021-05-20 06:50] lucatume commented on #502
Hi @skydev2020,

from the look of it, it looks like the issue might be that, in the SQL file the `WPDb` module is importing, the `tests/_data/lasso_test.sql` one, there is no `DROP TABLE IF EXISTS` statement.
The reason that, by default, the `Db` module, from Codeception, or the `WPDb` module from wp-browser will not do that is that multiple SQL dump files can be imported and composed to create th

[2021-05-20 06:57] skydev2020 commented on #502
@lucatume it might work, but my question is about `populate: true`
According to documentation this option will empty the database before running tests without any Sql command inside dump file.
Can you confirm this please?

[2021-05-20 06:59] lucatume commented on #503
Hi @skydev2020,

In the second test, you're _assuming_ you've logged in as administrator already, but that is not the case.

Part of the login lives in the database, and I guess that is why you're not dropping the database between tests, and part of the login lives in the cookies stored in the browser session.
Each test that requires login as admin should have its own login step, ideally in the `_

[2021-05-20 07:00] lucatume commented on #502
No, that is not what it does and the name is pretty indicative: it will populate the database, from the dump(s) once, before all tests run.

[2021-05-20 07:01] skydev2020 commented on #502
@lucatume I see, it is the option for just loading dump file and it doesn't do anything with clearing database right?

[2021-05-20 08:09] skydev2020 commented on #502
@lucatume after I add `DROP TABLE IF EXISTS` it works fine.
Thanks for your quick help.

[2021-05-20 08:09] #502 closed

[2021-05-20 08:35] skydev2020 commented on #503
@lucatume I applied to use snapshot and it successfully saves/loads the session snapshot but the result is still same.
[code]

And debug error message:
![image](https://user-images.githubusercontent.com/57546027/118946791-530dbf00-b989-11eb-98ff-a96bf2af0e18.png)

[2021-05-20 11:06] lucatume commented on #502
It loads a SQL dump file, and that is really a set of SQL instructions that could have nothing to do with inserting data into the database.

The name "dump" is misleading in that sense: it's a dump of instructions, that might include a dump of information.

The database clearing is up to the instructions in the dump(s).

[2021-05-21 06:45] skydev2020 commented on #503
@lucatume do you have any idea about this please?

[2021-05-21 07:03] lucatume commented on #503
I would save the session snapshot right after the `$I->loginAsAdmin()` call, not after the test body executed.
If the failure persists, then take snapshots at each step to debug.

[2021-05-21 07:06] skydev2020 commented on #503
@lucatume But `activatePluginTest` is doing an activation (not wordpress plugin activation) and 2nd test should work only after activatePluginTest is completed.
But why the it can't load the page although loadSnapshot is successfully loaded.

[2021-05-28 04:23] lucatume commented on #503
I would not know without looking at the code, what's in the screenshots?

[2021-05-28 04:25] lucatume commented on #497
@calvinalkan what's the status on this? I would like to either test a PR for this or close the issue.

[2021-06-01 23:01] stracker-phil commented on #419
I ran into the same issue today, and after adding a few debug outputs to DbDump.php I found the problem:

The regular expression in function `getOriginalUrlFromSqlString()` due to so-called "[catastrophic backtracking](http://www.regular-expressions.info/catastrophic.html)".

### The problematic regex:

``/INSERT\s+INTO\s+`wp_options`.*'(home|siteurl)'\s*,\s*'(?<url>[^']+)'/uis``

The problem is c

[2021-06-02 02:57] EvanShaw commented on #419
@stracker-phil
You are a life saver.

I noticed this same problem when testing two different dump files with the same exact URL to replace. One would fail and the other succeed. The only difference was their respective size. I'm not enough of a regex guru to spot the catastrophic backtracking problem so I was completely stumped.

Thanks for fixing this!

[2021-06-02 07:55] lucatume commented on #419
Thanks @stracker-phil  for the PR, I've wrapped it to have all the tests running on it and will release as soon as I'm able to.

[2021-06-02 15:15] lucatume commented on #419
Follow up: [the fix is in and merged.](https://github.com/lucatume/wp-browser/releases/tag/3.0.7)

[2021-06-02 17:26] calvinalkan commented on #497
@lucatume Yes please, go ahead and close this for now. If I get to it in the future Ill submit a PR.

[2021-06-03 15:33] #496 closed

[2021-06-03 15:34] #497 closed

[2021-06-03 15:34] lucatume commented on #501
Closing as stale.

[2021-06-03 15:34] #501 closed

[2021-06-03 15:34] lucatume commented on #503
@skydev2020 any news on this?

[2021-06-04 00:18] skydev2020 commented on #503
@lucatume I missed your message which was sent around 7 days ago, I will provide more result.
And thanks for getting back to me.

[2021-06-07 12:17] skydev2020 commented on #503
@lucatume this is the full source code below.
[code]

[2021-06-07 22:42] skydev2020 commented on #503
@lucatume I changed the code a little bit to check loadSessionSnapshot is correctly working.
I merged the two sections of code into one and I get this error.
I think it will give your more correct detail
[code]

And this is the error message.
[code]

And screenshot as well.
![image](https://user-images.githubusercontent.com/57546027/121096352-a48cc980-c824-11eb-82d7-f1e3f2701296.png)

[2021-06-11 14:52] dingo-d commented on #445
Hi! I seem to be having the same issue as the above. My error is

[code]

My `Acceptance.suite.yml` file looks like this:

[code]

The .env.testing looks like

[code]

I'm testing this inside WSL2 on Windows 10 so it's running on Ubuntu 20.04 with PHP 7.4.3 (with valet for wsl)

Any idea what am I doing wrong?

[2021-06-24 11:15] charlesdeb opened #507 "[DOC REQUEST] Examples to override built-in WPBrowser (and friends) methods"
**Did you search the documentation first?**

Yep - and the codeception stuff too

**What do you think is missing from the documentation?**

I'd like an example showing me how I can override one of the WPBrowser methods. In my use case, I can't just use `loginAs` because I have a third-party authorisation plugin in place which means the normal WP login stuff is diverted. I have been tearing my hair

[2021-06-28 14:06] Luc45 opened #508 "[DOC BUG] WPLoader with loadOnly true also executes in transaction"
**wp-browser version**
3.0.6

**Link**
https://wpbrowser.wptestkit.dev/modules/wploader#everything-happens-in-a-transaction

**Issue**
My understanding is that `WPLoader` with `loadOnly` true will execute the queries without wrapping them in a transaction. However, [WPTestCase](https://github.com/lucatume/wp-browser/blob/master/src/Codeception/TestCase/WPTestCase.php) does not take this parameter

[2021-06-29 07:50] lucatume commented on #508
The transaction wrapping comes from the `WPTestCase` class, if you use that as base test case, then it will use transactions.

To answer your question:

Yes, or any other test case that is not using the `WPTestCase` class. The `loadOnly` parameter was added to load WordPress code in the context of Cest and Cept tests, where the `WPTestCase` will never be the parent test case.

It is not an unexpec